/**
 * @version 1.0
 * @package: Admin Panel
 * @category: Admin UI
 * @author wpdevelop
 *
 * @web-site http://oplugins.com/
 * @email info@oplugins.com 
 * 
 * @modified 2015-04-11
 */

/* Admin Content Pages */
.oper_page .oper_admin_page .oper_header_margin {
    height:10px;
}
/* Collapse & expand elements in settings meta boxes */
.oper_page .meta-box .postbox .handlediv {
    background: url("../../assets/img/arrows.png") no-repeat scroll 5px -27px transparent;
}
.oper_page .meta-box .postbox.closed .handlediv {
    background-position:5px 10px;
}
.oper_page .meta-box .postbox .handlediv:hover {
    cursor: pointer !important;
}
.oper_page .meta-box .postbox .hndle:hover {
    cursor: default !important;
}

/* Settings Menuboxes */
.oper_settings_row.oper_settings_row_left {
    width:64%; 
    float:left;
    margin-right:1%;
}
.oper_settings_row.oper_settings_row_right {
    width:35%; 
    float:left;
}

/* Set  switched Meta Boxes size*/
.oper_settings_row.oper_settings_row_left_small {
    width:35%; 
}
.oper_settings_row.oper_settings_row_right_big {
    width:64%;
}
/* FixIn: 7.0.1.54 */
.oper_page input::-moz-placeholder,
.oper_page textarea::-moz-placeholder{
  color: #ccc;
  opacity: 1;
}
.oper_page input:-ms-input-placeholder,
.oper_page textarea:-ms-input-placeholder{
  color: #ccc;
}
.oper_page input::-webkit-input-placeholder,
.oper_page textarea::-webkit-input-placeholder{
  color: #ccc;
}

/* iPad mini and all iPhones  and other Mobile Devices */
@media (max-width: 782px) { 
    /* Settings Top TABS */
    .oper_page .oper_admin_page .metabox-holder .oper_settings_row {
        width:100%;
        float:none;
    }
    .oper_text_hide_mobile {
        display:none;
    }
}
