#ncwm-woocommerce-migration .ncwm-subs-field {
    padding: 10px;
    background: #f5f5f5;
    border: 1px solid #bbb;
    border-radius: 5px;
    margin: 30px 30px 10px 10px;
}
#ncwm-woocommerce-migration ul, #ncwm-woocommerce-migration li {
    list-style: disc;
    list-style-position: inside;
}
@media screen and (max-width: 782px) {
    #ncwm-woocommerce-migration .ncwm-subs-field {
        margin: 20px 20px 10px 10px;
    }
}