.edd-search ul{
	list-style: none;
}
.edd-search{
	position: relative;
}
.edd-search .edd-search-result ul{
	position: absolute;
	top: 42px;
	left: 0;
	z-index: 1000;
	background-color: #fff;
	border: 1px solid #eee;
	width: 100%;
	margin: 0;
	padding: 10px;
}
.edd-search ul li {
	padding: 5px 8px;
	text-decoration: none;
}
.edd-search ul li:hover{
	background-color: #e2e1e1;
}
.edd-search input[type="text"]{
	width: 100%;
	padding: 10px;
}