.gainurl-wrap{
	width: 750px;
    margin:20px 0 0;
    background-color:#fff;
	padding:20px 30px;
}
.gainurl-wrap .btn{
	background: #52c4ef;
    text-decoration: none;
    border-radius: 3px;
    display: block;
    height: 30px;
    border-radius: 3px;
    font-family: "Open Sans", sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 0px 1px 0px #33a4ce;
    line-height: 2.4;
    padding: 3px 12px;
    display: inline-block;
    margin-right: 5px;
    font-size: 14px;
    padding-top: 0;
    padding-left: 0;
    cursor: pointer;
    border: 0;
    position: relative;
    -webkit-box-sizing: initial!important;
    -moz-box-sizing: initial!important;
    box-sizing: initial!important;
}
.gainurl-wrap .btn span {
    width: 30px;
    height: 33px;
    display: block;
    float: left;
    border-radius: 3px 0px 0px 3px;
    margin-right: 10px;
    background: #32BDEF;
}
.gainurl-wrap .gainurl-head a,
.gainurl-wrap .submit button{
	opacity:0.7;
}
.gainurl-wrap .gainurl-head a:hover,
.gainurl-wrap .submit button:hover{
	opacity:1;
}
.gainurl-wrap .btnred span {
    background: #F97051;
    text-shadow: 0px 1px 0px #F9866B;
}
.gainurl-wrap .btnred {
    background: #F9866B;
    text-shadow: 0px 1px 0px #FD6D4B;
}
.gainurl-wrap .btnblack {
    background: #707070;
    text-shadow: 0px 1px 0px #595959;
}
.gainurl-wrap .btnblack span {
    background: #464646;
    text-shadow: 0px 1px 0px #595959;
}
.right {
    float: right;
}
.left {
    float: left;
}
.gainurl-wrap a span i {
    margin-left: 9px;
    margin-top: 10px;
}
.gainurl-wrap a.grow-btn:hover i {
    -moz-transform: scale(1,1);
    -webkit-transform: scale(1,1);
    transform: scale(1,1);
    -webkit-animation-name: burst2;
    -moz-animation-name: burst2;
    -ms-animation-name: burst2;
    -o-animation-name: burst2;
    animation-name: burst2;
    -webkit-animation-duration: .4s;
    -moz-animation-duration: .4s;
    -ms-animation-duration: .4s;
    -o-animation-duration: .4s;
    animation-duration: .4s;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 40px 38px !important;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}
.gainurl-wrap .postbox {
    background: #FAFAFA;
    padding: 0;
    margin-bottom: 0;
    margin: 20px 0;
    border-radius: 3px;
    border: 2px solid #ECECEC;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
	min-width: 255px;
}
.gainurl-wrap .postbox h3{
	font-size: 14px;
    padding: 8px 12px;
    margin: 0;
    line-height: 1.4;
    font-weight: normal;
    color: #C0C0C0;
    text-shadow: 1px 1px 0px rgb(255, 255, 255);
	border-bottom: 1px solid #eee;
}
.gainurl-wrap .postbox .inside {
    font-size: 14px;
	background-color: #fff;
	padding: 0 12px 12px;
    line-height: 1.4em;
	margin:0;
}
.gainurl-wrap .postbox .inside .row{
	clear: both;
    padding: 15px 0;
    border-bottom: 1px dashed #e7eaec;
	overflow: hidden;
}
.gainurl-wrap .postbox .inside .row:last-child {
    border-bottom: 0;
}
.gainurl-wrap .row div{
	overflow: hidden;
}
.gainurl-wrap .row .a {
    width: 28%;
    float: left;
    text-align: right;
}
.gainurl-wrap .row .a_line {
    width: 100%;
	text-align: left;
    margin-bottom: 13px;
}
.gainurl-wrap .row .a_line .help{
	 width: 100%;
}
.gainurl-wrap .postbox .help {
    color: #818181;
    font-size: 11px;
    font-style: italic;
    line-height: 14px;
    width: 95%;
    float: right;
}
.gainurl-wrap .row .b {
    width: 70%;
    float: right;
}
.gainurl-wrap .row .c {
    width: 100%;
    float: none;
    clear: both;
    margin-top: 10px;
}
.gainurl-wrap .row .b textarea,
.gainurl-wrap .row .c textarea{
	width: 100%;
}
.gain-help img{
	display:none;
	position: absolute;
    z-index: 9999;
}
.gain-help:hover img{
	display:block
}
.gainurl-footer{
	overflow:hidden
}
.gainurl-footer div:first-child{
	float:left;
}
.gainurl-footer div:last-child{
	float:right;
}