@font-face {
  font-family: 'enba-icons';
  src: url('font/enba-icons.eot?26421747');
  src: url('font/enba-icons.eot?26421747#iefix') format('embedded-opentype'),
       url('font/enba-icons.woff2?26421747') format('woff2'),
       url('font/enba-icons.woff?26421747') format('woff'),
       url('font/enba-icons.ttf?26421747') format('truetype'),
       url('font/enba-icons.svg?26421747#enba-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'enba-icons';
    src: url('font/enba-icons.svg?26421747#enba-icons') format('svg');
  }
}
*/
 
 [class^="enba-icon-"]:before, [class*=" enba-icon-"]:before {
  font-family: "enba-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.enba-icon-cancel:before { content: '\e800'; } /* '' */
.enba-icon-cancel-alt:before { content: '\e801'; } /* '' */
.enba-icon-cancel-line:before { content: '\e802'; } /* '' */
.enba-icon-down-alt:before { content: '\e803'; } /* '' */
.enba-icon-up-alt:before { content: '\e804'; } /* '' */
.enba-icon-facebook:before { content: '\e805'; } /* '' */
.enba-icon-twitter:before { content: '\e806'; } /* '' */
.enba-icon-pinterest:before { content: '\e807'; } /* '' */
.enba-icon-linkedin:before { content: '\e808'; } /* '' */
.enba-icon-location:before { content: '\e809'; } /* '' */
.enba-icon-location-alt:before { content: '\e80a'; } /* '' */
.enba-icon-calendar:before { content: '\e80b'; } /* '' */
.enba-icon-calendar-alt:before { content: '\e80c'; } /* '' */
.enba-icon-calendar-line:before { content: '\e80d'; } /* '' */
.enba-icon-calendar-alt-round:before { content: '\e80e'; } /* '' */
.enba-icon-ticket-line:before { content: '\e80f'; } /* '' */
.enba-icon-thumbs-up:before { content: '\e810'; } /* '' */
.enba-icon-thumbs-down:before { content: '\e811'; } /* '' */
.enba-icon-link:before { content: '\e812'; } /* '' */
.enba-icon-important:before { content: '\e813'; } /* '' */
.enba-icon-important-alt:before { content: '\e814'; } /* '' */
.enba-icon-dollar-alt:before { content: '\e815'; } /* '' */
.enba-icon-ticket-alt:before { content: '\e816'; } /* '' */
.enba-icon-down-line:before { content: '\e817'; } /* '' */
.enba-icon-up-line:before { content: '\e818'; } /* '' */
.enba-icon-right-line:before { content: '\e819'; } /* '' */
.enba-icon-left-line:before { content: '\e81a'; } /* '' */
.enba-icon-ticket:before { content: '\f145'; } /* '' */
.enba-icon-dollar:before { content: '\f155'; } /* '' */
.enba-icon-doc:before { content: '\f15c'; } /* '' */
.enba-icon-thumbs-up-alt:before { content: '\f164'; } /* '' */
.enba-icon-thumbs-down-alt:before { content: '\f165'; } /* '' */
.enba-icon-down:before { content: '\f175'; } /* '' */
.enba-icon-up:before { content: '\f176'; } /* '' */
.enba-icon-left:before { content: '\f177'; } /* '' */
.enba-icon-right:before { content: '\f178'; } /* '' */
.enba-icon-whatsapp:before { content: '\f232'; } /* '' */