div#knowners-admin-panel{
width: 70%;
float: left;
padding: 12px;
margin: 12px;
border: 0px;
}

div.knowners-admin-panel-heading{
width: 100%;
float: left;
margin-bottom: 12px;
padding-bottom: 4px;
border-bottom: 1px solid #000000;
font: 14px sans-serif; 
}

div.knowners-admin-panel-box{
float: left;
width: 92%;
margin-bottom: 12px;
padding: 12px;
border: 1px solid #000000;
font: 10px sans-serif;
}

div.knowners-admin-panel-box h3{
display: block;
float: left;
width: 100%;
padding: 0px;
margin: 0px;
margin-bottom: 12px;
font: bold 20px sans-serif;
}

span.knowners-admin-panel-result-message{
font: italic 10px sans-serif;
color: #333333;
}

ul.knowners-tag-list{
list-style-type: square;
list-style-image: inherit;
list-style-position: inside;
margin-left: 24px;
}

ul.knowners-tag-list li{
clear: both;
padding-left: 8px;
}

div.subtagpanel{
display: none;
clear: both;
float: left;
margin: 0px;
margin-left: 8px;
padding: 0px;
font: 10px sans-serif;
}

div.subtagpanel h4{
display: block;
width: 100%;
float: left;
margin: 0px;
padding: 0px;
font: italic 10px sans-serif;
border-bottom: 1px dotted #333333;
}

div#knowners-admin-panel  input.knowners-sbmit{
background: #000000;
color: #FFFFFF;
padding: 2px;
margin: 2px;
font: 10px sans-serif;
border: 1px solid #000000;
}

div#knowners-admin-panel  input.knowners-sbmit:hover{
background: #FFFFFF;
color: #000000;
padding: 2px;
margin: 2px;
font: 10px sans-serif;
border: 1px solid #000000;
}

div.knowners-admin-panel-errmsg{
float: left;
width: 100%;
margin: 0px;
margin-top: 8px;
margin-bottom: 8px;
padding: 0px;
color: #E1001A;
font: italic 12px sans-serif;
}

div.tagli{
display: inline;
}

.taglisthighlighted{
border-left: 1px dotted #E1001A;
}

span.knowners-form-label{
width: 120px;
font: bold 12px sans-serif;
}

a.linksmall, a.linksmall:visited{
text-decoration: none;
font: 10px sans-serif;
color: #000000;
}

a.linksmall:hover{
text-decoration: underline;
font: 10px sans-serif;
color: #000000;
}

span.textsmall{
font: 12px sans-serif;
color: #000000;
}

.knowners-inlineform{
float:left;
clear: none;
}

div.knowners-admin-box{
width: 100%;
float: left;
margin: 0px;
margin-top: 8px;
margin-bottom: 8px;
}

a.knowlers-frontend-taglinks, a.knowlers-frontend-taglinks:visited{
text-decoration: none;
display: block;
float: left;
margin: 0px;
padding: 4px;
font: 14px sans-serif;
}

a.knowlers-frontend-taglinks:hover{
text-decoration: none;
display: block;
float: left;
margin: 0px;
padding: 4px;
font: 14px sans-serif;
}

.knowlers-offtag{
background: #EEEEEE;
color: #000000;
}

.knowlers-offtag:hover{
background: #AAAAAA;
color: #000000;
}

.knowlers-ontag{
background: #FFFF00;
color: #000000;
}

.knowlers-ontag:hover{
background: #E1001A;
color: #FFFFFF;
}

div#knowners-linkpanel{
width: 100%;
padding: 0px;
margin: 0px;
margin-top: 8px;
margin-bottom: 24px;
float: left;
}

div#knowners-tagspanel {
width: 100%;
padding: 0px;
margin: 0px;
margin-top: 8px;
margin-bottom: 32px;
float: left;
}

div.depo{
float: left;
padding: 0px;
margin: 0px;
max-width: 190px;
text-align: justify;
background: inherit;
color: inherit;
}

div.knowlers-linkbox{
float: left;
padding: 8px;
margin: 12px;
max-width: 150px;
text-align: justify;
background: #999AFF;
color: #4849B2;
}

a.knowlers-linkurl{
display: block;
float: left;
max-width: 150px;
}

div.knowlers-linkbox:hover{
background: #8081FF;
}

div.knowlers-linkbox a, div.knowlers-linkbox a:visited, div.knowlers-linkbox a:hover{
text-decoration:none;
float: left;
background: inherit;
color: inherit;
font: 10px sans-serif;
}

div.knowlers-linkbox a b{
font: bold 12px sans-serif;
}

div.knowlers-sep{
float: left;
width: 100%;
padding: 0px; 
margin: 0px; 
clear:both;
font: 12px sans-serif;
color: #EEEEEE;
}

a.knowlers-frontend-tagrellinks, a.knowlers-frontend-tagrellinks:visited{
text-decoration: none;
color: #FFE880;
font: 10px sans-serif;
display: block;
float: left;
margin: 8px;
}

a.knowlers-frontend-tagrellinks:hover{
text-decoration: underline;
color: #FFE880;
font: 10px sans-serif;
display: block;
float: left;
margin: 8px;
}

ul.tagcloud{
display: block;
float: left;
list-style: none;
}

ul.tagcloud li{
display: block;
float: left;
list-style: none;
margin: 0px;
padding: 4px;
}


div#knownerscontainer{
float: left;
width: 1000px;
height: 400px;
padding: 0px;
margin: 0px;
background: #000000;
overflow:hidden;
}


div#infovis{
float: left;
width: 750px;
height: 400px;
overflow:hidden;
padding: 0px;
margin: 0px;
background: #333333;
}

div#knownersdetails-container{
float: right;
width: 234px;
height: 400px;
padding: 0px;
margin: 0px;
overflow: auto;
background: #000000;
}

div#knowners-details-heading{
float: left;
width: 234px;
height: 16px;
line-height: 16px;
padding: 0px;
margin: 0px;
overflow: auto;
background: #000000;
color: #FFFFFF;
font: bold 14px Arial, Helvetica, sans-serif;
}

div#knowlers-details{
float: right;
width: 234px;
height: 184px;
min-width: 234px;
min-height: 384px;
max-width: 234px;
max-height: 384px;
overflow:auto;
padding: 8px;
margin: 0px;
overflow: auto;
background: #000000;
color: #FFFFFF;
font: 12px Arial, Helvetica, sans-serif;
}

div.separator2{
float: left;
margin: 0px;
padding: 0px;
width:960px;
clear:both;
}

ul.knowlers-links a, ul.knowlers-links a:visited{
text-decoration: none;
color: #666666;
}

ul.knowlers-links a:hover{
text-decoration: underline;
color: #333333;
}

div.node{
z-index: 2000;
background: #000000;
color: #FFFF00;
font: 12px sans-serif;
}

ul.knowlers-links li{
margin-bottom: 12px;
}