
.cwf-required-asterisk {
    color:#ff0000;
    margin-left:2px;
}

.cwf-tag-container {
    border:1px solid #7e8993;
    background:#fff;
    border-radius:4px;  
    display:flex;
    flex-wrap:wrap;
    width:348px;
}

.cwf-tag {
    padding:3px; 
    border:1px solid #ccc;
    margin:2px;
    display:flex;
    align-items:center;
    border-radius:3px;
    cursor:default;
    word-break:break-word;
}

.cwf-page-container .postbox > button,
.cwf-page-container .postbox > .handlediv {
    float:right;
}

.cwf-page-container .postbox > h3 {
    border-bottom: 1px solid #e5e5e5;
}

.cwf-admin-wrap {
    background: #fff;
    border: 1px solid #e5e5e5;
    padding: 15px;
}

.cwf-ul {
    list-style:disc;
    margin-left:20px;
}

.cwf-tag-exit {
    margin-left:5px;
}

.cwf-wlt-filter {
    margin-top:1px !important;
}

.cwf-filter {
    margin-bottom:9px;
}

.cwf-other-cpt .tablenav {
    clear:none;
}

.cwf-cpt-table .tablenav .no-pages, .tablenav .one-page .pagination-links {
    display: inline-block;
}

.cwf-tag-container input {
    flex:1;
    padding:5px;
    border:none;
    outline:none;
    text-transform:lowercase;
}

.cwf-tooltip {
    position:relative;
    display:inline-block;
    border-bottom:1px dotted black;
}

.cwf-tooltip .cwf-tooltip-text {
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
}

.cwf-tooltip:hover .cwf-tooltip-text {
    visibility: visible;
}

.cwf-breadcrumbs {
    width:100%;
    margin-bottom:10px;
    margin-top:10px;
    padding-left:12px;
    padding-top: 2px;
    line-height: 1.5;
}

.cwf-dashicon-anchor {
    text-decoration:none;
}

.cwf-populate-checkbox,
.cwt-cpt-dashicon-container,
.cwf-media-upload-button {
    margin-top:10px;
}

.cwt-cpt-dashicon-container {
    border:1px solid #7e8993;
    max-width:340px;
    padding:5px;
    background:#fff;
    min-height:10px;
    border-radius:5px;
    display:flex;
    flex-wrap:wrap;
    height:100%;
    max-height:106px;
    overflow:auto;
    flex-direction:row;
}

.cwt-cpt-dashicon-container div {
    margin-left:10px;
    padding:5px;
    max-height:20px;
}

#cwf-icon-url-container {
    margin-left:10px;
    display:inline-block;
    max-width:250px;
    margin-top:10px;
}

#cwf-upload-container {
    display:inline-block;
    vertical-align:top;
}

.cwf-cpt-postbox-container {
    max-width:1000px;
}

.cwf-validation-summary {
    list-style: disc;
    margin-left: 20px;
}

.cwf-cpt-notice {
    max-width:972px;
    margin:5px 0 15px;
    background: #fff;
    border-left: 4px solid #fff;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    padding: 1px 12px;
}

.cwf-error-notice {
    border-left-color: #dc3232;
}

.cwf-has-error {
    border-color:#a94442 !important;
    border-width:2px !important;
}

.cwf-inline-bulk-action {
    padding-top: 5px !important;
    padding-bottom: 15px !important;
}

.cwf-field-validation {
    color:#a94442;
}

.form-table th {
    width:205px;
}

.form-table input[type="text"]::placeholder,
.form-table input[type="number"]::placeholder,
.form-table textarea::placeholder {
    font-weight:normal;
}
#cpt-taxonomy-select {
    position:relative;
}
#cpt-taxonomy-select select {
    width: 100%;
    border-radius:0;
}

.cwf-over-select {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;;
}
#cpt-taxonomy-checkboxes {
    /*display: none;*/
    border: 1px #ccc solid;
    padding:5px;
    margin-left:1px;
    margin-right:-1px;
    overflow-y: scroll;
    height: 150px;
}
#cpt-taxonomy-checkboxes label{
    display: block;
    min-height: 30px;
}
#cpt-taxonomy-checkboxes label:first-of-type {
    margin-top:10px;
}

.cwf-slug {
    text-transform:lowercase;
}

.cwf-notification {
    font-size:14px;
}

.cwf-notification-updated {
    border-left-color: #46b450;
}

.cwf-notification-error {
    border-left-color: #dc3232;
}

.cwf-table-ul {
    margin-top:0;
    margin-bottom:0;
    list-style:disc;
    padding-left:20px;
}

.cwf-table-ul li {
    margin-bottom:0;
}