
.editor-styles-wrapper{
    padding: 0 2vw;
}

.editor-styles-wrapper .wp-block {
    max-width: 100vw !important;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 5px;
    padding: 0.7vw;
    margin: 1vh auto;
}

.editor-styles-wrapper .wp-block-columns>.editor-inner-blocks>.editor-block-list__layout>[data-type="core/column"]:not(:first-child){
    margin-left:0.5rem;
}

.editor-styles-wrapper [data-block]{
    margin: 1vh auto;
}

.editor-styles-wrapper .wp-block[data-type="core/spacer"]{
    margin: 0 auto;
    padding: 0 2.5vw;
}

.editor-styles-wrapper .wp-block:hover{
    border: 2px solid black; 
}

.editor-styles-wrapper .wp-block[data-align="wide"] {
    max-width: 100vw !important;
}

.editor-styles-wrapper .wp-block-columns .editor-block-list__layout .editor-block-list__block{
    padding: 2.5vh 2.5vw;
    margin: 2vh 1vw;
}

.editor-styles-wrapper .wp-block-mypreview-container, .wp-block-mypreview-container__wrapper {
    padding: 5px !important;
    margin: 5px !important;
}

.editor-styles-wrapper .ep_toggle_item_content .block-editor-inner-blocks .block-editor-block-list__layout > div {
    margin: 0 !important;
}


.editor-styles-wrapper .block-list-appender.wp-block{
    border: none;
}