/*!*****************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./assets/src/frontend/scss/checkout.scss ***!
  \*****************************************************************************************************************************************************************************************/
/* Flexbox wrapper for two columns */
/* Styling the form */
/* Order Summary Table */
/* Checkout Button Centered Below */
/* Payment Methods */
/* Responsive adjustments */
/* Styles for rows */
.ambikly-checkout {
  margin: 0 auto;
  font-family: Arial, sans-serif;
}
.ambikly-checkout h2 {
  text-align: center;
  margin-bottom: 20px;
}

.ambikly-checkout-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

.ambikly-checkout-form-section {
  flex: 0.6;
}

.ambikly-checkout-summary-section {
  flex: 0.4;
}

.ambikly-checkout-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.ambikly-checkout-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.ambikly-checkout-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.ambikly-checkout-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.ambikly-order-summary {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  background: #f9f9f9;
}
.ambikly-order-summary th {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
  background: #f1f1f1;
}
.ambikly-order-summary td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}
.ambikly-order-summary tfoot td {
  font-weight: bold;
}

.ambikly-checkout-footer {
  text-align: center;
  margin-top: 20px;
}

.ambikly-place-order-button {
  background-color: #28a745;
  color: white;
  padding: 15px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}
.ambikly-place-order-button:hover {
  background-color: #218838;
}

.ambikly-billing-fields {
  display: flex;
  flex-wrap: wrap;
  gap: 0 16px;
  justify-content: space-between;
}
.ambikly-billing-fields .ambikly-form-group.half {
  box-sizing: border-box;
  flex: 1 0 calc(50% - 12px);
}

.ambikly-form-group {
  flex: 0 0 100%;
}

.ambikly-payment-methods {
  margin: 20px 0;
}

.ambikly-payment-gateways {
  list-style: none;
  padding: 0 !important;
  margin: 0 !important;
}
.ambikly-payment-gateways .payment-gateway-list {
  margin-bottom: 15px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}
.ambikly-payment-gateways .payment-gateway-list .gateway-wrap {
  display: flex;
  align-items: center;
}
.ambikly-payment-gateways .payment-gateway-list p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  margin-left: 30px;
}
.ambikly-payment-gateways input[type=radio] {
  margin-right: 10px;
  width: 18px;
  height: 18px;
  cursor: pointer;
  margin-bottom: 0;
}
.ambikly-payment-gateways label {
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  color: #333;
}
.ambikly-payment-gateways li.payment-gateway-paypal .payment-gateway-list {
  background-color: #f7fafa;
  border-color: #0070ba;
}
.ambikly-payment-gateways li.payment-gateway-paypal .payment-gateway-list:hover {
  background-color: #e6f0f5;
}
.ambikly-payment-gateways li.payment-gateway-cash_on_delivery .payment-gateway-list {
  background-color: #fdf9f6;
  border-color: #ffb800;
}
.ambikly-payment-gateways li.payment-gateway-cash_on_delivery .payment-gateway-list:hover {
  background-color: #fff4d8;
}

.ambikly-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.ambikly-half {
  flex: 0.48;
}

@media (max-width: 768px) {
  .ambikly-checkout-wrapper {
    flex-direction: column;
  }
  .ambikly-checkout-form-section {
    width: 100%;
  }
  .ambikly-checkout-summary-section {
    width: 100%;
  }
}

/*# sourceMappingURL=checkout-style.css.map*/