/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
 input.form-control {
    width: 80%;
	    height: 38px;
}
.set_table
{
	width:100%;
}
.head_td
{
	width:30%;
}
textarea {
    width: 80%;
}