.dig-main-form-wrapper.add{
	    max-width: 65%;
}
.dig-main-form-wrapper.all_dig{
	display: flex;
}

.dig-main-form-wrapper .dig-list-wrappers{
	    width: 50%;
}
.dig-main-form-wrapper .dig-response-wrapper{
     width: 50%;
    margin-left: 25px;
}

.dig-response-inner{
	border: 1px solid #c3c4c7;
    box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
    background: #fff;
    padding: 25px;
	display:none;
}

.dig-response-inner .popup-title{
	    font-size: 25px;
    text-transform: inherit;
    margin-top: 0;
}
.dig-list-wrappers .dig-list-title{
	font-size: 15px;
}

.popup-content img{
    display: block;
    margin-bottom: 15px;
    margin-top: 10px;
}


.dig-list-wrappers .badge{
	 padding: 4px 15px;
     color: #fff;
    border-radius: 5px;
    min-width: 60px;
    display: inline-block;
    text-align: center;
}
.dig-list-wrappers .badge.published {
	 background: #6c757d;
}
.dig-list-wrappers .badge.draft {
	 background: #ffc107;
}
#poststuff .dig-popup-wrapper-outer{
    padding: 25px;
    background: #fff;
    border: 1px solid #c3c4c7;
    box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
    margin-top: 25px;
	    position: relative;
}
#poststuff .dig-popup-wrapper-outer .close-dig{
	    position: absolute;
    right: 10px;
    top: 0px;
    font-size: 30px;
	cursor:pointer;
}
#poststuff .dig-popup-wrapper-outer .popup-title{
	    margin-top: 0;
    font-size: 20px;
}

.dig-list-wrappers .title-column{
	    width: 45%;
}
#dashboard-instruction-guide .inside ol{
	    margin-left: 13px;
}

#dashboard-instruction-guide .inside ol li{
	   text-decoration: underline;
	   cursor:pointer;
}