/* Styles for Custom Fee Manager for WooCommerce admin page */
.cfmfwc-fee-field {
    margin-bottom: 10px;
}
.cfmfwc-fee-field label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}
.cfmfwc-fee-field input {
    padding: 5px;
    width: 300px;
}
