.giveasap-settings-header {
  display: flex;
  align-items: center;
  background: white;
  padding: 20px;
  margin-left: -20px;
  font-size: 30px;
  line-height: 30px;
  font-weight: 600;

  img {
    max-width: 80px;
    display: block;
  }


}

.giveasap-settings-subheader {
  padding: 20px;
  margin-left: -20px;
  color: white;
  background: $purple;
  font-weight: 400;

  h2,
  p {
    color: white;
  }

  h2 {
    margin: 0;
    font-size: 24px;
    font-weight: 400;
  }

  p {
    margin: 10px 0 0 0;
    font-style: italic;
  }
}

.giveasap_page_giveasap_settings,
.giveasap_page_giveasap_integrations,
.giveasap_page_sg_reports {
  .update-nag,
  .notice {

      display: none;

  }

  #screen-meta-links {
    display: none;
  }
}

#sg-metaboxes .CodeMirror-linenumber { margin-left: -28px;}