.epc_logo {
  margin: 2px;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Ethereum_logo_2014.svg/1257px-Ethereum_logo_2014.svg.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left center;
  padding-right: 20px; /* Adjust this value to position the image properly */

}


.epc_ticker {
  display: inline-block;
  padding: 0px 4px;
  background-color: rgba(26, 137, 23, 0.15);
  border-radius: 4px;
  margin: 2px;
  font-size: 0.8em;
}