.eyv_embed_inner {
	background-color: #fff;
	padding: 10px;
}
.eyv_embed_inner table.form-table th {
    white-space: nowrap;
}
.eyv_notice-success.eyv_embed-success-msg {
	border-left-color: #46b450;
}
.eyv_notice-error.eyv_embed-error-msg {
	border-left-color: red ! important;
}
.eyv_error {
	border-color: #dc3232 !important;
	box-shadow: 0 0 2px rgba(204, 0, 0, .8) !important;
}
.eyv_icon-color {
	color: #6a6969;
}
.eyv_embed_inner table.form-table th .description {
    color: #6a6969;
}
.eyvfk_video_ration_info {
    font-style: italic;
    color: #5a5a5a;
    margin-top: 2px;
}
@media (max-width:768px){
	.eyvgk_video_wrap {
		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		padding-top: 25px;
		height: 0;
	}
	iframe.eyv_embedvideo {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
.eyv_embed_list span.delete a {
    cursor: pointer;
}