#amwal-logo {
		width: auto !important;
	height:24px !important;
	margin-inline-start: auto  !important ;
	float: right !important;
	padding-top: 6px !important;
}

html[lang="ar"] #amwal-logo {
	float: left !important;
}

.payment_method_amwal label {
	flex-grow: 1 !important;
	align-items: end !important;
}

li.payment_method_amwal div.payment_method_amwal {
	flex-wrap: wrap !important;
}

/* firefox */
@-moz-document url-prefix() {
	#amwal-logo {
		margin-left: auto !important;
	}
}