.wc-block-cart-items__row {
  &.woofs-linked {
    .wc-block-cart-item__remove-link {
      display: none !important;
    }

    .wc-block-cart-item__quantity {
      pointer-events: none !important;
    }

    &.woofs-hide-linked {
      display: none !important;
    }
  }
}
