#wp-admin-bar-firestudio .firestudio-logo {
    float: left;
    margin-right: 2px;
    height: 32px;
}

#wp-admin-bar-firestudio .firestudio-logo img {
    padding: 5px 0;
    position: relative;
    width: 22px;
    height: 22px;
}