/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

a.button.btn_csv {
    background-color: #1ea41e;
    color: white;
    width: 150px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 25px;
}

select.drop_csv {

    font-weight: bold;
}

input#post-query-submit {
    background: #6b5b95;
    color: white;
    font-weight: bold;
    border: none !important;
    width: 150px;
}

.custom_Table_plugin .widefat {
    width: 100%;
    text-align: left;
    background-color: lemonchiffon;
    border-collapse: collapse;
}
.custom_Table_plugin .widefat th,.custom_Table_plugin  .widefat th,.custom_Table_plugin  td#cb,.custom_Table_plugin  td.manage-column.column-cb.check-column {
    background-color: goldenrod;
    color: white;
}
.custom_Table_plugin .widefat td {
    padding: 10px;
    border: 1px solid goldenrod;
}

.container.custom_Table_plugin {
    margin-top: 30px;
}

.custom_Table_plugin th.sortable a span, th.sorted a span {
    font-weight: bold;
}
.custom_Table_plugin .widefat thead tr th, .widefat tfoot tr th {
    color: #2c3338;
    font-weight: bold;
}