
#sub-accordion-section-hfc_font_color_section .wp-picker-input-wrap{
    z-index: 1000 !important;
    position: absolute;
    background: #fff;
}

#sub-accordion-section-hfc_font_color_section li {
    width: 50%;
    clear: none;
    display: inline-block;
    float: left;
}
#sub-accordion-section-hfc_font_color_section li.customize-section-description-container.section-meta, #sub-accordion-section-hfc_font_color_section li:first-child {
    clear: both;
    width: 100%;
    display: block;
    float: none;
}

#sub-accordion-section-hfc_font_color_section span.customize-inside-control-row {
    display: inline-block;
    width: 24%;
    min-width: 30px;
    clear: none;
    float: left;
}

span.customize-control-title {
    width: calc(100% - 30px);
}

li#customize-control-hfc_subnav_ahover_fontcolor_8 span.customize-control-title {
    zoom: .92;
}
