.foxlis-geo-redirect-question__container {
    position: fixed;
    bottom: 0;
    background-color: #186864;
    color: #ffffff;
}

.foxlis-geo-redirect-question__container_text {
    padding:0 10px;
    display: inline-block;
    font-size: 20px;
}

.foxlis-geo-redirect-question__container_button-confirm, .foxlis-geo-redirect-question__container_button-cancel {
    padding: 10px 20px;
    display: inline-block;
    background-color: #373737;
    border: none;
    cursor: pointer;
    color: #e1e1e1;
    font-size: 20px;
}

.foxlis-geo-redirect-question__container_button-cancel {
    margin-left: 1px;
}

.foxlis-geo-redirect-question__container_button-confirm:hover,
.foxlis-geo-redirect-question__container_button-cancel:hover
{
    background-color: #2b2b2b;
    color: #ffffff;
}
