/* /*

Styling for the admin plugin page

*/
.flipdishHeader {
  background-color: #171460;
  padding: 30px;
  text-align: center;
  margin-bottom: 20px;
}

.flipdishBody {
  width: 800px;
  margin: auto;
}

.shortcodeText {
  border: 2px solid #171460;
  background-color: #fff;
  padding: 5px 8px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  width: 140px;
}

.copyShortcode,
.flipdishSubmit input {
  background-color: #171460 !important;
  border: 2px solid #f1f1f1 !important;
  padding: 5px 8px !important;
  color: #fff !important;
  cursor: pointer !important;
  font-size: 18px !important;
  width: 160px !important;
  padding: 5px 8px !important;
  line-height: 1.3 !important;
  border-radius: 0px !important;
}

.copyShortcode:hover,
.flipdishSubmit input:hover {
  background-color: #fff !important;
  color: #171460 !important;
  border: 2px solid #171460 !important;
}

.flipdishHeading {
  width: 260px;
  float: left;
}

.flipdishInput,
.flipdishHeading {
  margin: 2em 0 0.4em 0;
}

.flipdishCheckbox {
  margin: 2.3em 0 0.1em 0 !important;
}

/* System Info */
.system-info-raw {
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
}

.button {
  margin-right: 20px !important;
}