.fsscgradient {
	position:relative;
	background-image: -webkit-gradient(linear, center top, center bottom, from(rgba(255, 255, 255, .1)), to(rgba(0, 0, 0, .1))); /* CHROME UP TO V9; SAFARI 4 */
	background-image: -webkit-linear-gradient(linear, center top, center bottom, from(rgba(255, 255, 255, .1)), to(rgba(0, 0, 0, .1))); /* SAFARI 5 & UP; MOBILE SAFARI; CHROME 10 & UP */
	background: -moz-linear-gradient(center top, rgba(255, 255, 255, .1) 0%, rgba(0, 0, 0, .1) 100% ); /* FIREFOX */
	background-image: -ms-linear-gradient(linear, center top, center bottom, from(rgba(255, 255, 255, .1)), to(rgba(0, 0, 0, .1))); /* IE */
	background-image: -o-linear-gradient(top, rgba(255, 255, 255, .1), rgba(0, 0, 0, .1)); /* OPERA */
}
.fsscbutton {
	position:relative;
	margin: 0;
	padding: 7px 0;
	text-decoration: none;
	text-align: center;
	text-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
	cursor: pointer;
	border-width: 1px;
	border-style: inset;
	border-color: rgba(0, 0, 0, 0.1);
}
.fsscbutton span {
	position:relative;
	padding: 6px 12px 7px 12px;
	border-width: 1px;
	border-style: solid;
	border-top-color: rgba(255, 255, 255, 0.2);
	border-right-color: rgba(200, 200, 200, 0.1);
	border-bottom-color: rgba(0, 0, 0, 0.1);
	border-left-color: rgba(0, 0, 0, 0);
}
#fssc-buy-button {
	
}
#fssc-button {
	position: relative;
	text-align: center;
	padding: 5px 10px;
	border-collapse:inherit;
	font-weight: bold;
}
.fssc-checkout-input {
	height: 30px;
}
.fssc-checkout-input label {
	width: 150px;
	display: block;
	float: left;
}
.fssc-checkout-details label {
	width: 100px;
	display: block;
	float: left;
}

.vc-rem { 
	float: left;
	width: 5%;
	text-align: center;
}
.vc-description {
	float: left; 
	width: 65%;
}
.vc-image {
	float: left;
	margin-right: 5px;
}
.vc-price { 
	float: left; 
	width: 15%;
	text-align: center;
}
.vc-total { 
	float: left; 
	width: 15%;
	text-align: center;
}
.vc-overviewl {
	float: left; 
	width: 250px;
	text-align: right; 
	padding-right: 6px;
}
.vc-overviewr {
	font-weight: bold;
}
.zpfedex {
	color: #999999;
}
.fedexh {
	height: 30px;
	padding-top: 6px;
}
#fssccustzippostal {
	font-size: 12px;
}
#fssccustzippostals {
	font-size: 12px;
}

/* VIEW CART WIDGET */
#fssc-vc-widget {
	padding: 10px;
	font-weight: normal;
}
#fssc-vc-widget #fssc-vc-control {
	text-align: center;
}
#fssc-vc-widget #fssc-vc-control a {
	text-decoration: none;
	font-weight: bold;
	color: #1C5F96;
}
#fssc-vc-qty {
	float: left;
	width: 15px;
	margin-right: 5px;
	height: 25px;
	text-align: right;
}
#fssc-vc-list {
	padding-bottom: 12px;
}
#fssc-vc-list p {
	margin-left: 20px;
}
#fssc-table-price {
	text-align: right;
}
#fssc-table-type {
	width: 80px;
}
#fssc-cust-zippostal {
	font-size: 11px;
	width: 75px;
}
#fssc-table-price form {
	text-align: right;
}
#fssc-table-price #fedexestimate {
	background: url(images/zip-submit.gif) no-repeat right top;
	margin: 0;
	padding: 0;
}
#fssc-table-price #fedexestimate img {
	margin: 0;
	padding: 0;
}
#fedexrates {
	font-size: 11px;
	width: auto;
	text-align: right;
}

/* VIEW CART PAGE */
#fs-ups-zip {
	font-size: 11px;
	width: 70px;
}
#fs-ups-country {
	font-size: 11px;
	width: 120px;
}
#fs-ups-submit {
	float: right;
	padding-top: 10px;
}
#fssc-vc {
	border: 1px solid #DDDDDD;
	border-top: none;
	border-bottom: none;
}
#fssc-vc a { text-decoration: none; }
#fssc-vc td {
	border-bottom: 1px solid #DDDDDD;
}
#fssc-vc-hdr {
	height: 27px;
	margin: 0;
	padding: 0;
	background: url(images/pnavbg.gif) repeat-x;
	text-align: center;
	border-right: none;
}

/* CHECKOUT PAGE */
#fssc-checkout input, #fssc-checkout select {
	width: 200px;
}
#fssc-checkout #ctname {
	width: 140px;
	text-align: right;
}
#fssc-checkout #ctreq {
	color: #009900;
	width: 10px;
	text-align: center;
}

/* MY ACCOUNT */
#fssc-account-main-box {
	width: 49%;
	float: left;
}


/* Product Finder */
#fssc-finder-field {
	float: left;
	width: 240px;
	font-weight: bold;
	font-size: 12px;
	color: #444444;
	padding-top: 8px;
	padding-left: 10px;
	height: 30px;
	border-bottom: 1px solid #dadada;
	background: #EFEFEF;
}
#fssc-finder-values {
	height: 38px;
	border-bottom: 1px solid #dadada;
	background: #EFEFEF;
}
.fssc-finder-type { width: 49%; text-align: center; margin-bottom: 24px; }
.fssc-finder-type a {
	text-decoration: none;
}



/* FSSC TOOLTIP */
a.fssc-tooltip { position:relative; z-index:24; text-decoration:none; }

a.fssc-tooltip:hover {z-index:25; }

a.fssc-tooltip span { display: none; }

a.fssc-tooltip:hover span { display:block; position:absolute; top: -11px; left:-311px; width:300px; border:1px solid #DDDDDD; background-color:#F0F0F0; color:#000000; padding: 3px; }
