ul.at-gallery-frontendlist {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-flow: wrap;
}

ul.at-gallery-frontendlist li {
    list-style: none !important;
    width: 25%;
    padding: 5px;
}

.detail-content ul li a img {
    border: 1px solid #a3a3a3;
}