.dpcp-options-table {
    max-width: 720px !important;
    margin-left: 50px !important;
}


.dpcp-options-table th, td {
    padding-right: 0px !important;;
    padding-left: 0px !important;;
    padding-bottom: 5px !important;;
    padding-top: 5px !important;
}

.dpcp-options-table td {
    margin: 0px !important;
}

.dpcp-tutorial {
    max-width: 720px;
}

.dpcp-tutorial p {
    font-size: medium;
}

.dpcp-metabox {
    padding-left: 50px;
}


