/* UI Toolbar  *************************************************************************************************/
/* To Compile file: Alt + F12   and run command:  "gulp oper"  */

/* Help  section  */
.oper-help-container .oper-header-h {
	margin:20px 0 -10px;
}
.oper-header-h-premium{
	color:#a36749;
	font-size: 1.2em;
}

.oper-help-container .oper-help-columns {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}
.oper-help-container .oper-help-columns .oper-help-col {
	flex: 1 1 50%;
}
@media (max-width: 782px) {
	.oper-help-container .oper-help-columns .oper-help-col {
		flex: 1 1 auto;
	}
}