:root {
  --white: #fff;
  --gray: #ccc;
}


/*-------------------------*/
/*--- Upload Image Form ---*/
/*-------------------------*/
.formsuite-login-customizer-img-upload-form img {
  margin: 0 0 .5rem 0;
}
