.affi_hidden {
  display: none !important;
}

.cp-color-picker {
  z-index: 999999;
}

.affi-tag {
  padding: 2px 10px;
  border-radius: 5px;
  font-size: 15px;
  z-index: 9;
  position: relative;
}

.affi_item_icon {
  position: relative;
  bottom: unset;
  left: unset;
  margin: 0 !important;
  background: transparent;
}

.affi-email-event-row {
  margin-bottom: 20px;
}
.affi-email-event-row .title {
  display: flex;
  align-items: center;
}
.affi-email-event-row .title .header {
  margin: 0;
}
.affi-email-event-row .title .affi_icon_status_email_event {
  margin-left: 10px;
}

.affi_wrap_icons {
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
  padding: 15px;
  border-radius: 6px;
  border: 1px solid rgba(34, 36, 38, 0.15);
  display: flex;
  flex-wrap: wrap;
}
.affi_wrap_icons .affi_choose_icon {
  position: relative;
  font-size: 20px !important;
  padding: 5px !important;
  margin: 5px !important;
  opacity: 0.4;
  display: flex !important;
  justify-content: center;
  align-items: center;
  border: solid 1px transparent !important;
  border-radius: 4px !important;
}
.affi_wrap_icons .affi_choose_icon.affi_icon_selected {
  background: unset;
  opacity: 1;
  transform: scale3d(1.2, 1.2, 1.2);
  border: solid 1px #000000 !important;
}
.affi_wrap_icons .affi_choose_icon .affi_item_icon {
  left: unset !important;
}

#affi-settings-form {
  padding-right: 20px;
}
#affi-settings-form * {
  box-sizing: border-box;
}
#affi-settings-form select {
  max-width: 100%;
}
#affi-settings-form .affi-rank-update-time {
  display: none;
}
#affi-settings-form .affi-rank-update-now {
  margin-bottom: 8px;
}
#affi-settings-form .affi-setting-hidden {
  display: none;
}
#affi-settings-form .affi-field-line-flex {
  display: flex;
  margin-bottom: 5px;
}
#affi-settings-form .affi-field-line-flex :first-child {
  align-content: space-evenly;
}
#affi-settings-form .affi-field-line-flex input {
  width: 80px;
  margin: 0 10px;
}
#affi-settings-form .affi-field-line-flex .affi-st-inline-suffix {
  align-content: space-evenly;
}

* {
  box-sizing: border-box;
}

.affi_wrap_admin_page {
  padding-right: 20px;
  position: relative;
}
.affi_wrap_admin_page .affi_content_wrapper {
  border: none;
  box-shadow: 0 0 3px 0 #a4b0be;
  border-radius: 5px;
  padding: 15px;
  box-sizing: border-box;
  background-color: #fff;
}

.affi-wrap-filter {
  display: flex;
  margin: 0 -10px;
}
.affi-wrap-filter .filters-group {
  padding: 0 10px;
  flex: 0 0 200px;
}
.affi-wrap-filter .filters-group .input-group-prepend {
  font-weight: bold;
}
.affi-wrap-filter .filters-group .form-control {
  width: 100%;
}

button.dt-button:hover:not(.disabled),
div.dt-button:hover:not(.disabled),
a.dt-button:hover:not(.disabled),
input.dt-button:hover:not(.disabled),
button.dt-button:focus:not(.disabled),
div.dt-button:focus:not(.disabled),
a.dt-button:focus:not(.disabled),
input.dt-button:focus:not(.disabled),
button.dt-button:active:not(.disabled):hover:not(.disabled),
button.dt-button.active:not(.disabled):hover:not(.disabled),
div.dt-button:active:not(.disabled):hover:not(.disabled),
div.dt-button.active:not(.disabled):hover:not(.disabled),
a.dt-button:active:not(.disabled):hover:not(.disabled),
a.dt-button.active:not(.disabled):hover:not(.disabled),
input.dt-button:active:not(.disabled):hover:not(.disabled),
input.dt-button.active:not(.disabled):hover:not(.disabled) {
  border: unset !important;
  background-color: #198f35;
  color: #fff;
  text-shadow: none;
}

.affi-edit-container-wrap .affi-rank-name-wrap {
  margin-bottom: 20px;
}
.affi-edit-container-wrap .affi-setting-label {
  align-self: center;
}
.affi-edit-container-wrap .affi-rank-detail-line-label {
  align-self: center;
}

.affi-affiliates-tabblenav-form .toplevel_page_affi-affiliates-setting .affi-row-actions a {
  cursor: pointer;
}
.affi-affiliates-tabblenav-form .toplevel_page_affi-affiliates-setting .column-earning .affi-user-balance-payout {
  display: none;
}
.affi-affiliates-tabblenav-form .toplevel_page_affi-affiliates-setting .column-earning:hover .affi-user-balance-payout {
  display: block;
}
.affi-affiliates-tabblenav-form .toplevel_page_affi-affiliates-setting .affi-approved-status-label {
  width: fit-content;
  padding: 2px 10px;
  border-radius: 5px;
  color: #5b841b;
  background-color: #c6e1c6;
}
.affi-affiliates-tabblenav-form .toplevel_page_affi-affiliates-setting .affi-pending-status-label {
  width: fit-content;
  padding: 2px 10px;
  border-radius: 5px;
  color: #94660c;
  background-color: #f8dda7;
}
.affi-affiliates-tabblenav-form .toplevel_page_affi-affiliates-setting .affi-reject-status-label {
  width: fit-content;
  padding: 2px 10px;
  border-radius: 5px;
  color: #f1f1f1;
  background-color: #f5180b;
}

.vi-ui.modals .affi-affiliates-popup-wrap {
  box-sizing: border-box !important;
}
.vi-ui.modals .affi-hidden {
  display: none;
}
.vi-ui.modals .select2-search__field {
  width: 100% !important;
}
.vi-ui.modals .select2-container.select2-container--default {
  width: 100% !important;
  min-width: 100% !important;
  margin-left: 0 !important;
  line-height: 0 !important;
}
.vi-ui.modals .select2-selection.select2-selection--multiple {
  margin-left: 0 !important;
}
.vi-ui.modals .select2-selection.select2-selection--single {
  margin-left: 0 !important;
  height: unset !important;
  border-color: #dedede;
}
.vi-ui.modals .select2-selection__choice__remove {
  margin-left: 0 !important;
}
.vi-ui.modals .select2-selection__placeholder {
  margin-left: 0 !important;
}
.vi-ui.modals .select2-selection__rendered .select2-search.select2-search--inline {
  width: 100%;
}
.vi-ui.modals .select2-selection__rendered#select2-affi_set_user_input-container {
  padding-top: 8px;
  padding-bottom: 8px;
}
.vi-ui.modals .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 100%;
  padding: 0.9em;
  width: 40px;
}
.vi-ui.modals #select2-bopobb_bpi_default_product-container {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.affi-rank-tabblenav-form .affi-rank-badge-table {
  position: relative;
  display: inline-flex;
  width: 50px;
  height: 50px;
  cursor: pointer;
  text-align: center;
}

.affi-affiliate-rank-edit .affi-hidden {
  display: none;
}
.affi-affiliate-rank-edit .affi-upload-badge-wrap {
  position: relative;
  display: inline-flex;
  width: 102px;
  height: 102px;
  cursor: pointer;
  text-align: center;
}
.affi-affiliate-rank-edit .affi-upload-badge-preview {
  border: 1px solid #d5d5d5;
  display: inline-flex;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
.affi-affiliate-rank-edit .affi-upload-badge-wrap:hover .affi-upload-badge-preview {
  opacity: 0.5;
}
.affi-affiliate-rank-edit .affi-upload-badge-preview img,
.affi-affiliate-rank-edit .affi-bill-logo-preview img {
  max-width: 100px;
  max-height: 100px;
  width: 100px;
  height: 100px;
  margin: auto;
}
.affi-affiliate-rank-edit .affi-bill-logo-preview img {
  max-height: 80px;
  max-width: 80px;
  border-radius: 100%;
}
.affi-affiliate-rank-edit .affi-upload-badge-remove {
  position: absolute;
  right: -10px;
  top: -10px;
  margin: 0 !important;
  font-size: 20px !important;
  z-index: 2;
  background: transparent;
  color: #bdbcbc;
}
.affi-affiliate-rank-edit .affi-upload-badge-add-new {
  position: absolute;
  margin: auto;
  font-size: 15px;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  text-transform: uppercase;
  visibility: hidden;
  transition: all 0.3s linear;
}
.affi-affiliate-rank-edit .affi-upload-badge-wrap:hover .affi-upload-badge-add-new {
  visibility: visible;
}

.affi-reports-control-bar {
  margin-right: 20px;
  border-top-left-radius: 5px;
  padding: 10px 0;
}
.affi-reports-control-bar > a {
  text-decoration: none;
  color: black;
}
.affi-reports-control-bar .item.active {
  border: 1px solid #d4d4d5;
  border-bottom-color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-weight: bold;
  background-color: white;
}
.affi-reports-control-bar .item {
  padding: 12px 20px;
}

.affi-general-reports-container {
  padding: 20px;
  background-color: white;
  margin-right: 20px;
  border: 1px solid #d4d4d5;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.affi-general-reports-container .affi-select-time-range .affi-select-time-group {
  display: flex;
}
.affi-general-reports-container .affi-select-time-range .affi-select-time-group .affi-select-time-title {
  margin: 5px 0;
}
.affi-general-reports-container .affi-select-time-range .affi-custom-time-range {
  display: none;
}
.affi-general-reports-container .affi-select-time-range .affi-custom-time-range input, .affi-general-reports-container .affi-select-time-range .affi-custom-time-range .affi-view-reports {
  /*width: 120px;*/
  margin-left: 5px;
}
.affi-general-reports-container .affi-select-time-range .affi-select-time-1 {
  width: 170px;
  max-width: 100%;
}
.affi-general-reports-container .affi-select-time-range .affi-select-time-1 .affi-select-time-report {
  width: 100%;
}
.affi-general-reports-container .affi-select-time-range .affi-custom-time-range-flex-layer {
  width: 100%;
  display: flex;
  font-size: 14px;
}
.affi-general-reports-container .affi-general-reports-group {
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
}
.affi-general-reports-container .affi-general-reports-group table {
  width: 100%;
  text-align: center;
  border-collapse: separate;
  border-spacing: 20px;
}
.affi-general-reports-container .affi-general-reports-group .affi-report-cell {
  text-align: center;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 3px;
  background: linear-gradient(to bottom, white, #fafbfc);
  padding: 10px;
}
.affi-general-reports-container .affi-general-reports-group .affi-report-cell:not(:first-child) {
  margin-left: 15px;
}
.affi-general-reports-container .affi-general-reports-group h5 {
  font-weight: 500;
  margin: 0;
  margin-bottom: 5px;
}
.affi-general-reports-container .affi-general-reports-group table td div {
  margin: 0.5rem 0;
}
.affi-general-reports-container .affi-chart-container {
  margin: auto;
  max-width: 100% !important;
  padding: 10px 0;
}

.affi-affiliate-payout-edit * {
  box-sizing: border-box;
}
.affi-affiliate-payout-edit .affi-hidden {
  display: none;
}
.affi-affiliate-payout-edit .select2-search__field {
  width: 100% !important;
}
.affi-affiliate-payout-edit .select2-container.select2-container--default {
  width: 100% !important;
  min-width: 100% !important;
  margin-left: 0 !important;
  line-height: 0 !important;
}
.affi-affiliate-payout-edit .select2-selection.select2-selection--multiple {
  margin-left: 0 !important;
}
.affi-affiliate-payout-edit .select2-selection.select2-selection--single {
  margin-left: 0 !important;
  height: unset !important;
  border-color: #dedede;
}
.affi-affiliate-payout-edit .select2-selection__choice__remove {
  margin-left: 0 !important;
}
.affi-affiliate-payout-edit .select2-selection__placeholder {
  margin-left: 0 !important;
}
.affi-affiliate-payout-edit .select2-selection__rendered .select2-search.select2-search--inline {
  width: 100%;
}
.affi-affiliate-payout-edit .select2-selection__rendered#select2--affi-referral-user-container {
  padding-top: 4px;
  padding-bottom: 4px;
}
.affi-affiliate-payout-edit .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 100%;
  padding: 0.9em;
  width: 40px;
}
.affi-affiliate-payout-edit #select2-bopobb_bpi_default_product-container {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.affi-payout-tabblenav-form .affi-affiliate-marketing-for-woocommerce_page_affi-request-payout .affi-row-actions a {
  cursor: pointer;
}
.affi-payout-tabblenav-form .affi-affiliate-marketing-for-woocommerce_page_affi-request-payout .affi-approved-status-label {
  width: fit-content;
  padding: 2px 10px;
  border-radius: 5px;
  color: #5b841b;
  background-color: #c6e1c6;
}
.affi-payout-tabblenav-form .affi-affiliate-marketing-for-woocommerce_page_affi-request-payout .affi-pending-status-label {
  width: fit-content;
  padding: 2px 10px;
  border-radius: 5px;
  color: #94660c;
  background-color: #f8dda7;
}
.affi-payout-tabblenav-form .affi-affiliate-marketing-for-woocommerce_page_affi-request-payout .affi-admin-type-label {
  width: fit-content;
  padding: 2px 10px;
  border-radius: 5px;
  color: #fffdfd;
  background-color: #475347;
}
.affi-payout-tabblenav-form .affi-affiliate-marketing-for-woocommerce_page_affi-request-payout .affi-affiliate-type-label {
  width: fit-content;
  padding: 2px 10px;
  border-radius: 5px;
  color: #f5180b;
  background-color: #e2f8e8;
}

/*# sourceMappingURL=settings.css.map */
