/**
 * Adjust the items in the select field
 */
.select2-container{
    width:100%!important;
}

.select2-container li span.select2-selection__choice__display {
    /*padding-left: 22px !important; - not on local system check what is interfering with that.*/
}

/**
 * Adjust the search
 */
.select2-container .select2-search {
    /*opacity: 0;
    width: calc(100% + 5px);
    margin-left: -1px;
    margin-top: 5px;
    border: 1px solid #aaaaaa;
    padding-bottom: 5px;
    height:0;*/
}

.select2-container--open .select2-search {
    /*opacity: 1;
    height:auto;*/
}

.select2-container .select2-search textarea {
    width: 100% !important;
}

.select2-dropdown{
    z-index:991051!important;
}