.icon-box ul {
    display   : flex;
    flex-flow : row wrap;
}

.icon-box ul li {
    border       : 1px solid #edeaea;
    padding      : 3px;
    width        : 32px;
    height       : 32px;
    font-size    : 24px;
    margin-right : 2px;
    text-align   : center;
    cursor       : pointer;
}

.icon-box ul li.active {
    border-color     : #8c8f94;
    background-color : #8c8f94;
    color            : #fff;
}

.icon-box .icon-box-search input:focus {
    box-shadow : none;
}

.icon-box .icon-box-search input {
    border-radius : 4px 4px 0 0;
    margin-left   : 0;
    margin-bottom : -1px;
}

.icon-box .icon-box-content {
    height           : 195px;
    background-color : #fff;
    border           : 1px solid #8c8f94;
    padding          : 0px 0 0 10px;
    border-radius    : 0 0 5px 5px;
    overflow         : hidden;
}

.icon-box .icon-box-content .icon-box-content--inner {
    overflow-y : scroll;
    height     : 190px;
}