.awt-full-width-book-slider-section {
    position: relative;
}

.elementor-widget-container .container.awt-full-width-books-slider-wrapper {
    padding-right: 0;
    padding-left: 0;
    width: 100% !important;
    max-width: 100%;
}

.awt-full-width-book-slider-section>.container {
    position: relative;
    z-index: 5;
}

.awt-full-width-book-slider-section .overlay_color {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    top: 0;
    left: 0;
    z-index: 1;
}

.featured-book-content-container h4 {
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 4px;
    position: relative;
    margin: 0;
}

.featured-book-content-container h4.book-label {
    display: inline-block;
    min-width: fit-content;
    line-height: 1;
}

.book-label-wrapper {
    display: flex;
    position: relative;
    margin-bottom: 10px;
}

.book-label-wrapper:after {
    content: "";
    height: 2px;
    width: 100%;
    background: #767676;
    order: 2;
    align-self: end;
}

.book-label-wrapper.hideLabelBorder:after {
    display: none;
}

.featured-book-content-container h2 {
    margin: 10px 0;
    font-size: 56px;
    line-height: 1.2;
}

.featured-book-content-container h2 a {
    color: #333333;
    transition: .4s;
}

.featured-book-content-container p.book-desc {
    margin: 0;
    font-size: 18px;
    color: #767676;
    margin-bottom: 35px;
}

.featured-book-content-container .book-buttons {
    display: flex;
    align-items: center;
}

.featured-book-content-container .book-buttons .book-buy-btn {
    margin-right: 20px;
}

.featured-book-content-container .book-buttons .book-details-btn a {
    border-radius: 5px;
    border: 1px solid #333333;
    display: inline-block;
    color: #333333;
    font-weight: 700;
}

.featured-book-content-container .book-buttons .book-details-btn a:hover {
    background: #333333;
    color: #ffffff;
    border-color: #333333;
}

.featured-book-content-container .book-buttons a {
    padding: 12px 30px;
    border-radius: 4px;
}

.featured-book-content-container h4.book-author {
    font-size: 32px;
    color: #767676;
    margin-bottom: 25px;
    transition: .4s;
    display: inline-block;
}

.featured-book-content-container h4.book-author a {
    color: #767676;
    transition: .4s;
}

.featured-book-cover-wrapper img {
    display: block;
}

.featured-book-cover-wrapper {
    text-align: right;
}

.featured-book-content-container .book-buttons a.rswpthemes-book-buy-now-button {
    border: 1px solid #fb4747;
}

.featured-book-content-container .book-buttons a.rswpthemes-book-buy-now-button:hover {
    border-color: #000;
}

@media (max-width: 991px) {
    .featured-book-content-container h2 {
        font-size: 36px;
        line-height: normal;
        margin-bottom: 10px;
    }

    .featured-book-content-container h4.book-author {
        font-size: 24px;
        margin-bottom: 20px;
        letter-spacing: normal;
    }
}

@media (max-width: 767px) {
    .featured-book-content-container {
        margin-bottom: 30px;
    }

    .featured-book-content-container h2 {
        line-height: normal;
        margin-bottom: 10px;
        font-size: 36px;
    }
}

.awt-full-width-book-slider-section button.slick-arrow {
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: #fff;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    z-index: 5;
    cursor: pointer;
    padding: 0;
    color: #767676;
    border-color: #767676;
}

.awt-full-width-book-slider-section button.slick-prev.slick-arrow {
    left: -200px;
    top: 50%;
    margin-top: -25px;
    background: #fff;
}

.awt-full-width-book-slider-section button.slick-next.slick-arrow {
    right: -200px;
    top: 50%;
    margin-top: -25px;
    background: #fff;
}

@media (max-width: 1500px) {
    .awt-full-width-book-slider-section button.slick-prev.slick-arrow {
        left: -40px;
    }

    .awt-full-width-book-slider-section button.slick-next.slick-arrow {
        right: -40px;
    }
}

@media (max-width: 1200px) {
    .awt-full-width-book-slider-section button.slick-prev.slick-arrow {
        left: 0px;
    }

    .awt-full-width-book-slider-section button.slick-next.slick-arrow {
        right: 0px;
    }
}

@media (max-width: 767px) {
    .awt-full-width-book-slider-section button.slick-prev.slick-arrow {
        left: 0px;
    }

    .awt-full-width-book-slider-section button.slick-next.slick-arrow {
        right: 0px;
    }
}