/*!**********************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./assets/src/admin/scss/page.scss ***!
  \**********************************************************************************************************************************************************************************/
/* form css */
/* General styles */
.ambikly-product-container {
  display: flex;
  margin-top: 20px;
}

.ambikly-sidebar {
  width: 320px;
  margin-left: 20px;
}

.ambikly-settings-page .ambikly-sidebar {
  margin-left: 0;
}
.ambikly-settings-page .ambikly-content {
  margin-left: 20px;
}

.ambikly-content {
  flex: 1;
}

.ambikly-admin-metabox {
  background-color: rgb(255, 255, 255);
  outline: 1px solid transparent;
  overflow: clip;
  box-shadow: 0rem 0.0625rem 0rem 0rem rgba(26, 26, 26, 0.07);
  border-radius: 12px;
  position: relative;
  margin-bottom: 20px;
  color: #333;
}
.ambikly-admin-metabox:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 101;
  box-shadow: 0.0625rem 0rem 0rem 0rem rgba(0, 0, 0, 0.13) inset, -0.0625rem 0rem 0rem 0rem rgba(0, 0, 0, 0.13) inset, 0rem -0.0625rem 0rem 0rem rgba(0, 0, 0, 0.17) inset, 0rem 0.0625rem 0rem 0rem rgba(204, 204, 204, 0.5) inset;
  border-radius: 12px;
  pointer-events: none;
  mix-blend-mode: luminosity;
}

.ambikly-admin-metabox-inner {
  border-radius: 12px;
  padding: 16px;
}
.ambikly-admin-metabox-inner:after {
  content: "";
  display: block;
  clear: both;
}

.form-group {
  margin-bottom: 24px;
}
.form-group label {
  display: block;
  font-weight: 600;
  margin-bottom: 8px;
  font-size: 14px;
}
.form-group label:not(.title) {
  font-weight: normal;
}
.form-group .select2-container {
  padding: 0 !important;
  width: 100%;
  padding: 5px 12px;
  border: 1px solid #dcdfe4;
  border-radius: 4px;
  font-size: 14px;
  background-color: #f9fafb;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
  max-width: 100%;
}
.form-group input[type=text] {
  width: 100%;
  padding: 5px 12px;
  border: 1px solid #dcdfe4;
  border-radius: 4px;
  font-size: 14px;
  background-color: #f9fafb;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
  max-width: 100%;
}
.form-group input[type=text]:focus {
  outline: none;
  border-color: #2684ff;
  background-color: white;
}
.form-group select {
  width: 100%;
  padding: 5px 12px;
  border: 1px solid #dcdfe4;
  border-radius: 4px;
  font-size: 14px;
  background-color: #f9fafb;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
  max-width: 100%;
}
.form-group input[type=number] {
  width: 100%;
  padding: 5px 12px;
  border: 1px solid #dcdfe4;
  border-radius: 4px;
  font-size: 14px;
  background-color: #f9fafb;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
  max-width: 100%;
}
.form-group textarea {
  width: 100%;
  padding: 5px 12px;
  border: 1px solid #dcdfe4;
  border-radius: 4px;
  font-size: 14px;
  background-color: #f9fafb;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
  max-width: 100%;
}
.form-group textarea:focus {
  outline: none;
  border-color: #2684ff;
  background-color: white;
}
.form-group p {
  font-size: 12px;
  color: #6c757d;
  margin-top: 8px;
}

.form-group.width-45 {
  width: 45%;
}

.clear-div {
  display: block;
  width: 100%;
  clear: both;
}

.form-group.left {
  float: left;
}

.form-group.right {
  float: right;
}

textarea {
  height: 150px;
  resize: none;
}

.media-upload-box {
  border: 1px dashed #dcdfe4;
  padding: 20px;
  text-align: center;
  background-color: #f9fafb;
  border-radius: 4px;
}
.media-upload-box button {
  background: white;
  border: 1px solid #dcdfe4;
  border-radius: 4px;
  padding: 8px 16px;
  margin: 5px 10px;
  cursor: pointer;
  font-size: 14px;
}
.media-upload-box button:hover {
  border-color: #2684ff;
}
.media-upload-box p {
  color: #6c757d;
  font-size: 12px;
  margin-top: 8px;
}

button {
  cursor: pointer;
}
button:focus {
  outline: none;
}

input:focus {
  outline: none;
}

/*# sourceMappingURL=page-style.css.map*/