.fpc_meta_control label {
	font-weight: bold;
	width: 168px;
}
.fpc_meta_control input[type="text"] {
	clear: both;
	width: 300px;
	border: 1px solid #aaa !important;
}
.fpc_meta_control textarea {
	clear: both;
	width: 450px;
	height: 100px;
	border: 1px solid #aaa !important;
}
.fpc_meta_control div {
	clear: both;
}
.fpc_meta_control .desc {
	padding-top: 0px;
	margin-top: 2px;
	margin-bottom: 14px;
}
.fpc-option-table {
	padding: 4px;
	border: none;
	width: 100%;
	max-width: 100%;
}
.fpc-option-table table,
.fpc-option-table table td,
.fpc-option-table td {
  display: table-cell;
  vertical-align: top;
}
.fpc-option-table td {
	width: 100%;
}
.fpc-option-table .label-td {
	width: 160px;
}
.fpc-option-table .option-td {
    width: calc(100% - 160px);
}
.fpc-option-table .header-td {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 8px;
}
.option-header {
	background: url("../img/20x20-toggle-icon.png") no-repeat left top;
	cursor: pointer;
	display: block;
	font-size: 16px;
	font-weight: bold;
	height: 18px;
	padding: 2px 0 0 26px;
	position: relative;
	margin-bottom: 4px;
}
.option-header-small {
	font-size: 12px;
}
.option-header-open {
	background: url("../img/20x20-toggle-icon.png") no-repeat left -20px;
}
.app-options-closed {
 	display: none;
 }
.fpc_unregged {
	font-weight: bold;
	font-size: 1.1em;
	margin: 3px 0px;
	display: block;
}
.fpc_reg_wrapper {
	width: 600px;
	padding: 10px;
	border: 2px solid #aaaaaa;
	background-color: #ededed;
	border-radius: 10px;
}
.reg_form_center {
	margin: 8px auto;
	border: 2px solid #1E74BB;
	padding: 4px;
	border-radius: 10px;
	box-shadow: 0px 0px 4px rgba(0,0,0,.4);
	background-color: #EDEDED;
	font-weight: bold;
}
.fpc-note {
	background-color: #FFFFE0;
    border: 1px solid #E6DB55;
    border-radius: 4px;
	font-weight: bold;
	padding: 6px;
}
p.fpc-note {
	margin-top: -6px;
}
.option-update {
	margin: 0px 0px 10px 0px;
	display: inline-block;
	background-color: #1984c3;
	color: #fff;
	font-size: 16px;
	font-family: sans-serif;
	font-weight: bold;
	text-shadow: -1px -1px 0px rgba(0,0,0,.30);
	padding: 10px;
	text-decoration: none;
	border-color: transparent;
	border-radius: 8px;
	-moz-transition: 0.1s;
	-webkit-transition: 0.1s;
	transition: 0.1s;
	box-shadow: 0 7px 6px -3px rgba(255, 255, 255, 0.4) inset, 0 10px 0 #0F5177, 0 12px 3px rgba(0, 0, 0, 0.85);
	position: relative;
}
.option-update:disabled {
	background-color: #c9c9c9;
	box-shadow:  0 7px 6px -3px rgba(255, 255, 255, 0.4) inset, 0 10px 0px #757575, 0 12px 3px rgba(0,0,0,.85);
}
.option-update:enabled:active {
	background-color: #1e9feb;
	box-shadow:  0 7px 6px -3px rgba(255, 255, 255, 0.4) inset, 0 3px 0px #0f5177, 0 3px 2px rgba(0,0,0,.95);
	margin-top: 10px;
	margin-bottom: 0px;
}
#layout-img {
	box-shadow: 2px 2px 4px 1px rgba(0,0,0,.45);
	margin-left: 20px;
	margin-top: -100px;
	position: relative;
	z-index: 10;
}
.fpc-version {
	float: right;
	font-style: italic;
	font-size: 1.17em;
	clear: both;
}
#wp-fpcpage_header_content-wrap,
#wp-fpcpage_footer_content-wrap {
	margin-top: -2px;
	margin-bottom: 20px;
}
#wp-fpcpage_custom-wrap {
	margin-top: -2px;
}
#fpcpage_custom_toolbargroup {
	width: 100% !important;
}
#wp-fpcpage_header_content-wrap .wp-media-buttons .insert-media,
#wp-fpcpage_footer_content-wrap .wp-media-buttons .insert-media,
#wp-fpcpage_custom-wrap .wp-media-buttons .insert-media {
	position: absolute;
	margin-top: -26px;
}
#fpc-fb-like {
	margin-top: 20px;
	float: right;
}
#fpc-fb-like iframe {
	width: 400px;
}
#regStatus {
	padding: 12px;
	font-weight: bold;
	background-color: #F47086;
	border: 2px solid #990000;
	border-radius: 10px;
	display: none;
}
#trouble-guide {
	display: none;
}
.fpc_reg_wrapper .option-header {
	font-size: 1.17em;
}
.fpc-info {
	clear: both;
	margin-top: 20px;
}
.fpc-info td {
	font-size: 1.2em;
	padding: 2px;
	font-weight: 500;
}
.fpc-info .label {
	font-weight: bold;
}
.custom-editor-container {
	margin-bottom: 20px;
	border:1px solid #ccc;
	width: 500px !important;
}
.custom-editor-container .mceEditor,
.custom-editor-container .mceEditor .mceLayout
.custom-editor-container .mceEditor .mceFirst,
.custom-editor-container .mceEditor .mceFirst>div,
.custom-editor-container .mceEditor .mceFirst>div>span{
	width: 490px !important;
}
.custom-editor-container .mceEditor .mceFirst>div>span .mceToolbar{
	display: block !important;
	float: left;
}
.custom-editor {
	border: 0;
	max-width: 490px;
	width: 490px;
}
/*#fpc-shortcodes,
#fpc-gfx{
	color: #888;
	font-weight: 800;
	text-decoration: none;
	font-family: "lucida grande",helvetica,arial,sans-serif;
	margin-left: 1px;
	margin-right: 1px;
}
*/
.fpc-button-icon {
	background: url("../img/fpc-button-icon.png") no-repeat scroll left top transparent;
	display: inline-block;
	height: 16px;
	margin: 0 2px;
	vertical-align: text-top;
	width: 16px;
}
.action-button-icon {
	background: url("../img/action-button-icon.png") no-repeat scroll left top transparent;
	display: inline-block;
	height: 16px;
	margin: 0 2px;
	vertical-align: text-top;
	width: 16px;
}
.fpc-suggested-plugins li {
	background: url('https://fpc-gfx.s3.amazonaws.com/checks/chk-0301-green.png') no-repeat top left;
    padding-left: 36px;
    padding-top: 2px;
}
.fpc-suggested-plugins li a {
	font-weight: bold;
}