.fdcSortiesCine .fdcTitre {font-size: 120%;font-weight: bold;margin-bottom:10px}
.fdcSortiesCine .fdcImage {display: block;float: left;margin-right: 3%;width: auto;position:relative;}
.fdcSortiesCine .fdcBlock {position:relative;margin-bottom:15px;border-bottom:dotted 1px #ccc;padding-bottom: 10px;}
.fdcSortiesCine .fdcBlock iframe{border:none}
.fdcSortiesCine .fdcBlock a.more{cursor:pointer;position:absolute;right:0;bottom:0}
.fdcSortiesCine p {text-align:justify}
.fdcSortiesCine .group:after {clear:both;content:".";display:block;height:0;visibility:hidden;}
.fdcSortiesCine .fdcImage img {width:auto;max-width:100%;height:auto;margin:2px;}
.fdcSortiesCine .fdcImage input[type="button"]{position:absolute;left:0;bottom:0;width:100%;}
@media only screen and (max-width: 320px) {
	.fdcSortiesCine .fdcImage {display: inline-block;margin:0 auto;width: auto;position:relative;float:none}
	.fdcSortiesCine .fdcBlock {text-align:center}
}