.fdcSortiesCineGal {position:relative;width:100%;height:auto}
.fdcSortiesCineGal div {position:relative}
.fdcSortiesCineGal .fdcTitre {font-size: 120%;min-height:22px;line-height:22px;text-align:center;padding:0 22px;margin-bottom:10px}
.fdcSortiesCineGal .fdcInner {width:100%;height:auto;overflow:hidden;white-space:nowrap}
.fdcSortiesCineGal .fdcBlock {width:31.0833333333333%;display:inline-block;height:auto;overflow:hidden;margin:1.125%}
.fdcSortiesCineGal .fdcImage {display:block;border:solid 1px #4ce2ac;text-align:center;}
.fdcSortiesCineGal .fdcImage img {max-width:100%;height:auto;}
.fdcSortiesCineGal .fdcBlockTitre {margin:0;text-align:center;font-weight: bold;font-size:14px;line-height:54px;height:54px;vertical-align:middle;padding:0 5px;white-space:normal}
.fdcSortiesCineGal .fdcBlockTitre span{display:inline-block;vertical-align:middle;line-height:18px}
.fdcSortiesCineGal .fdcBlockTitre a{text-decoration:none}
.fdcSortiesCineGal .fdcTitre span {background:url(../images/sprites-dark.png) no-repeat;width:36px;height:22px;position:absolute;top:0;cursor:pointer}
.fdcSortiesCineGal .fdcTitre span.fdcnext {right:0;background-position:0 0}
.fdcSortiesCineGal .fdcTitre span.fdcnext:hover {background-position:0 -22px}
.fdcSortiesCineGal .fdcTitre span.fdcprev {left:0;background-position:0 -66px}
.fdcSortiesCineGal .fdcTitre span.fdcprev:hover {left:0;background-position:0 -44px}
.fdcSortiesCineGal iframe{border:none;margin-top:15px}
.fdcSortiesCineGal .fdcImage input[type="button"]{cursor:pointer;min-height:34px;position:absolute;left:0;bottom:0;width:100%;height:auto;white-space:normal}
@media only screen and (max-width: 640px) {
	.fdcSortiesCineGal .fdcBlock {width:47.75%}
}
@media only screen and (max-width: 320px) {
	.fdcSortiesCineGal .fdcBlock {width:97.75%}
}