.easy_schema_admin_dashboard {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    margin-top: 1%;
    font-weight: 500;
    font-size: 14px;
    color: #6c7383;
}
.easy_schema_admin_dashboard_settings {
  width: 100%;
  height: 100%;
}
.easy_schema_left_tabs {
    background: #112e76;
    padding-top: 25px;
    padding-bottom: 40px;
    width: 15%;
    max-width: 258px;
    float: left;
    margin-right: 20px;
    border-radius: 12px;
}
.es_settings_tab_item {
    padding: 14px 5px 14px 15px;
    cursor: pointer;
    border-radius: 5px;
    text-align: left;
    margin: 5px 25px 5px 25px;
    color: #fff;
}
.es_settings_tab_item.tabactive {
    font-weight: 700;
    background: #00adff;
    box-shadow: rgb(0 0 0 / 5%) 0px 20px 27px 0px;
}
.es_tab_item_title {
    display: inline-flex;
}
.es_schema_pro_icon {
    margin-left: 10px;
}
.es_schema_pro_symbol {
    background: #ff7601;
    padding: 4px 7.5px 4px 7.5px;
    font-weight: 700;
    font-size: 12px;
    border-radius: 12px;
}
.easy_schema_right_options {
    width: 80%;
    float: left;
}
.es_tab_arrow_right {
    float: right;
    margin-right: 5px;
}
.tab {
    padding: 0;
    min-height: 445px;
    background: #f5f7ff;
}
.getting_started_intro_banner {
    background: #0d2e80;
    padding: 20px 15px 5px 15px;
    border-radius: 12px;
    box-shadow: 0 0 20px 5px rgb(75 73 172 / 15%);
}
#wpbody-content, body {
    background: #F5F7FF;
}
#es-admin-save-changes-button {
    padding: 5px 50px;
    font-weight: 600;
    background: #00adff;
    border: none;
    margin: 0px 0 0 30px;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #fff;
}
#es_admin_save_changes_success {
    font-size: 15px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
    margin-top: -15px;
}
#es_admin_dashicon_checkmark {
    margin-left: 5px;
}
.es_admin_upgrade_cta_button {
    padding: 12px 37px;
    background: #ff7601;
    border-bottom: 3px solid #d37423;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0 0 0 30px;
    font-size: 12px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
.es_admin_upgrade_link  {
    text-decoration: none;
}
.es_admin_upgrade_cta_button:hover {
    background: #f7811e;
}
.es_settings_tab_item:hover {
    background: #00adff;
    color: #fff;
}
#wpfooter {
    position: static;
    bottom: 0;
}
.getting_started_flex_Boxes {
    display: inline-flex;
}
.getting_started_featured_left {
    width: 50%;
}
.getting_started_featured_right {
    width: 50%;
}
.getting_started_featured_left {
    width: 50%;
    background: #fff;
    padding: 0 15px 16px 15px;
    border-radius: 12px;
    margin-top: 20px;
    margin-right: 10px;
    box-shadow: 0 0 20px 5px rgb(0 0 0 / 5%);
}
.getting_started_featured_right {
    width: 50%;
    background: #fff;
    padding: 0 15px 16px 15px;
    border-radius: 12px;
    margin-top: 20px;
    margin-left: 10px;
    box-shadow: 0 0 20px 5px rgb(0 0 0 / 5%);
    height: 25%;
}
.schema_types_title {
    font-weight: 600;
    color: #444;
    font-size: 18px;
}
.schema_type_list_1 {
    background: #f5f7ff;
    padding: 18px 15px 18px 20px;
}
.schema_type_list_2 {
    background: #fff;
    padding: 18px 15px 18px 20px;
}
.schema_status {
    float: right;
    margin-right: 15px;
    margin-top: -5px;
}
.dashicons.dashicons-lock.essdrs_settings_schema_type {
    vertical-align: bottom;
    font-size: 18px;
    margin-left: 2px;
    position: relative;
    top: 1px;
}
.schema_name {
    color: #212529;
}
.schema_status.schema_not_active {
    color: #fff;
    border-radius: 20px;
    font-size: 14px;
    background: #112e76;
    padding: 5px 10px;
}
.schema_pro_setting {
    color: #fff;
    border-radius: 20px;
    font-size: 12px;
    background: #ff7601;
    padding: 5px 10px;
}
.schema_status.schema_active {
    color: #fff;
    border-radius: 20px;
    font-size: 14px;
    background: #ff7601;
    padding: 5px 10px;
}
.getting_started_setup_title{
    font-weight: 600;
    color: #444;
    font-size: 18px;
    margin: 18px 0 0 0;
}
.admin_dashboard_tabular {
    margin: 0 auto;
    width: 100%;
    padding: 35px;
    width: 95%;
}
.started-span {
    font-size: 24px;
    font-weight: 600;
    color: #FFF;
}
.getting_started_tagline {
    font-size: 16px;
    color: #ffffff;
    font-weight: 500;
    padding: 15px 0 15px 0;
    margin: 0;
}
.schematab {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 1px;
    color: #000;
}
.schematab input[type="radio"] {
    display: none;
}
#schema_status_faq_icon {
    background: #112e76;
}
.schematab label {
    padding: 21px;
    background: rgb(255 255 255 / 90%);
    border-bottom: 1px solid #dadce0;
    border-top: 1px solid #dadce0;
    font-weight: 500;
    color: #5f6368;
    font-size: 20px;
}
.schematab label:hover {
    padding: 21px;
    background: rgb(255 255 255 / 90%);
    border-bottom: 3px solid #5f6368;
    font-weight: 500;
    color: #5f6368;
    font-size: 20px;
}
.schematab .tab {
    padding: 20px;
    background: white;
    order: 1;
    display: none;
}
.schematab .tab h3 {
    font-size: 26px;
    font-weight: 500;
    margin-top: 25px;
    color: #202124;
    text-transform: capitalize;
}
.schematab input[type='radio']:checked + label + .tab {
    display: block;
}
.schematab input[type="radio"]:checked + label {
    background: white;
    color: #186fe0;
    border-bottom: 3px solid #186fe0;
}
.first-label-head {
    border-top-left-radius: 10px;
}
.last-label-head {
    border-top-right-radius: 10px;
}
.es_local_multistep_steps {
    min-height: 350px;
    max-height: 350px;
    overflow-y: auto;
}
.faq_schema_right_side_stacked_boxes {
    width: 50%;
}
.local_business_information_heading {
    font-size: 18px;
    font-weight: 600;
    padding: 10px 0px 0px 0;
    color: #080808;
    margin-bottom: 1.5rem;
}
.getting-started-intro {
    font-size: 16px;
    color: #444;
    font-weight: 500;
    padding: 12px 0 12px 0;
    margin: 0;
}
.local-business-intro {
    font-size: 15px;
    color: #202124;
    font-weight: 400;
    margin-bottom: 20px;
}
.faq-intro {
    font-size: 15px;
    color: #202124;
    font-weight: 400;
    padding-right: 70px;
}
.logo-intro {
    font-size: 15px;
    color: #202124;
    font-weight: 400;
    padding-right: 70px;
}
.sitelinks-intro {
    font-size: 15px;
    color: #202124;
    font-weight: 400;
    padding-right: 70px;
}
.woocommerce-schema-intro {
    font-size: 15px;
    color: #202124;
    font-weight: 400;
    padding-right: 70px;
    text-align: left;
    margin: 0;
}
.local-business-intro-strong {
    font-weight: 700;
}
.th-subhead {
    font-size: 14px;
    color: #76838f;
    font-weight: 500;
    width: auto;
    padding: 0;
    margin-bottom: 0.5rem;
    width: 210px;
    vertical-align: middle;
}
tr {
    display: inline-block;
    margin-bottom: 1rem;
}
tbody {
    display: block;
}
.form-table td {
    margin-bottom: 0px;
    padding: 0;
    line-height: 1.3;
    vertical-align: middle;
}
.es-faq-td {
    float: left;
}
.form_table_wrapper {
    padding: 15px 0 0 10px;
    display: flex;
    flex-wrap: wrap;
}
.faq_display_options {
    text-align: left;
}
input[type="text"] {
    min-height: 40px;
    min-width: 320px;
    font-size: 14px;
    color: #202124;
    font-weight: 400;
    border: 1px solid #eee;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0px 2px 5px 0px rgb(155 155 155 / 30%);
    cursor: pointer;
}
input[type="text"]:focus {
    border-color: #80bdff;
    background: #fff;
    color: #495057;
}
select.local_select_type {
    min-height: 40px;
    font-size: 16px;
    color: #202124;
    font-weight: 500;
    border: 1px solid #eee;
    width: 50px;
    min-width: 320px;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0px 2px 5px 0px rgb(155 155 155 / 30%);
}
select.local_select_type:focus {
    background-color: #fff;
}
input[type="text"]:focus {
    border-color: #4b49ac;
}
.wp-core-ui select:focus {
    border-color: #4b49ac;
}
.geo-info {
    position: relative;
    bottom: 20px;
    right: -5px;
    font-size: 14px;
    color: #202124;
    font-weight: 500;
}
.coord-link {
    color: #186fe0;
}
.faw_heading {
    color: #444;
}
.inclusion-heading {
    font-size: 18px;
    color: #444;
    padding: 0;
    font-weight: 600;
    margin: 18px 0 0 0;
}
ul.list-do {
    font-size: 16px;
    font-weight: 500;
    color: #000;
    padding: 5px 0 0 0;
}
.list-do li {
    display: inline-flex;
}
.dashicons.dashicons-yes {
    color: #00adff;
    font-size: 33px;
    height: 25px;
    min-width: 40px;
    line-height: 0.5;
}
.dashicons.dashicons-no-alt {
    color: #dc2e03;
    font-size: 33px;
    height: 25px;
    width: 40px;
    line-height: 0.5;
}
.dashicons.dashicons-facebook-alt {
    color: #1877f2;
    height: 20px;
    padding-right: 10px;
    font-size: 22px;
    line-height: 0.9;
}
.dashicons.dashicons-twitter-alt {
    color: #1da1f2;
    height: 20px;
    padding-right: 10px;
    font-size: 22px;
    line-height: 0.8;
}
.dashicons.dashicons-instagram {
    color: #262626;
    height: 20px;
    padding-right: 10px;
    font-size: 22px;
    line-height: 0.9;
}
.dashicons.dashicons-youtube {
    color: #f00;
    height: 20px;
    padding-right: 10px;
    font-size: 22px;
    line-height: 0.9;
}
.dashicons.dashicons-linkedin {
    color: #0a66c2;
    height: 20px;
    padding-right: 10px;
    font-size: 22px;
    line-height: 0.7;
}
.local-schema-all-heading {
    font-size: 16px;
    font-weight: 500;
    color: #202124;
}
.local-schema-shortcode-heading {
    font-size: 16px;
    font-weight: 500;
    color: #202124;
}
.price-range-explain {
    padding-bottom: 10px;
    font-size: 16px !important;
    color: #202124;
    padding-left: 10px;
}
.price-range-explain-usa {
    padding-top: 20px;
    font-size: 16px !important;
    color: #202124;
    padding-left: 10px;
    font-weight: 600;
}
.price-range-explain-uk {
    padding-top: 20px;
    font-size: 16px !important;
    color: #202124;
    padding-left: 10px;
    font-weight: 600;
}
.price-range-explain-currency {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px !important;
    color: #4b49ac;
    padding-left: 10px;
    font-weight: 600;
}
.price-range-explain {
    color: black;
    display: block;
    font-size: 12px;
    text-align: left;
    margin-bottom: 10px;
}
.price-range-explain-usa {
    font-size: 14px;
    text-align: left;
    display: block;
    color: #000;
}
.price-range-explain-uk {
    font-size: 14px;
    text-align: left;
    display: block;
    color: #000;
}
details {
      padding: 10px 5px 5px 5px;
      margin : 20px;
  }
summary {
    font-weight: 600;
    padding: 10px 5px 10px 15px;
    outline: none;
    border: 1px solid #4b49ac;
    background: #4b49ac;
    border-radius: 12px;
    color: #fff;
    width: 250px;
    margin-top: -25px;
    margin-left: -10px;
}
summary:hover {
    background: #4b49ac;
    cursor: pointer;
}
details[open] {
    padding: 5px;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 5px;
    margin-top: 25px;
    margin-left: 10px;
    width: 97%;
}
details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: 20px;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 98.5%;
    border-radius: 0;
    margin-left: -5px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.th-subhead-geo {
    margin-top: -40px;
}
.list-do.local_business_checklist {
    color: #202124;
    width: 150%;
    margin-bottom: 20px;
    margin-top: 20px;
}
.inclusion-heading.local_checklist {
    color: #202124;
}
.local_business_opening_hours {
    margin-bottom: 15px;
}
.list-do-pr {
    font-size: 12px;
    font-weight: 500;
    color: #202124;
    padding-top: 5px;
    margin-left: 5px;
    text-align: left;
}
.price-range-explain-currency {
    text-align: left;
    font-size: 14px;
    display: block;
}
.dashicons.dashicons-plus-alt {
    margin-right: 5px;
    position: relative;
    bottom: 1px;
}
.split-column-guides-woo {
    width: 50%;
    margin-top: 20px;
    margin-left: 10px;
    padding: 15px;
    height: fit-content;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 0 20px 5px rgb(0 0 0 / 5%);
}
.woo_split_checkboxes {
    display: flex;
}
#rem-woo-th {
    padding: 0;
    position: relative;
    bottom: 15px;
}
.right-shout-tool {
    width: 400px;
    height: 235px;
    background: #fff;
    margin: 16% 0 0 8%;
    border: 1px solid #dadce0;
    border-radius: 5px;
}
.right-shout-tool-child {
    width: 400px;
    height: 235px;
    background: #fff;
    margin: 5% 0 0 8%;
    border: 1px solid #dadce0;
    border-radius: 5px;
}
.shout-heading {
    text-align: center;
    padding: 20px;
    font-size: 24px;
    font-weight: 500;
    color: #186fe0;
    margin-top: 5px;
}
.shout-description {
    text-align: center;
    padding: 10px;
    font-size: 18px;
    font-weight: 400;
    color: #202124;
    margin-top: 5px;
}
.rich-test-button {
    text-align: center;
    padding: 30px;
}
.rich-test-link {
    color: #fff;
    padding: 10px 80px;
    font-weight: 600;
    font-size: 17px;
    background: #186fe0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.es-review-link {
    color: #fff;
    padding: 10px 80px;
    font-weight: 600;
    font-size: 17px;
    background: #ff4800f2;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button.es-review-link:hover {
    background: #ff4800d9;
}  
.five-star-shout {
    color: black;
}
.shout-heading-review {
    color: #ff4800f2;
    font-weight: 600;
} 
.tab_intro_banner {
    background: #102d72;
    padding: 20px 15px 5px 15px;
    border-radius: 12px;
    box-shadow: 0 0 20px 5px rgb(75 73 172 / 15%);
}
.tab_heading_span {
    font-size: 24px;
    font-weight: 600;
    color: #FFF;
}
.tab_tagline {
    font-size: 16px;
    color: #ffffff;
    font-weight: 500;
    padding: 15px 0 15px 0;
    margin: 0;
}
.local_under_tagline {
    font-size: 16px;
    color: #000;
    font-weight: 500;
}
.tr_checkbox_slider {
    display: block;
    margin: 0;
}
.split-column-guides {
    margin-top: 20px;
    border-radius: 12px;
    margin-left: 10px;
    box-shadow: 0 0 20px 5px rgb(0 0 0 / 5%);
    padding: 15px 15px 15px 15px;
    background: #fff;
}
.list-do.local_business_list {
    font-size: 16px;
}
.local_split_informational_boxes {
    display: flex;
}
.local_top_split_left {
    width: 55%;
    margin-top: 20px;
    border-radius: 12px;
    box-shadow: 0 0 20px 5px rgb(0 0 0 / 5%);
    padding: 15px 15px 15px 15px;
    margin-right: 10px;
    background: #fff;
}
.local_schema_right_side_stacked_boxes {
    width: 45%;
}
.local_business_settings_split_forms {
    margin-right: 60px;
    margin-left: 5px;
}
.local_business_settings_split_forms_wrapper {
    width: 100%;
    display: flex;
}
.local_business_form_first_step_split {
    width: 50%;
}
.es_local_business_multistep_wrapper {
    width: 100%;
    margin: 0 auto;
    margin-top: 0;
    border-radius: 12px;
    padding: 0 0 15px 0;
    position: relative;
}
.form-table.open-hours td {
    margin-bottom: 0px;
    vertical-align: middle;
    display: block;
    float: left;
    margin-top: 5px;
}
.form-table th {
    font-weight: 500;
}
input.local_business_opening_hours {
    min-width: 265px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.es_local_form_button_wrapper {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 100%;
}
.es_local_multistep_form {
    text-align: center;
}
#es_local_form_before_button {
    background: #d4d7d5;
    font-weight: 600;
    color: #fff;
    border: none;
    font-size: 16px;
    padding: 12px 50px;
    border-radius: 12px;
    cursor: pointer;
    display: inline-block;
}
#es_local_form_after_button {
    background: #112e76;
    font-weight: 600;
    color: #fff;
    border: none;
    font-size: 16px;
    padding: 12px 50px;
    border-radius: 12px;
    cursor: pointer;
    display: inline-block;
}
.form-table.local_multistep {
    margin: 0 auto;
    width: 100%;
}
.es-local-business-hours-td {
    padding: 0 10px 0 0 !important;
}
.faq_split_informational_boxes {
    display: flex;
}
.logo_split_informational_boxes {
    display: flex;
}
.faq_top_split_left {
    width: 50%;
    margin-top: 20px;
    border-radius: 12px;
    box-shadow: 0 0 20px 5px rgb(0 0 0 / 5%);
    padding: 15px 15px 15px 15px;
    margin-right: 10px;
    background: #fff;
}
.woocommerce_split_informational_boxes {
    display: flex;
}
.woocommerce_schema_title {
    margin-bottom: 25px;
    margin-top: 0;
    color: #444;
}
.es_woocommerce_form {
    width: 100%;
    margin: 0 auto;
    text-align: left;
}
.woocommerce_display_options {
    text-align: left;
    margin: 0 auto;
    width: 100%;
}
.es_woocommerce_form_wrapper {
    width: 100%;
    margin: 0 auto;
    margin-top: 0;
    border-radius: 12px;
    padding: 0 0 15px 0;
    position: relative;
    text-align: center;
}
.woocommerce_top_split_left {
    width: 50%;
    margin-top: 20px;
    border-radius: 12px;
    box-shadow: 0 0 20px 5px rgb(0 0 0 / 5%);
    padding: 15px 15px 15px 15px;
    margin-right: 10px;
    background: #fff;
    text-align: left;
}
.faq-split-column-guides {
    margin-top: 20px;
    border-radius: 12px;
    margin-left: 10px;
    box-shadow: 0 0 20px 5px rgb(0 0 0 / 5%);
    padding: 15px 15px 15px 15px;
    background: #fff;
    height: fit-content;
}
.logo_top_split_left {
    width: 50%;
    margin-top: 20px;
    padding: 15px 15px 15px 15px;
    margin-right: 10px;
    text-align: center;
    background: white;
    border-radius: 12px;
    box-shadow: 0 0 20px 5px rgb(0 0 0 / 5%);
}
.es_logo_form_wrapper {
    width: 100%;
    margin: 0 auto;
    margin-top: 0;
    border-radius: 12px;
    padding: 0 0 15px 0;
    position: relative;
    text-align: left;
}
.es_logo_form {
    width: 100%;
    margin: 0 auto;
}
.logo_display_options {
    text-align: left;
    margin: 0 auto;
    width: 100%;
}
.logo-split-column-guides {
    width: 50%;
    margin-top: 20px;
    border-radius: 12px;
    margin-left: 10px;
    box-shadow: 0 0 20px 5px rgb(0 0 0 / 5%);
    padding: 15px 15px 15px 15px;
    background: #fff;
    height: fit-content;
}
.es_faq_form_wrapper {
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 12px;
    padding: 0;
    position: relative;
}
.es_faq_form {
    width: 100%;
    margin: 0 auto;
}
.es-local-business-hours-td {
    margin-bottom: 0px;
    vertical-align: middle;
    display: block;
    float: left;
    margin-top: 5px;
}
.es_faq_opening_hours {
    min-width: 265px;
    margin-bottom: 5px;
    margin-top: 5px;
}
input.es_faq_opening_hours {
    min-width: 500px;
}
.help-tip {
    margin: auto;
    text-align: center;
    border: 2px solid #112e76;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    font-size: 16px;
    display: inline-block;
    margin-left: 5px;
    position: relative;
    
}
.help-tip.prince_range {
    position: absolute;
}
.help-tooltip-special-div.search_box {
    margin-left: 100px !important;
    
}
.help-tooltip-special-div.search_box:before {
    left: 40% !important;
}
.help-tip:before{
    content:'?';
    font-family: sans-serif;
    font-weight: normal;
    color: #112e76;
}
.help-tip:hover p{
    display:block;
    transform-origin: 100% 0%;
    -webkit-animation: fadeIn 0.3s ease;
    animation: fadeIn 0.3s ease;
}
.help-tip:hover .help-tooltip-special-div{
    display:block;
    transform-origin: 100% 0%;
    -webkit-animation: fadeIn 0.3s ease;
    animation: fadeIn 0.3s ease;
}
.help-tip p {    
	display: none;
	font-family: sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-align: center;
	background-color: #FFFFFF;
	padding: 12px 16px;
	width: 250px;
	height: auto;
	position: absolute;
	transform: translate(-50%, 5%);
	border-radius: 3px;
	box-shadow: 0 0px 20px 0 rgba(0,0,0,0.1);
	color: #37393D;
	font-size: 12px;
	line-height: 18px;
	z-index: 99;
	margin-left: 8px;
}
.help-tip .help-tooltip-special-div {    
	display: none;
	font-family: sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-align: center;
	background-color: #FFFFFF;
	padding: 16px 26px;
	width: 850px;
	height: auto;
	position: absolute;
	transform: translate(-50%, 5%);
	border-radius: 3px;
	box-shadow: 0 0px 20px 0 rgba(0,0,0,0.1);
	color: #37393D;
	font-size: 12px;
	line-height: 18px;
	z-index: 99;
	margin-left: 8px;
}
.help-tip p a {
	color: #067df7;
	text-decoration: none;
}
.help-tip .help-tooltip-special-div a:hover {
	text-decoration: underline;
}
.help-tip .help-tooltip-special-div a {
	color: #067df7;
	text-decoration: none;
}
.help-tip p a:hover {
	text-decoration: underline;
}
.help-tip p:before { 
	position: absolute;
	content: '';
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-bottom-color:#FFFFFF;
	top: -9px;
	left: 50%;
	transform: translate(-50%, -50%);
}
.help-tip .help-tooltip-special-div:before { 
	position: absolute;
	content: '';
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-bottom-color:#FFFFFF;
	top: -9px;
	left: 50%;
	transform: translate(-50%, -50%);
}
.help-tip p:after {
	width: 10px;
	height: 40px;
	content:'';
	position: absolute;
	top: -40px;
	left: 0;
}
.help-tip .help-tooltip-special-div:after {
	width: 10px;
	height: 40px;
	content:'';
	position: absolute;
	top: -40px;
	left: 0;
}
.es_local_settings_sliders_wrapper {
    margin: 0 auto;
    width: 70%;
}
.logo_schema_title {
    margin-bottom: 25px;
    margin-top: 0;
    color: #444;
}
.opening-hours-title {
    color: #444;
}
.sitelinks_split_informational_boxes {
    display: flex;
}
.sitelinks_top_split_left {
    width: 50%;
    margin-top: 20px;
    border-radius: 12px;
    box-shadow: 0 0 20px 5px rgb(0 0 0 / 5%);
    padding: 15px 15px 15px 15px;
    margin-right: 10px;
    background: #fff;
    text-align: center;
}
.sitelinks-split-column-guides {
    width: 50%;
    margin-top: 20px;
    border-radius: 12px;
    margin-left: 10px;
    box-shadow: 0 0 20px 5px rgb(0 0 0 / 5%);
    padding: 15px 15px 15px 15px;
    background: #fff;
    height: fit-content;
}
.es_sitelinks_form_wrapper {
    width: 100%;
    margin: 0 auto;
    margin-top: 0;
    padding: 0;
    position: relative;
    text-align: left;
}
.sitelinks-title {
    margin-bottom: 25px;
    margin-top: 0;
    color: #444;
}
.es_sitelinks_form {
    width: 100%;
    margin: 0 auto;
}
.sitelinks_display_options {
    text-align: left;
    margin: 0 auto;
    width: 100%;
}
.es_split_informational_pro_feature {
    display: flex;
}
.es_top_split_left_pro_box {
    width: 50%;
    margin-top: 20px;
    border-radius: 12px;
    box-shadow: 0 0 20px 5px rgb(0 0 0 / 5%);
    padding: 15px 15px 15px 15px;
    margin-right: 10px;
    background: #fff;
    text-align: center;
}
.es_pro_feature_form_wrapper {
    width: 100%;
    margin: 0 auto;
    margin-top: 0;
    padding: 0;
    position: relative;
    text-align: left;
}
.pro_feature_settings_title {
    margin-bottom: 25px;
    margin-top: 0;
    color: #444;
    font-size: 18px;
    font-weight: 600;
}
.es_pro_feature_form {
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
}
.pro_feature_display_options {
    text-align: left;
    margin: 0 auto;
    width: 100%;
}
.pro_feature_display_options_heading {
    color: #444;
    font-size: 16px;
    font-weight: 500;
}
/*progressbar*/
#progressbar {
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
	width: 85%;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
}
#progressbar li {
	list-style-type: none;
	color: black;
	text-transform: uppercase;
	font-size: 12px;
	width: 20%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 30px;
	line-height: 30px;
	display: block;
	font-size: 12px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 80%;
    height: 4px;
    background: #57b657;
    position: absolute;
    left: -38.1%;
    top: 13px;
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking inactive steps grey*/
#progressbar li.inactive:before,  #progressbar li.inactive:after{
	background: #d4d7d5;
	color: white;
	font-weight: 700;
}
/*marking active/completed steps green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #112e76;
	color: white;
	font-weight: 700;
}
/*make text on prev and next buttons no selectable for UI*/
.noselect {
  -webkit-touch-callout: none; 
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none; 
}
.switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}
.switch input {
  display:none;
}
.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}
.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}
input:checked + .slider {
  background-color: #00adff;
}
input:checked + .slider:before {
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
.essdrs_upgrade_wrapper {
    width: 100%;
    background: #f4f6fe;
    padding: 15px;
    border-radius: 12px;
    text-align: center;
    min-height: 875px;
}
.essdrs_upgrade_pro_heading {
    font-weight: 800;
    font-size: 36px;
    color: #112e76;
}
.essdrs_upgrade_heading_wrapper {
    margin-top: 7.5%;
    margin-bottom: 3.5%;
}
.essdrs_upgrade_plan_switcher_wrapper {
    margin-bottom: 2.5%;
}
.essdrs_upgrade_plan_switcher_annual {
    font-size: 16px;
    color: #112e76;
    font-weight: 800;
    cursor: pointer;
    vertical-align: sub;
    margin-right: 10px;
}
.essdrs_upgrade_plan_switcher_lifetime {
    font-size: 16px;
    color: #112e76;
    font-weight: 800;
    cursor: pointer;
    vertical-align: sub;
    margin-left: 10px;
    opacity: .25;
}
.essdrs_upgrade_plan_switcher_ {
    width: 25%;
    margin: 0 auto;
}
.essdrs_upgrade_plan_pricing_boxes_wrapper {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 4%;
}
.essdrs_upgrade_plan_pricing_boxes {
    display: inline-flex;
}
.essdrs_upgrade_plan_pricing_box_left {
    background: #fff;
    padding: 35px 60px;
    border-radius: 12px;
    height: 370px;
    width: 255px;
    margin-right: 12.5px;
    margin-left: 12.5px;
    box-shadow: 0 15px 35px rgb(0 0 0 / 15%);
    text-align: left;
}
.essdrs_upgrade_plan_pricing_box_middle {
    background: #fff;
    padding: 35px 60px;
    border-radius: 12px;
    height: 370px;
    width: 255px;
    margin-right: 12.5px;
    margin-left: 12.5px;
    box-shadow: 0 15px 35px rgb(0 0 0 / 15%);
    text-align: left;
    position: relative;
}
.essdrs_upgrade_plan_pricing_box_right {
    background: #fff;
    padding: 35px 60px;
    border-radius: 12px;
    height: 370px;
    width: 255px;
    margin-right: 12.5px;
    margin-left: 12.5px;
    box-shadow: 0 15px 35px rgb(0 0 0 / 15%);
    text-align: left;
}
.essdrs_upgrade_plan_pricing_heading {
    font-size: 24px;
    font-weight: 800;
    color: #abafb7;
    line-height: 1;
}
.essdrs_upgrade_plan_price {
    margin-top: 10%;
}
.essdrs_pro_price_currency {
    font-size: 24px;
    font-weight: 800;
    color: #112e76;
}
.essdrs_pro_price_value {
    font-size: 42px;
    font-weight: 800;
    color: #112e76;
    vertical-align: bottom;
}
.essdrs_pro_price_slashed {
    font-size: 20px;
    color: #abafb7;
    font-weight: 500;
    text-decoration: line-through;
    vertical-align: text-top;
    font-family: monospace;
}
.essdrs_upgrade_plan_features_wrapper {
    margin-top: 22.5%;
}
.essdrs_upgrade_plan_features {
    font-size: 18px;
    font-weight: 600;
    color: #112e76;
}
.essdrs_upgrade_plan_feature_item {
    margin-bottom: 25px;
}
.dashicons.dashicons-admin-network.essdrs_pricing_lander {
    margin-right: 15px;
    font-size: 26px;
    color: #ff7601;
    position: relative;
    bottom: 5px;
}
.dashicons.dashicons-cloud-saved.essdrs_pricing_lander {
    margin-right: 15px;
    font-size: 26px;
    color: #ff7601;
    position: relative;
    bottom: 5px;
}
.dashicons.dashicons-email.essdrs_pricing_lander {
    margin-right: 15px;
    font-size: 26px;
    color: #ff7601;
    position: relative;
    bottom: 5px;
}
.essdrs_upgrade_plan_buy_button {
    background: #ff7601;
    width: 100%;
    color: #fff;
    padding: 20px 0px;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 800;
    box-shadow: 0 5px 0 rgb(0 0 0 / 15%);
    text-align: center;
    cursor: pointer;
    transition: all .2s ease;
}
.essdrs_upgrade_plan_buy_button:hover {
    background: #ed6d00;
}
.essdrs_upgrade_plan_buy_button_wrapper {
    margin-top: 25%;
}
.slider.round.essdrs_pricing_lander {
    background: #00adff;
}
.essdrs_pricing_lander_info_text {
    font-size: 16px;
    color: #abafb7;
    width: 80%;
    margin: 0 auto;
}
.essdrs_pricing_lander_promo {
    color: #2c4fc1;
    font-weight: 600;
}
.essdrs_upgrade_plan_buy_button_inner_icon {
    line-height: 1.5;
    margin-right: 5px;
}
.essdrs_upgrade_plan_popular_choice_badge {
    position: absolute;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 13px 26px;
    background: #00adff;
    border-radius: 0px 12px;
    top: 0;
    right: 0;
    cursor: pointer;
}
.essdrs_upgrade_plan_buy_button_wrapper a{
    text-decoration: none !important;
}
.essdrs_pro_feature_locked_display_wrapper {
    width: 100%;
    height: 100%;
}
.essdrs_pro_feature_locked_display {
    width: 96%;
    height: 690px;
    background: #fff;
    border-radius: 12px;
    margin: 0 auto;
    padding: 25px;
    margin-top: 1%;
    opacity: 75%;
    box-shadow: 0 0 20px 5px rgb(0 0 0 / 5%);
}
.essdrs_locked_display_message {
    width: 30%;
    margin: 0 auto;
    text-align: center;
    color: #000;
    font-weight: 600;
}
.essdrs_locked_display_padlock {
    text-align: center;
}
.dashicons.dashicons-lock.essdrs_locked_pro {
    color: #ff7601;
    font-size: 100px;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 6%;
    margin-top: 17.5%;
}
.essdrs_locked_display_message p {
    font-size: 18px;
}