/* Basic admin styles */
@font-face {
    font-family: 'Segoe UI Bold';
    src: url('../font/Segoe UI Bold.ttf') format('truetype');
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Segoe UI';
    src: url('../font/Segoe UI.ttf') format('truetype');
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Segoe UI Semibold';
    src: url('../font/Segoe UI Semibold.ttf') format('truetype');
}
.cptb-wrapper {
    padding:20px;
}
.cptb-dashboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}
.cptb-dashboard-widget {
    flex: 0 0 48%;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
}
.cptb-dashboard-widget h2 {
    margin-top: 0;
}
.cptb-notice-banner-wrap{
    display: flex;
    gap: 10px;
}
.notice.is-dismissible.cptb{
    margin: 25px 5px 25px;
    background: #E92C6A;
    border: none;
    padding: 5px 40px;
    border-radius: 10px;
}
.cptb-banner-heading{
    color: #FFFFFF;
    font-size: 75px;
    line-height: 75px;
    font-weight: 600;
    text-align: center;
    margin: 0;
    font: normal normal bold 77px / 77px Segoe UI Bold;
}
.cptb-banner-sub-heading{
    letter-spacing: 0px;
    color: #FFFFFF;
    font-size: 43px;
    line-height: 44px;
    text-align: center;
    font-family: 'Segoe UI Semibold';
    margin: 0;
}
.cptb-notice-banner-content-wrap{
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 100%;
    justify-content: center;
}
.cptb-banner-cat{
    letter-spacing: 0px;
    color: #FFFFFF;
    font-size: 30px;
    line-height: 32px;
    margin: 0;
    text-align: center;
    font-family: 'Segoe UI Semibold';
}
.cptb-banner-btn{
    background: #44DBDA;
    width: max-content;
    margin: 0 auto;
    padding: 15px 25px;
    text-decoration: none;
    font-size: 28px;
    line-height: 28px;
    font-weight: 500;
    text-transform: capitalize;
    color: #fff;
    border-radius: 10px;
    font-family: 'Segoe UI Bold';
}
.cptb-banner-btn:hover{
    color: #E92C6A;
}
.cptb-arrow-img{
    position: absolute;
    top: 11px;
    width: 85px;
    height: 85px;
    right: -14%;
    left: 0;
    margin: 0 auto;
    object-fit: contain;
}
.cptb-img {
    padding-top: 8%;
    width: 100%;
}
.cptb-arrow-per{
    color: #FFFFFF;
    font-size: 58px;
    line-height: 59px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 0;

}
.cptb-per-wrap{
    position: absolute;
    right: 13%;
    top: 10px;
}
.cptb-percentage-text{
    font: normal normal 600 20px / 20px Segoe UI;
    color: #fff;
}
.cptb-notice-banner-left{
    width: 40%;
}
.cptb-notice-banner-right{
    width: 60%;
}
@media screen and (max-width:1600px) {
    .cptb-arrow-img{
        top: 6px;
        right: -7%;
    }
    .cptb-arrow-per{
        font-size: 55px;
        line-height: 60px;
    }
    .cptb-banner-heading{
        font-size: 59px;
        line-height: 70px;
    }
    .cptb-banner-sub-heading {
        font-size: 36px;
        line-height: 36px;
    }
    .cptb-banner-cat{
        font-size: 26px;
        line-height: 28px;
    }
    .cptb-img {
        padding-top: 12%;
    }
}
@media screen and (max-width:1199px) {
    .cptb-banner-heading {
        font-size: 35px;
        line-height: 35px;
    }
    .cptb-banner-sub-heading{
        font-size: 24px;
        line-height: 24px;
    }
    .cptb-banner-btn{
        font-size: 20px;
        line-height: 25px;
        padding: 10px 20px;
    }
    .cptb-arrow-img{
        top: 0px;
        width: 55px;
        height: 55px;
        right: -9%
    }
    .cptb-arrow-per{
        font-size: 38px;
        line-height: 38px;
        right: 12%;
        top: 12%;
    }
    .cptb-banner-cat{
        font-size: 18px;
        line-height: 19px;
    }
    .cptb-per-wrap{
        right: -3%;
        top: 5px;
    }
}
@media screen and (max-width:991px) {
    .cptb-banner-heading {
        font-size: 35px;
        line-height: 35px;
    }
    .cptb-banner-sub-heading {
        font-size: 22px;
        line-height: 22px;
    }
    .cptb-banner-cat {
        font-size: 15px;
        line-height: 21px;
    }
    .cptb-templates-search-content-box>div.d-flex {
        display: block !important;
    }

}
@media screen and (max-width:768px) {
    .cptb-notice-banner-left,.cptb-notice-banner-right{
        width: 100%;
    }
    .cptb-notice-banner-wrap{
        display: block !important
    }
    .cptb-img {
        padding-top: 5%;
    }
    .cptb-per-wrap {
        right: 22%;
    }
}


@media screen and (max-width:575px) {
    .cptb-img {
        padding-top: 20%;
    }
    .cptb-arrow-img {
        top: 17px;
        width: 45px;
        height: 45px;
        right: 0%;
    }
}