ul {
	margin-bottom: 25px;
	list-style-type: initial;
}

li {
	margin-bottom: 10px;
	margin-left: 25px;
}

.pig-post {
	float: left;
	position: relative;
	width: 30%;
	height: 317px;
	margin: 1%;
	border: 1px solid #ededf0;
	border-bottom: 1px solid #dcdce0;
	background-color: #fff;
	cursor: pointer;
}

.pig-post .pig-upper {
	height: 266px;
	background-color: #fff;
}

.pig-post .pig-post-title {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	height: 50px;
	border: 0;
	border-bottom: 1px solid #e5e5e5;

	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: left;
}

.pig-post .pig-lower {
	border: 0;
	border-top: 1px solid #e5e5e5;
}

.pig-post .pig-inner,
.pig-post .pig-inner-done {
	width: 90%;
	margin: auto;
}

.pig-post .pig-inner,
.pig-post .pig-metrics {
	float: left;
}

.pig-post .pig-inner h2,
.pig-post .pig-lower div {
	height: 50px;
	margin: 0;
	padding: 0;
	border: none;
	color: #313131;
	background-color: #fff;
}

.pig-post .pig-inner h2 {
	margin: 2%;
}

.pig-post .pig-post-body h3 {
	margin: 2%;
	font-size: 1em;
	font-weight: 500;
}

.pig-post-src h5 {
	overflow: hidden;
	margin: 1em;
}

.pig-post .pig-post-title,
.pig-post .pig-post-body {
	overflow: hidden;
	padding: 2px;
}

.pig-post .pig-post-body.pig-post-image {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	height: 211px;
	padding: 0;
	background-color: #000;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;

	-webkit-align-items: center;
	align-items: center;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	-ms-flex-align: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.pig-post .pig-post-body.pig-post-image.pig-post-image-blank {
	background-color: #fff;
}

.pig-post .pig-post-body h3 {
	color: #999;
}

.pig-post .pig-post-body img {
	display: block;
	max-width: 100%;
	max-height: 211px;
}

.pig-post .pig-lower {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;

	-webkit-align-items: center;
	align-items: center;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	-ms-flex-align: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.pig-post .pig-lower div.pig-post-src {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	overflow: hidden;
	width: 60%;
	padding-left: 10px;
	color: #999;
	text-align: center;

	-webkit-align-items: center;
	align-items: center;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	-webkit-box-pack: left;
	-ms-flex-align: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: left;
}

.pig-post .pig-lower div.pig-post-type {
	width: 40%;
	color: #fff;
	background-color: #25ae8d;
	text-align: center;
	text-transform: uppercase;
}

.pig-post .pig-lower div.pig-post-type.article {
	background-color: #fff;
}

.pig-post .pig-metrics {
	position: absolute;
	top: 0;
	right: 0;
	width: 11%;
	margin: 0;
	color: #fff;
}

.pig-post .pig-metrics .pig-metric {
	height: 40px;
	padding: 1px;
	font-size: 11px;
	text-align: center;
	vertical-align: middle;
}

.pig-post .pig-metrics .pig-metric div {
	display: block;
	text-align: center;
}

.pig-post .pig-metrics .pig-metric-total {
	height: 54px;
	margin: auto;
	background-color: #1a1a1a;
	font-size: 15px;
	text-align: center;
}

.pig-post .pig-metrics .pig-metric-total div {
	position: relative;
	top: 30%;
}

.pig-post .pig-metrics .pig-metric .pig-social {
	width: 24px;
	height: 24px;
	margin: auto;
}

.pig-post .pig-metrics .pig-metric-fb {
	background-color: #3c579e;
}

.pig-post .pig-metrics .pig-metric-in {
	background-color: #0076b4;
}

.pig-post .pig-metrics .pig-metric-t {
	background-color: #55acee;
}

.pig-post .pig-metrics .pig-metric-p {
	background-color: #bd2026;
}

.pig-post .pig-metrics .pig-metric-g {
	background-color: #d95032;
}

.pig-post .pig-metrics .pig-metric-fb .pig-social {
	background: url("../../images/fb.png") no-repeat;
	background-position: center center;
}

.pig-post .pig-metrics .pig-metric-in .pig-social {
	background: url("../../images/in.png") no-repeat;
	background-position: center center;
}

.pig-post .pig-metrics .pig-metric-t .pig-social {
	background: url("../../images/twitter.png") no-repeat;
	background-position: center center;
}

.pig-post .pig-metrics .pig-metric-p .pig-social {
	background: url("../../images/pin.png") no-repeat;
	background-position: center center;
}

.pig-post .pig-metrics .pig-metric-g .pig-social {
	background: url("../../images/g+.png") no-repeat;
	background-position: center center;
}

.pig-post .pig-actions-container {
	position: relative;
}

.pig-post .pig-actions {
	display: none;
	width: 100%;
}

.pig-post .pig-actions div {
	float: left;
	position: relative;
	width: 33.33%;
	height: 211px;
	opacity: 0.9;
}

.pig-post:hover .pig-actions {
	display: block;
	position: absolute;
}

.pig-post:hover .pig-actions div:nth-child(odd) {
	background-color: #25ae8d;
}

.pig-post:hover .pig-actions div:nth-child(even) {
	background-color: #058dbb;
}

.pig-post h5 ul {
	margin: 10px;
	color: #fff;
	list-style: initial;
}

img.pig-fav {
	margin-right: 5px;
}

.pig-post .pig-actions .pig-post-draft {
	background: url("../../images/draft.png") no-repeat;
	background-position: center;
}

.pig-post .pig-actions .pig-post-draft:hover {
	background: url("../../images/draft-hover.png") no-repeat;
	background-position: center;
}

.pig-post .pig-actions .pig-post-bookmark {
	background: url("../../images/bookmark.png") no-repeat;
	background-position: center;
}

.pig-post .pig-actions .pig-post-bookmark:hover {
	background: url("../../images/bookmark-hover.png") no-repeat;
	background-position: center;
}

.pig-post .pig-actions .pig-post-remove {
	background: url("../../images/remove.png") no-repeat;
	background-position: center;
}

.pig-post .pig-actions .pig-post-remove:hover {
	background: url("../../images/remove-hover.png") no-repeat;
	background-position: center;
}

.pig-post-title a,
.pig-post-title a:active {
	color: #333;
	text-decoration: none;
}

.pig-post-title a:hover {
	text-decoration: underline;
}

.pig-post-title a:visited {
	color: #999;
	text-decoration: none;
}

.pig-post.pig-done {
	cursor: not-allowed;
	pointer-events: none;
}

.pig-post.pig-done .pig-inner {
	display: none;
}

.pig-post.pig-done .pig-inner-done {
	display: block !important;
}

.pig-post.pig-done .pig-inner-done h3,
.pig-post .pig-inner-doing h3 {
	color: #333;
}

h5.pig-post-src * {
	vertical-align: top;
}

.loading {
	position: relative;
	left: 40%;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

.clear {
	clear: both;
}

.pig-no-results {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	background: -webkit-gradient(linear, left top, right bottom, from(#2bc2d5), to(#25ae8d));
	background: -webkit-linear-gradient(top left, #2bc2d5, #25ae8d);
	background: linear-gradient(to bottom right, #2bc2d5, #25ae8d);

	-webkit-align-items: center;
	align-items: center;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	-ms-flex-align: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.pig-no-results div {
	width: 90%;
	margin: auto;
}

.pig-no-results .li {
	width: 50% !important;
	color: #fff;
}

.pig-no-results .li .li-index,
.pig-no-results .li label {
	float: left;
	width: 90%;
}

.pig-no-results .li .li-index {
	width: 10%;
}

.pig-no-results h2 {
	color: #fff !important;
	background-color: transparent !important;
}

.search-pro-more {
	padding: 15px;
}

.search-pro-go {
	margin-left: 20px;
}

#pig-widget table tr td.date {
	white-space: nowrap;
}

.pig-gopro {
	color: green;
	font-weight: bold;
}

@media all and (max-width: 1024px) {
	.pig-post {
		float: left;
		position: relative;
		width: 100%;
		width: 45%;
		margin: 1%;
		cursor: pointer;
	}
}

@media all and (max-width: 620px) {
	.pig-post {
		position: relative;
		width: 100%;
		margin: 1%;
		cursor: pointer;
	}
}

#pig-paging {
	display: block;
	clear: both;
	width: 50%;
	margin: auto;
}

#pig-paging span.pig-page {
	margin: 1%;
	font-weight: bold;
	text-align: center;
}

#pig-paging span.pig-page.active a,
#pig-paging span.pig-page.active a:visited,
#pig-paging span.pig-page.active a:active {
	color: red;
	text-decoration: none;
	pointer-events: none;
}

#limits-description {
	width: 20px;
	height: 20px;
	padding: 5px;
	border-radius: 50%;
	color: #fff;
	background-color: #000;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
}

#limits-description.reached {
	background-color: #f00;
}

th.limits-description {
	vertical-align: middle;
}

.email-limits {
	margin: 20px !important;
}

/* SVM additions to the search form */
th.search-q {
	width: 80%;
}

.form-wrapper #search-q {
	width: 100%;
	height: 40px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
	color: #666;
	-webkit-box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #fff;
	box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #fff;
	font: 16px Lucida Sans, Trebuchet MS, Tahoma, sans-serif;
}

.form-wrapper #search-q:focus {
	border-color: #aaa;
	outline: 0;
	-webkit-box-shadow: 0 1px 1px #bbb inset;
	box-shadow: 0 1px 1px #bbb inset;
}

.form-wrapper #search-q:-moz-placeholder,
.form-wrapper #search-q:-ms-input-placeholder,
.form-wrapper #search-q::-webkit-input-placeholder {
	color: #666;
	font-weight: normal;
}

.form-wrapper #pig-submit {
	width: 180px;
	height: 42px;
	padding: 0;
	border: 1px solid #00748f;
	border-radius: 3px;
	color: #fafafa;
	background-color: #0483a0;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#31b2c3), to(#0483a0));
	background-image: -webkit-linear-gradient(to bottom, #31b2c3, #0483a0);
	background-image: -webkit-linear-gradient(to bottom, #31b2c3, #0483a0);
	background-image: -webkit-linear-gradient(top, #31b2c3, #0483a0);
	background-image: linear-gradient(to bottom, #31b2c3, #0483a0);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 #fff;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 #fff;
	text-shadow: 0 1px 0 rgba(0, 0 ,0, 0.3);
	font: 15px Arial, Helvetica;
	text-transform: uppercase;
	cursor: pointer;
}

.form-wrapper #pig-submit:hover,
.form-wrapper #pig-submit:focus {
	background-color: #31b2c3;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#0483a0), to(#31b2c3));
	background-image: -webkit-linear-gradient(to bottom, #0483a0, #31b2c3);
	background-image: -webkit-linear-gradient(to bottom, #0483a0, #31b2c3);
	background-image: -webkit-linear-gradient(top, #0483a0, #31b2c3);
	background-image: linear-gradient(to bottom, #0483a0, #31b2c3);
}

.form-wrapper #pig-submit:active {
	outline: 0;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
}

.form-wrapper #pig-submit::-moz-focus-inner {
	border: 0;
}

.form-table {
	width: 65%;
	margin-left: 15px;
}
