/*
	Gravatar Like Plugin
	CSS by:
	Parham Khoshbakht
	www.parhum.net
*/

#gravatar-like-error {
	color:red;
}
span#gllikeCount {
	font-size:12px;
	position:absolute;
	right:50px;
width:400px;
}
#gravatar-like-list {
	margin-top:10px;
}
#gravatar-like-list img {
    margin:3px;
}
#gravatar-like-list img:hover {
    border: 3px solid #FFFFFF;
    box-shadow: 1px 1px 5px 1px #CCCCCC;
    margin: 0;
border-radius:5px;
} 
#gravatar-like-button-div {
position:relative;
}
a#gravatar-like-button {
margin : 0;
padding : 0;
display : inline-block;
background : #dedede;
border : 1px solid #ddd;
color : #000;
text-decoration : none;
line-height : 1;
font-size : 12px;
font-family : tahoma, Arial, sans-serif;
font-weight : normal;
border-radius:5px;
cursor:pointer;
}
a#gravatar-like-button:hover {
color : #1982D1;
border-color : #ddd;
background : #efefef;
}
a#gravatar-like-button span {
display:block;
padding : 5px 17px 5px 5px;
border-radius:7px;
background : url(like.png) no-repeat right center;
cursor:pointer;
}
#gravatar-like-form {}
#gravatar-like-form img {}
#gravatar-like-form input {}
	#gravatar-like-form input:focus {}
#gravatar-like-form input#glSend {}
	#gravatar-like-form input#glSend:hover {}
/* gravatar-like-clearfix */
.gravatar-like-clearfix:after {
   content: " . ";
   display: block;
   clear: both;
   visibility: hidden;
   line-height: 0;
   height: 0;
}
.gravatar-like-clearfix {
   display: inline-block;
}
html[xmlns] .gravatar-like-clearfix {
   display: block;
}
* html .gravatar-like-clearfix {
   height: 1%;
   overflow: visible;
}