.fma-card {
    min-width: 90%;
    font-size: 120%;
}

.fma-input {
    width: 150px;
    height: 40px;
    font-size: 130%;
    border: 1px solid #919191 !important;
    text-align: center;
}

.fma-input:hover {
    border: 2px solid #7AADFF !important;
}

.fma-button {
    padding: 8px;
    font-size: 120%;
    background-color: #7AADFF;
    border: 1px solid #7AADFF !important;
    border-radius: 3px;
    text-decoration: none;
    color: #000000;
}
.fma-button-secondary {
    padding: 7px;
    font-size: 120%;
    background-color: #00B359;
    border: 1px solid #00B359 !important;
    border-radius: 3px;
    text-decoration: none;
    color: #000000;
}
.fma-button-secondary:hover {
    padding: 7px;
    font-size: 120%;
    background-color: #00B359;
    border: 1px solid #00B359 !important;
    border-radius: 3px;
    text-decoration: none;
    color: #000000;
}
