/*
 * This file is part of the Easygram plugin.
 *
 * (c) Anthony Great and OneDotThirty, LLC <hello@1dot30.com>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

.easygram-widget-input-slider {
	position: relative;
    width: 90%;
    margin-top: -4px;
}

.easygram-widget-slider-opt-count {
	position: relative;
    float: right;
    margin: -2px 0 0 0;
}