/* Commons Frontend Styles */
.n-label {
    border: 1px solid #ccc;
    font-family: helvetica, arial, sans-serif;
    font-size: .9em;
    width: 22em;
    padding: 1em 1.25em 1em 1.25em;
    line-height: 1.4em;
    margin: 1em 0;
}
.n-label hr { border:none; border-bottom: solid 8px #666; margin: 3px 0px; }
.n-label .heading { font-size: 1.6em; font-weight: 900; margin: 0; line-height: 1em; padding-bottom:5px; }
.n-label .indent { margin-left: 1em; }
.n-label .small { font-size: .75em; line-height: 1.2em; }
.n-label .item_row { border-top: solid 1px #ccc; padding: 3px 0; }
.n-label .amount-per {
    border-bottom: solid 2px #666;
    border-top: 0 none;
    padding: 0 0 6px 0;
}
.n-label .daily-value {
    border-top: solid 4px #666;
    font-weight: bold;
    line-height: 1.5em;
    padding: 0 0 6px 0;
    text-align: right;
}
.n-label .f-left { float: left; }
.n-label .f-right { float: right; }
.n-label .noborder { border: none; }

.n_cf:before,.n_cf:after { content: " "; display: table;}
.n_cf:after { clear: both; }
.n_cf { *zoom: 1; }
/* ----------------------------------- */