/* Ensure SVGs are displayed as block-level elements */
img[src$=".svg"] {
    display: block;
    width: 100%;
    height: auto;
}


/* Ensure SVGs are responsive */
.svg-block svg {
    width: 100%;
    height: auto;
}