#kento-highlight-widget{
	border-bottom:0px none;
	padding:0px;
}
#kento-highlight-widget a{
	text-decoration:none;
}
#kento-highlight-widget ul.tabs li{
	flex: 1;
	overflow: hidden;
	margin: 0;
	padding: 0;
}
#kento-highlight-widget ul.tabs li:nth-child(2){
	border-left:1px solid #666;
	border-right:1px solid #666;
}
#kento-highlight-widget ul.tabs li.active a{
	background-color:#CD2122;
}
#kento-highlight-widget .active{
	background-color:#CD2122;
}
#kento-highlight-widget ul.tabs li a{
	background-color:#2C2C2C;
	color:#FFFFFF;
	cursor:pointer;
	display:block;
	line-height:40px;
	padding:0px;
	text-align:center;
}
#kento-highlight-widget ul.tabs li a:hover{
	background-color:#4c4c4c;
	text-decoration:none;
}
#kento-highlight-widget ul.tabs li.active:hover a{
	background-color:#CD2122;
	text-decoration: none;
	box-shadow: none;
	outline: none;
}
#kento-highlight-widget #tab3 li a{
	max-height:51px !important;
	display:block !important;
	width:100%;
	font-weight:normal !important;
}
#kento-highlight-widget .widget-container .post-thumbnail, #kento-highlight-widget .footer-widget-container .post-thumbnail{
	float:left;
	margin:0px 5px 0px 0px;
	height:60px;
	width:60px;
}
#kento-highlight-widget .post-thumbnail{
	position:relative;
	line-height:0px;
	margin:0px 15px 10px 0px;
}
#kento-highlight-widget .widget-container h3{
	font-size:inherit;
}
#kento-highlight-widget .widget-container a:hover{
	text-decoration:underline;
}
#kento-highlight-widget ul.tabs {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	overflow: hidden;
	margin: 0;
	padding: 0;
	margin-bottom: 30px;
}
#kento-highlight-widget .tabs-wrap ul {
    margin: 0;
    padding: 0;
}
#kento-highlight-widget .widget-container li span.date, 
#kento-highlight-widget .footer-widget-container li span.date{
	color:#aaa;
	font-size:85%;
	margin:5px 0px;
}
#kento-highlight-widget span.post-date{
	background-image:url(images/separate.png);
	padding-left:16px;
	background-repeat:no-repeat;
	background-position:left -504px;
}
#kento-highlight-widget .widget-container li .stars-small, 
#kento-highlight-widget .footer-widget-container li .stars-small{
	float:left;
	margin:2px 5px 0px 0px;
}
#kento-highlight-widget .tabs-wrap li{
	background:none repeat scroll 0 0;
	border-bottom:1px solid #F2F2F2;
	padding: 10px 0px;
	display: flex;
    align-items: center;
}
#kento-highlight-widget .tabs-wrap li:last-child{
	padding-bottom: 0;
	border-bottom:none;
}
#kento-highlight-widget .tabs-wrap li:first-child{
	padding-top: 0;
}
.kento-post-thumbnail {
    position: relative;
    max-width: 75px;
    margin-right: 20px;
    float: left;
    min-width: 75px;
    vertical-align: middle;
    display: block;
}
.kento-post-thumbnail img{
    width: 100%;
    height: auto;
    object-fit: cover;
}