/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

:root {
  color-scheme: dark;
}

body {
  color: #87919b !important;
}

#wpcf7-welcome-panel,
.wp-filter,
.popular-tags {
  background-color: var(--night-color) !important;
  ;
}

#wpcf7-welcome-panel p {
  color: white;
}

p {
  color: lightgray;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white !important;
  transition: background-color 0.2s;
}

label,
legend {
  color: var(--tertiary-color) !important;
}

/* TABLES */
.wp-list-table tr {
  background-color: var(--night-color) !important;
  color: white !important;
}

.wp-list-table {
  background-color: #323232 !important;
  border: 1px solid var(--border-color) !important;
}

.plugins .active td,
.plugins .active th {
  background-color: var(--border-color);
}

.plugins .active th input {
  background-color: var(--night-color) !important;
}

.wp-has-current-submenu {
  background-color: #3b4b58 !important;
}

.plugins .active th.check-column {
  border-left: 4px solid var(--secondary-color) !important;
}

.wp-list-table th {
  color: #9b98b3 !important
}

.wp-list-table strong {
  color: white !important
}

.wp-list-table p {
  color: gray !important;
}

#activity-widget #the-comment-list .comment-item {
  background-color: var(--night-color) !important;
}

.unapproved td,
.unapproved th {
  background-color: #3a3c45 !important;
}

.plugin-version-author-uri {
  color: white !important;
}

.community-events ul {
  background-color: var(--night-color) !important;
}

.community-events li {
  color: white !important;
}

.community-events-footer {
  border-top: 1px solid var(--border-color) !important;
}

.form-table th,
.form-wrap label {
  color: var(--tertiary-color) !important;
}

.importers {
  background-color: var(--night-color) !important;
  border: 1px solid var(--border-color) !important;
}

.alternate,
.striped>tbody>:nth-child(odd),
ul.striped>:nth-child(odd) {
  background-color: var(--border-color) !important;
}

.alternate,
.striped>tbody>:nth-child(odd) th input,
ul.striped>:nth-child(odd) th input #nav-menu-header {
  background-color: var(--night-color) !important;
}

#post-body {
  background-color: var(--border-color) !important;
}

#nav-menu-footer {
  background-color: var(--night-color) !important;
}

.accordion-section-title {
  background-color: var(--night-color) !important;
}

.accordion-section-content {
  background-color: var(--border-color) !important;
}

.tabs-panel.tabs-panel-active {
  background-color: var(--night-color) !important;
}

.menu-item-handle {
  background-color: var(--night-color) !important;
}

#menu-locations-table {
  background-color: var(--night-color) !important;
}

.manage-column {
  color: var(--tertiary-color) !important;
}

#the-comment-list .unapproved th.check-column {
  border-left: 4px solid var(--primary-color) !important;
}

#activity-widget #the-comment-list .unapproved:before {
  background: var(--primary-color);
}

.health-check-table {
  background-color: var(--night-color) !important;
}

.widefat tfoot td,
.widefat tfoot th {
  border-top: 1px solid var(--border-color) !important;
}

.widefat thead td,
.widefat thead th {
  border-bottom: 1px solid var(--border-color) !important;
}

.filter-drawer {
  background-color: var(--night-color) !important;
  border-top: 1px solid var(--border-color) !important;
}

.filter-group {
  background-color: var(--input-color) !important;
  border: 1px solid var(--border-color) !important;
}

.no-items td {
  background-color: var(--primary-color) !important;
}

.status-request-confirmed td,
.status-request-confirmed th {
  background-color: var(--primary-color) !important;
}

.status-request-pending td,
.status-request-pending th {
  background-color: var(--input-color) !important;
}

.status-request-pending td,
.status-request-pending td span {
  color: var(--border-color) !important;
}


.status-request-completed td,
.status-request-completed th {
  background-color: var(--night-color) !important;
}

#the-list .status-request-completed th input {
  background-color: var(--primary-color) !important;
}

.request-results th {
  background-color: var(--input-color) !important;
}


/* BUTTONS */

.wrap .add-new-h2,
.wrap .add-new-h2:active,
.wrap .page-title-action,
.wrap .page-title-action:active {
  color: var(--secondary-color) !important;
  border: var(--secondary-color) !important;
  background-color: var(--primary-color) !important
}

.wp-core-ui .button,
.wp-core-ui .button-secondary {
  color: var(--secondary-color);
  border: var(--secondary-color);
  background-color: var(--primary-color)
}

.wp-core-ui select:hover {
  color: var(--secondary-color);
}

.wp-core-ui select:focus {
  border-color: var(--secondary-color);
  color: var(--secondary-color);
  box-shadow: 0 0 0 1px var(--secondary-color);
}

.view-switch a.current:before {
  color: var(--primary-color) !important;
}

.bulk-select-button {
  background-color: var(--night-color) !important;
}


/*INPUTS*/
input[type=submit],
textarea {
  background-color: var(--primary-color) !important;
  color: var(--secondary-color) !important;
  border: black;
}

input,
textarea,
select {
  background-color: var(--input-color) !important;
  border: black !important;
  color: var(--input-text) !important;
}

input:focus,
textarea:focus {
  border: var(--border-color) !important;
  box-shadow: 0 0 0 1px var(--primary-color) !important;
}

input[type=checkbox] {
  background-color: var(--primary-color) !important;
  border: var(--night-color) !important
}

input[type=checkbox]:focus {
  box-shadow: 0 0 0 1px var(--secondary-color) !important;
}

input[type=checkbox]:checked::before {
  fill: var(--secondary-color) !important;
}

input::placeholder,
textarea::placeholder {
  color: var(--secondary-color) !important;
}

.color-option.selected {
  background-color: var(--primary-color) !important;
}

.cat-checklist {
  background-color: var(--night-color) !important;
  border: 1px solid var(--border-color) !important;
}

input[type=radio] {
  border: 1px solid var(--border-color) !important;
}

.filter-links li>a {
  border-bottom: 4px solid var(--primary-color) !important;
  color: var(--input-color) !important;
}

.filter-links .current {
  border-bottom: 4px solid white !important;
  color: white !important;
}

.color-option:hover {
  background-color: var(--primary-color) !important;
}

.wp-menu-open {
  background-color: var(--input-color) !important;
}

/*CARDS*/
.card,
.plugin-card {
  background-color: var(--night-color);
  border: 1px solid var(--border-color);
}

.plugin-card-bottom {
  background-color: var(--primary-color) !important;
  border-top: 1px solid var(--border-color) !important;
}

.upload-plugin .wp-upload-form {
  background-color: var(--night-color) !important;
  border: 1px solid var(--border-color) !important;
}

.postbox {
  border: 1px solid var(--border-color) !important;
  background-color: var(--night-color) !important;
}

.postbox-header {
  border-bottom: 1px solid var(--border-color) !important;
}

.theme-overlay .theme-backdrop {
  background: rgba(0, 0, 0, .9) !important;
}

.theme-header,
.theme-about,
.theme-actions,
.theme-wrap {
  background: var(--night-color) !important;
}

.theme-header {
  border-bottom: 1px solid var(--border-color) !important;
}

.theme-header .left,
.theme-header .right {
  border-right: 1px solid var(--border-color) !important;
}

.theme-header .close {
  border-left: 1px solid var(--border-color) !important;
}

.theme-screenshots .screenshot {
  border: 1px solid var(--border-color) !important;
}

.theme-actions {
  border-top: 1px solid var(--border-color) !important;
}

.theme-tags {
  border-top: 3px solid var(--border-color) !important;
}

.manage-menus {
  background-color: var(--night-color) !important;
  color: white !important;
}

.activity-block,
.community-events li:first-child {
  border-bottom: 1px solid var(--border-color) !important;
}

.community-events li:first-child {
  border-top: 1px solid var(--border-color) !important;
}

.community-events li~li {
  border-top: 1px solid var(--border-color) !important;
}

.subsubsub {
  border-top: 1px solid var(--border-color) !important;
}

.community-events li.event-none {
  border-left: 4px solid var(--border-color) !important;
}

div.updated {
  background-color: var(--night-color) !important;
}

.update-message p {
  color: white !important;
}

.wp-filter {
  border-color: 1px solid var(--border-color) !important;
}

/*WELCOME PANEL*/
.welcome-panel-column-container {
  background-color: var(--night-color) !important;
}

.media-modal-content {
  background-color: var(--night-color) !important;
}

.edit-attachment-frame .attachment-info {
  background-color: var(--night-color) !important;
}


/*NOTICES*/
.notice {
  background-color: var(--primary-color) !important;
  color: var(--secondary-color) !important;
  border-top: 1px solid var(--border-color) !important;
  border-right: 1px solid var(--border-color) !important;
  border-bottom: 1px solid var(--border-color) !important;
}

.notice p {
  color: var(--secondary-color) !important;
}

.error {
  background-color: var(--primary-color) !important;
}

.thumbnail {
  background-color: var(--primary-color);
}

.importer-title {
  color: white !important;
}

.health-check-accordion {
  border: 1px solid var(--border-color) !important;
}

.health-check-header {
  background-color: var(--night-color) !important;
  border-bottom: 1px solid var(--border-color) !important;
}

.notification-dialog {
  background-color: var(--night-color) !important;
}

.privacy-settings-header {
  background-color: var(--night-color) !important;
  border-bottom: 1px solid var(--border-color) !important;
}

.health-check-tab:focus,
.privacy-settings-tab:focus {
  background-color: var(--primary-color) !important;
}

.health-check-tab.active,
.privacy-settings-tab.active {
  box-shadow: inset 0 -3px var(--primary-color) !important;
}

.health-check-accordion-trigger,
.privacy-settings-accordion-trigger {
  background-color: var(--night-color) !important;
  color: var(--primary-color) !important;
}

.health-check-accordion-trigger .badge {
  border: 1px solid var(--secondary-color) !important;
  color: lightgray !important;
}

.health-check-accordion-panel,
.privacy-settings-accordion-panel {
  background-color: var(--border-color) !important;
}


.button.show-settings {
  background-color: var(--night-color) !important;
  color: white !important;
  border: 1px solid var(--border-color) !important;
  border-top: none !important;
}

.metabox-prefs {
  background-color: var(--night-color) !important;
  border: 1px solid var(--border-color) !important;
  border-top: none !important;
}

#screen-meta .metabox-prefs {
  border: none !important;
}

#contextual-help-back {
  background-color: var(--border-color) !important;
  border: 1px solid var(--border-color) !important;
}

.contextual-help-tabs .active {
  border-left: 2px solid var(--primary-color) !important;
  background: var(--input-color) !important;
}

.contextual-help-tabs .active a {
  color: var(--input-text) !important;
  border-color: var(--border-color) !important;
}

/*EDITOR*/

/* label {
  color: initial;
} */

/* .is-link {
  color: var(--secondary-color) !important;
}

legend {
  color: white !important;
}

.components-select-control__input {
  background-color: var(--primary-color) !important;
  color: var(--secondary-color) !important;
}

.components-button.is-tertiary {
  background-color: var(--primary-color) !important;
  color: var(--secondary-color) !important;
}

.components-button.is-tertiary:hover {
  box-shadow: inset 0 0 0 1px var(--secondary-color) !important;
}

.components-button.is-primary {
  background-color: var(--secondary-color) !important;
}

.components-panel span {
  color: white;
} */

/* EDITOR HEADER*/
/* .edit-post-header {
  background-color: var(--primary-color) !important;
  color: white !important;
}

.edit-post-header-toolbar__left button {
  color: white !important;
} */

/*EDITOR RIGHT ASIDE*/
/* .edit-post-sidebar__panel-tabs {
  background-color: var(--primary-color) !important;
}

.edit-post-sidebar__panel-tabs>ul li button {
  color: white !important;
}

.edit-post-sidebar__panel-tabs>ul li button.is-active {
  box-shadow: inset 0 0 0 var(--wp-admin-border-width-focus) transparent, inset 0 -4px 0 0 var(--secondary-color) !important;
}

.components-panel__body {
  background-color: var(--border-color) !important;
}

.components-panel__body h2:hover {
  background: var(--secondary-color) !important;
}

.components-panel__body .components-panel__body-toggle {
  color: white !important;
}

.components-panel__body .components-panel__body-toggle:focus {
  box-shadow: inset 0 0 0 var(--wp-admin-border-width-focus) white !important;
}

.interface-interface-skeleton__sidebar {
  background-color: var(--primary-color) !important;
}

.block-editor-block-styles__item-label {
  color: white !important;
}

.block-editor-block-card {
  background-color: var(--border-color) !important;
}

.block-editor-block-inspector__no-blocks {
  background-color: var(--border-color) !important;
}

.edit-post-sidebar label {
  color: white !important;
}

.components-popover__content {
  background-color: var(--primary-color) !important;
} */