/*
 * Author: Michael Finkenberger
 * @since V1.4.0.0 (split version)
 * Last change in plugin version: V2.5.5.0 (added #foodle_non_voters_jqueryTooltip: A table with a list of users that did not vote so far for a poll is being displayed interactively as a tooltip when hovering with the mouse over the related bar graph)
 * Date: 23.01.2024
 * Tested with the latest plugin version
*/


/* Back-End & Front-End Tooltip format */
#foodle_jqueryTooltip {
  position:absolute; /* to enable the tooltip to follow the mousepointer */
  display:none; /* to prevent an empty tooltip from being displayed */
  border:1px solid grey;
  border-radius:6px;
  background:FloralWhite;
  font-size: 10pt;
  padding:4px;
  z-index:999999998;
}

/* Back-End & Front-End Tooltip Warning format */
#foodle_jqueryTtwarning {
  position:absolute; /* to enable the tooltip to follow the mousepointer */
  display:none; /* to prevent an empty tooltip from being displayed */
  color:darkred;
  border:1px solid darkred;
  border-radius:6px;
  background:LemonChiffon;
  font-size: 10pt;
  padding:4px;
  z-index:999999999;
}

/* Front-End Comments Tooltip format */
#foodle_com_jqueryTooltip {
  position:absolute; /* to enable the tooltip to follow the mousepointer */
  display:none; /* to prevent an empty tooltip from being displayed */
  border:1px solid #196717;
  border-radius:6px;
  background:FloralWhite;
  opacity:0.95;
  font-size: 10pt;
  padding:4px;
  z-index:999999998;
}

/* Front-End Non-Voters Tooltip format */
#foodle_non_voters_jqueryTooltip {
  position:absolute; /* to enable the tooltip to follow the mousepointer */
  display:none; /* to prevent an empty tooltip from being displayed */
  border:1px solid #196717;
  border-radius:6px;
  background:FloralWhite;
  opacity:0.95;
  font-size: 10pt;
  padding:4px;
  z-index:999999998;
}
