// Add contextual indicator around Personalized blocks
.personalizewp__has-been-personalized {
	outline: 2px dashed rgb(241 15 166);

	&::before {
		content: attr(data-personalized-label);
		display: inline-block;
		position: absolute;
		inset-block-start: -1rem;
		inset-inline-start: -.15rem;
		background-color: rgb(241 15 66 / 0.15);
		border-top-left-radius: 1rem;
		color: black;
		font-size: .5rem;
		line-height: normal;
		padding-block: .25em;
		padding-inline: 1em;
		padding-inline-start: calc(.625rem + 1px);
		pointer-events: none; // Don't block pointer events on items underneath
	}
}

// Suppress label overlay when selected, or immediately following something selected
:is(
	*.is-selected + .personalizewp__has-been-personalized,
	.personalizewp__has-been-personalized.is-selected
) {
	&::before {
		display: none;
	}
}
