.faq-tdwidth::before {
   content: '#11’;
   font-size: 100px;
   font-weight: bold;
   color: #cccccc1c;
   font-family: “Gentium Book Basic”, serif;
   position: absolute;
   top: 45px;
   right: 100px;
}
.faq-qone::before{
   content: '#1’;
}
.faq-qtwo::before{
   content: '#2’;
}
.faq-qthree::before{
   content: '#3’;
}
.faq-qfour::before{
   content: '#4’;
}
.faq-qfive::before{
   content: '#5’;
}

.faq-tdwidth
{
	padding-top: 20px;
}

.faq-float-right
{
	float:right;
}

.faq-add-faq
{
	display: inline-block;
    padding: 12px 24px;
    border: 0;
    border-radius: 6px; 
	font-weight: bold;
    letter-spacing: .0625em; 
	text-transform: uppercase;  
	background: #8BC34A;
    color: #fff;
    text-decoration: none;
    margin-top: 20px; 
	cursor: pointer; 	
}
.faq-row-remove
{
	display: flex;   
	align-items: center;  
	padding: 8px;
    margin: 0;  
	border: none;   
	color: #ffffff; 
	position: relative;
    overflow: hidden;  
	border-radius: 4px;  
	background: #FF5722;
}

.faq-question-input
{
	width: 90%;  
	margin-left: 30px;
    align-items: flex-start; 
	padding: 4px;
    background-color: #fff;   
	color: #32373c; 
	cursor: text; 
	box-shadow: 0 0 0 transparent;
    transition: box-shadow .1s linear;  
	border-radius: 4px; 
	border: 1px solid #8d96a0 !important; 
	height: 30px;
	
}

.faq-answer-input
{
	margin-top: 10px;
	width: 90%;
	margin-left: 30px;
	padding: 6px 8px;
	box-shadow: transparent 0px 0px 0px;
	transition: box-shadow 0.1s linear 0s;
	border-radius: 4px;
	border: 1px solid rgb(141, 150, 160);
	font-size: 16px;
	margin-bottom: 0px; 
}	