table.edd_mollie_gateways {
    position: relative
}

table.edd_mollie_gateways td,table.edd_mollie_gateways th {
    display: table-cell!important;
    padding: 1em!important;
    vertical-align: top;
    line-height: 1.75em
}

table.edd_mollie_gateways tr:nth-child(odd) td {
    background: #f9f9f9
}

table.edd_mollie_gateways td.name {
    font-weight: 700
}

table.edd_mollie_gateways .settings {
    text-align: right
}

table.edd_mollie_gateways .edd-mollie-payment-gateway-method-name {
    font-weight: 400
}

.edd_mollie_gateways tr.mollie-disabled td:not(.description) {
	opacity: 0.4;
}

.mollie-settings-input-toggle {
	height: 16px;
	width: 32px;
	border: 2px solid #2794da;
	background-color: #2794da;
	display: inline-block;
	text-indent: -9999px;
	border-radius: 10em;
	position: relative;
	margin-top: -1px;
	vertical-align: text-top;
}

.mollie-settings-input-toggle::before {
	content: "";
	display: block;
	width: 16px;
	height: 16px;
	background: #fff;
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 100%;
}

.edd_mollie_gateways tr.mollie-disabled .mollie-settings-input-toggle,
.mollie-settings-input-toggle.mollie-settings-input-toggle--disabled {
	border-color: #999;
	background-color: #999;
}

.mollie-settings-input-toggle.mollie-settings-input-toggle--frontend-disabled {
	opacity: 0.5;
}

.edd_mollie_gateways tr.mollie-disabled .mollie-settings-input-toggle::before,
.mollie-settings-input-toggle.mollie-settings-input-toggle--disabled::before {
	right: auto;
	left: 0;
}

.mollie-settings-input-toggle.mollie-settings-input-toggle--loading {
	opacity: 0.5;
}

ul.status-table-legend {
	list-style: none; /* Remove default bullets */
}

ul.status-table-legend li {
	display:inline-block;
}

ul.status-table-legend li + li {
	margin-left: 1em;
}

ul.status-table-legend li::before {
	content: "\25A0";
	display: inline-block;
	width: 1em;
}

ul.status-table-legend li.enabled::before {
	color: #2794da;
}

ul.status-table-legend li.disabled::before {
	color: #999;
}

ul.status-table-legend li.frontend-disabled::before {
	opacity: 0.5;
}

.download_page_edd-settings table.form-table textarea.wide-input {
	width: 100%
}

.download_page_edd-settings table.form-table input.regular-input,
.download_page_edd-settings table.form-table input[type=date],
.download_page_edd-settings table.form-table input[type=datetime-local],
.download_page_edd-settings table.form-table input[type=datetime],
.download_page_edd-settings table.form-table input[type=email],
.download_page_edd-settings table.form-table input[type=number],
.download_page_edd-settings table.form-table input[type=password],
.download_page_edd-settings table.form-table input[type=tel],
.download_page_edd-settings table.form-table input[type=text],
.download_page_edd-settings table.form-table input[type=time],
.download_page_edd-settings table.form-table input[type=url],
.download_page_edd-settings table.form-table input[type=week],
.download_page_edd-settings table.form-table textarea {
	width: 400px;
	margin: 0;
	padding: 6px;
	box-sizing: border-box;
	vertical-align: top;
}

.edd-mollie-pro-ad {
	position: relative;
	min-height: 90px;
	border: 1px solid #3D5C99;
	background-color: #EBF5FF;	
	border-radius: 5px;
	padding: 15px;
	padding-left: 92px;
	margin: 15px 10px;
}

.edd-mollie-pro-ad img.wpo-helper {
	position: absolute;
	bottom: 0px;
	left: -10px;
}

.edd-mollie-pro-ad h3 {
	margin-top: 0;
}

.edd-mollie-pro-ad-body {
	margin-bottom: 10px;
}

.edd-mollie-chargeback-notice li > .dashicons-dismiss {
	height: 10px;
	font-size: 10pt;
	cursor: pointer;
}
.edd-mollie-chargeback-notice li > .dashicons-dismiss {
	display: none;
}

.edd-mollie-chargeback-notice li:hover > .dashicons-dismiss {
	display: inline-block;
	color: #c00;
}
.edd-mollie-chargeback-notice li.current-order {
	font-weight: bold;
}