:root {
  --primary-color: #858868 !important;
  --secondary-color: #0d0d0d !important;
  --tertiary-color: #d2d8c0 !important;
  --input-color: #5a5a54 !important;
  --input-text: black !important;
  --night-color: #1f1e23;
  --border-color: #393a2b;
}