.fs-7 {
    font-size: 0.75rem;
}

.steps li:not(:first-child)::before {
    content: '';
    height: 48px;
    display: block;
    background: #6C757D;
    width: 2px;
    position: relative;
    left: 16px;
    margin: 14px 0 12px;
}

.mt-8 {
    margin-top: 5rem;
}

.text-brand {
    color: #D50057;
}

.datapocket-btn {
    width: 8rem;
    text-align: center;
    white-space: nowrap;
    flex-shrink: 0;
}