.about-me-image-container {
    text-align: left;
}
.about-me-image-container img {
    display: block;
}
.about-me-content-wrapper h5.welcome-text {
    color: #B18261;
    font-size: 18px;
    margin: 0;
}
.about-me-content-wrapper .author-name {
    font-weight: 700;
    font-size: 40px;
    margin: 0;
    line-height: normal;
    margin-top: 10px;
}
.about-me-content-wrapper .about-me-button {
    margin-right: 15px;
}
.about-me-content-wrapper .about-me-button a {
    display: inline-block;
    background: #228B22;
    color: #fff;
    padding: 10px 30px;
    border-radius: 5px;
}
.about-me-content-wrapper .button-and-link-wrapper {
    display: flex;
    margin-top: 30px;
    flex-flow: row wrap;
}
.about-me-content-wrapper .follow-me-icons {
    display: flex;
    align-self: center;
}
.about-me-content-wrapper .follow-me-icons .text {
    margin-right: 10px;
    align-self: center;
    color: #767676
}
.about-me-content-wrapper .follow-me-icons .social-icons {
    display: flex;
    align-self: center;
    flex-flow: row wrap;
}
.about-me-content-wrapper .follow-me-icons .social-icons a {
    padding: 2px;
    margin: 5px;
    font-size: 20px;
    color: #228B22;
}
@media (max-width: 991px) {
    .about-me-content-wrapper .button-and-link-wrapper {
        flex-flow: row wrap;
    }
    .about-me-content-wrapper .follow-me-icons {
        margin-top: 10px;
    }
}
@media (max-width: 767px) {
    .about-me-image-container{
        margin-bottom: 30px;
    }
}