/* 
    Document   : stylesheet
    Created on : Oct 3, 2013, 2:53:36 PM
    Author     : Dad
    Description:
        Purpose of the stylesheet follows.
*/

.gs-abstract {margin: 4px 100px 30px 100px;text-align:justify;}
.gs-abstract-title { font-size:14x;text-align:center;margin-top:30px;clear:both;}
p.gs_citelink {float:right;margin:4px 0 10px 0;clear:both;
               width: 120px; height: 24px; color: white; 
               background-color: #d46d45; text-align: center; 
               line-height:30px; 
               background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d46d45), to(#b1432a)); 
               background: -moz-linear-gradient(19% 75% 90deg,#b1432a, #d46d45); /*border styles*/ 
               border-top: solid 2px #e28d79; 
               border-bottom: solid 1px #51281f; border-right: solid 1px #d46d45; 
               border-left: solid 1px #d46d45; -moz-border-radius: 5px; -webkit-border-radius: 5px; 
               border-radius: 5px; 
                font-size:12px;} 

p.author {font-weight:bold;}
p.affiliation {margin-top:-18px;margin-bottom:12px;}

 