img.cspfw_rating_div {
    width: 100px;
    vertical-align: middle;
}
.cspfw_ratess_open {
    display: inline-block;
    width: 100%;
}
.cspfw_rateus_notice, .cspfw_support_notice {
    display: inline-block;
    width: 45%;
    float: left;
    color: #fff;
    background-color: #fb5f51;
    padding: 15px;
    border-radius: 5px;
    margin-top: 15px;
    height: 70px;
    margin-bottom: 12px;
}
.cspfw_rtusnoti_left {
    display: inline-block;
    float: left;
    width: 70%;
}
.cspfw_rateus_notice h3, .cspfw_support_notice h3 {
    color: #fff;
    margin: 0;
    margin-bottom: 12px;
    font-size: 20px;
}
.cspfw_rateus_notice label, .cspfw_support_notice label {
    font-size: 16px;
}
.cspfw_rateus_notice a, .cspfw_support_notice a {
    color: #fff;
}
.cspfw_rtusnoti_right {
    display: inline-block;
    float: right;
    text-align: right;
}
.cspfw_rtusnoti_right img {
    width: 50px;
    height: auto;
}
.cspfw_support_notice {
    background-color: #2f3337;
    margin-left: 2%;
}
.cspfw_donate_main {
    background: #fff;
    padding: 15px;
    display: flex;
    width: 94.6%;
    border: 1px solid #e3bbac;
    align-items: center;
    box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
    margin-top: 15px;
}
.cspfw_donate_main img {
    height: 32px;
}
.cspfw_donate_main > * {
    margin: 0 15px 0 0;
    vertical-align: middle;
}
.cspfw_container_main {
    display: inline-block;
    width: 100%;
}
.cspfw_container_inner {
    display: inline-block;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    overflow: auto;
}
tr.cspfw_fields_rule {
    text-align: center;
}
tr.cspfw_fields_rule input[type="number"] {
    width: 70px;
}
tr.cspfw_fields_rule select {
    width: 150px;
}
input.cspfw_date_field {
    display: inline-block;
    width: 140px;
    cursor: pointer;
}
table.cspfw_container_table_setting, table.cspfw_container_table_setting tbody {
    display: inline-block;
    width: 100%;
}
table.cspfw_container_table_setting {
    margin-bottom: 10px;
}
table.cspfw_container_table_setting tbody tr {
    display: inline-block;
    width: 100%;
    text-align: left;
    line-height: 4;
}
table.cspfw_container_table_setting tbody tr th {
    display: inline-block;
    width: 25%;
}
table.cspfw_container_table_setting tbody tr td {
    display: inline-block;
    width: 70%;
}
tr.cspfw_role_fields_rule {
    text-align: center;
}
tr.cspfw_role_fields_rule input[type="number"] {
    width: 70px;
}
tr.cspfw_role_fields_rule select {
    width: 150px;
}
input.cspfw_role_date_field {
    display: inline-block;
    width: 140px;
    cursor: pointer;
}
table.cspfw_container_table, table.cspfw_role_container_table {
    width: 100%;
}
.cspfw_container_inner h2.cspfw_heading {
    display: inline-block;
    width: 100%;
    padding: 10px !important;
    box-sizing: border-box;
    text-align: center;
    color: #fff;
    background-color: #2271b1;
    font-weight: bold;
}
p.cspfw_description {
    display: inline-block;
    margin: 0px;
    font-style: italic;
}
.cspfw-settings-main {
    display: inline-block;
    width: 98%;
    border: 1px solid #2271b1;
    background-color: #fff;
    box-sizing: border-box;
    margin: 10px 0px;
}
table.cspfw-settings-table {
    display: inline-block;
    width: 100%;
    padding: 15px;
    float: left;
    text-align: left;
    line-height: 4;
}
table.cspfw-settings-table tbody, table.cspfw-settings-table tbody tr {
    display: inline-block;
    width: 100%;
}
table.cspfw-settings-table tbody tr th {
    display: inline-block;
    width: 25%;
}
table.cspfw-settings-table tbody tr td {
    display: inline-block;
    width: 70%;
}
table.cspfw-settings-table tbody tr.cspfw_fields_heading td {
    display: inline-block;
    width: 100%;
    line-height: 2;
}
h2.cspfw_heading_main {
    display: inline-block;
    margin: 0;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    background-color: #2271b1;
    color: #fff;
}