.horizzontalItem {
	float: left;
	width: 150px;
	margin-right: 10px;
	display: inline;
	font-size: 11px;
}

.horizzontalItem h2, .horizzontalItem post-title{
	font-size: 12px;
	color: #000;
}

.verticalItem h2, .verticalItem h2 a, .verticalItem h2 a:visited, .verticalItem post-title{
	font-size: 12px;
	text-decoration: underline;
	color: #666666;
	margin-bottom: 0px;
	
}

.verticalItem {
	margin-bottom: 15px;
	font-size: 12px;
	padding: 0 10px 0 5px;
	
}