
.fsb_badge_view_single{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    font-weight: 600;
    line-height: 32px;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
    width: fit-content;
    border-radius: 2px;
}

.fsb_badge_view_shop{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    font-weight: 600;
    width:100%;
    border-radius: 2px;
    padding-left: 10px;
    padding-right: 10px;

}

@media screen and (max-width: 992px) {

    .fsb_badge_view_shop{
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 400;
        vertical-align: middle;
        width:100%;
        font-size: inherit;

    }

    
}

@media screen and (max-width: 388px) {

    .fsb_badge_view_shop {
       font-size: small;

    }



}

@media screen and (max-width: 353px) {

    .fsb_badge_view_shop {
       font-size: x-small;

    }



}


.fsb_badge_view_empty{
    display:none;
}