#communication-icon {
    position: fixed;
    bottom: 65px;   /* Alt taraftan 20px mesafe */
    right: 20px;    /* Sağ taraftan 20px mesafe */
    z-index: 9999;  /* Diğer öğelerin önünde görünmesi için yüksek z-index */
}

#communication-icon a {
    display: block;  /* Bağlantının etrafındaki tüm alanı kapsaması için */
    width: 60px;      /* İkonun genişliği */
    height: 60px;     /* İkonun yüksekliği */
}

#communication-icon img {
    width: 100%;      /* Resmin tamamını kapsaması için */
    height: 100%;     /* Resmin tamamını kapsaması için */
    object-fit: contain; /* Resmin oranını bozmadan yerleştirilmesi için */
    z-index: 9999;  /* Diğer öğelerin önünde görünmesi için yüksek z-index */
}
