/* CSS from http://reset5.googlecode.com/hg/reset.min.css */
/* reset5 © 2011 opensource.736cs.com MIT */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,audio,canvas,details,figcaption,figure,footer,header,hgroup,mark,menu,meter,nav,output,progress,section,summary,time,video{border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0;}body{line-height:1;}article,aside,dialog,figure,footer,header,hgroup,nav,section,blockquote{display:block;}nav ul{list-style:none;}ol{list-style:decimal;}ul{list-style:disc;}ul ul{list-style:circle;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:none;}ins{text-decoration:underline;}del{text-decoration:line-through;}mark{background:none;}abbr[title],dfn[title]{border-bottom:1px dotted #000;cursor:help;}table{border-collapse:collapse;border-spacing:0;}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}input[type=submit],input[type=button],button{margin:0!important;padding:0!important;}input,select,a img{vertical-align:middle;}

/* Original CSS */

body {
  color: #ffffff;
  background-color: #333333;
  font-family: helvetica, arial, sans-serif;
  padding: 0;
  margin: 0;
}
	
#controls {
  color: #8A8A8A;
  background: #E4E4E4; /* for non-css3 browsers */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E4E4E4', endColorstr='#4C4C4C'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#E4E4E4), to(#4C4C4C)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #E4E4E4,  #4C4C4C); /* for firefox 3.6+ */
  
  padding: 0.5em;
  margin: 0;
}
07711685855 logan 11
#controls iframe{
  display: inline;
}

#controls ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  display: inline;
}

#controls li {
  display: inline;
  max-width: 3em;
  background-color: #000000;
  margin-left: 0.5em;
  padding: 0.25em;
}

#controls li a {
  text-decoration: none;
  color: #ffffff;
}
	
#library ol { 
  list-style-type: none;
  margin: 0;
  overflow: hidden;
}

#order {
  display: none;
}

#library li {
  float: left;
  height: 150px;
  width: 150px;
  margin: 0;
  text-align: center;
  overflow: hidden;
}

#library li:hover {
  background-color: #428BD1;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#library .album img {
  max-height: 99px;
  max-width: 99px;
  margin: 0.781em 0.781em 0.05em 0.781em;
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px#888;
  box-shadow: 0 0 5px #888;
}

#library .album p {
  font-size: 0.75em;
  margin: 0.3em 0 0 0;
  line-height: 130%;
  padding: 0;
}

#library .albumTitle {
  font-weight: bold;
}

#library .artistName {
  color: #A8A8A8;
}
