label > input{ /* HIDE RADIO */
 }
label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}
label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border:2px solid #f00;
}
input[type="radio"] {
  margin-top: -1px;
  vertical-align: middle;
}
.preview-player{
	width: 600px;
    margin: 20px auto;
}

#play_button{
	background: #6b5d56;
    color: #ffffff;
    display: block;
    width: 60px;
    height: 60px;
    font-size: 30px;
    text-align: center;
    line-height: 2.2;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    border-radius: 500px;
	position:relative;
	left: 10px;
	top: 10px;
}

#mute_button{
	background: #f04e29;
    color: #ffffff;
    display: block;
    width: 30px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    line-height: 1.7;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    border-radius: 500px;
	position:relative;
    left: 80px;
    bottom: 10px;
    z-index: 10;
}

#container_buttons{
    width: 390px;
    background-image: url(http://www.radiojar.com/wrappers/api-plugins/v1/img/stripes-dark.png);
}

.wp-picker-container, .wp-picker-container:active {
    display: block;
}
