@font-face {
  font-family: 'dadevarzan';
  font-display: swap;
  src:  url('fonts/dadevarzan.eot?veq49s');
  src:  url('fonts/dadevarzan.eot?veq49s#iefix') format('embedded-opentype'),
    url('fonts/dadevarzan.ttf?veq49s') format('truetype'),
    url('fonts/dadevarzan.woff?veq49s') format('woff'),
    url('fonts/dadevarzan.svg?veq49s#dadevarzan') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="dv-icon-"], [class*=" dv-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'dadevarzan' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dv-icon-igap .path1:before {
  content: "\e906";
  color: rgb(35, 31, 32);
}
.dv-icon-igap .path2:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.dv-icon-igap .path3:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.dv-icon-igap .path4:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.dv-icon-igap .path5:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(35, 31, 32);
}
.dv-icon-gapafzar:before {
  content: "\e916";
}
.dv-icon-wispi:before {
  content: "\e917";
}
.dv-icon-tamtam:before {
  content: "\e918";
}
.dv-icon-bisphone-1:before {
  content: "\e919";
}
.dv-icon-soroush:before {
  content: "\e91c";
}
.dv-icon-eitaa:before {
  content: "\e91d";
}
.dv-icon-bale:before {
  content: "\e91e";
}
.dv-icon-bisphone:before {
  content: "\e921";
}
.dv-icon-googleallo:before {
  content: "\e909";
}
.dv-icon-appearance:before {
  content: "\f100";
}
.dv-icon-link:before {
  content: "\f103";
}
.dv-icon-media:before {
  content: "\f104";
}
.dv-icon-page:before {
  content: "\f105";
}
.dv-icon-settings:before {
  content: "\f108";
}
.dv-icon-menu-alt:before {
  content: "\f10b";
}
.dv-icon-widgets-menus:before {
  content: "\f116";
}
.dv-icon-write-blog:before {
  content: "\f119";
}
.dv-icon-rest-api:before {
  content: "\f124";
}
.dv-icon-format-chat:before {
  content: "\f125";
}
.dv-icon-format-video:before {
  content: "\f126";
}
.dv-icon-format-audio:before {
  content: "\f127";
}
.dv-icon-format-image:before {
  content: "\f128";
}
.dv-icon-editor-ltr:before {
  content: "\f129";
}
.dv-icon-arrow-right2:before {
  content: "\f139";
}
.dv-icon-arrow-down2:before {
  content: "\f140";
}
.dv-icon-arrow-left2:before {
  content: "\f141";
}
.dv-icon-arrow-up2:before {
  content: "\f142";
}
.dv-icon-calendar2:before {
  content: "\f145";
}
.dv-icon-collapse:before {
  content: "\f148";
}
.dv-icon-dismiss:before {
  content: "\f153";
}
.dv-icon-star-empty:before {
  content: "\f154";
}
.dv-icon-star-filled:before {
  content: "\f155";
}
.dv-icon-lock:before {
  content: "\f160";
}
.dv-icon-list-view:before {
  content: "\f163";
}
.dv-icon-image-rotate-left:before {
  content: "\f166";
}
.dv-icon-image-rotate-right:before {
  content: "\f167";
}
.dv-icon-image-flip-vertical:before {
  content: "\f168";
}
.dv-icon-image-flip-horizontal:before {
  content: "\f169";
}
.dv-icon-undo:before {
  content: "\f171";
}
.dv-icon-redo:before {
  content: "\f172";
}
.dv-icon-cart2:before {
  content: "\f174";
}
.dv-icon-feedback:before {
  content: "\f175";
}
.dv-icon-analytics:before {
  content: "\f183";
}
.dv-icon-chart-pie:before {
  content: "\f184";
}
.dv-icon-editor-bold:before {
  content: "\f200";
}
.dv-icon-editor-italic:before {
  content: "\f201";
}
.dv-icon-editor-ul:before {
  content: "\f203";
}
.dv-icon-editor-ol:before {
  content: "\f204";
}
.dv-icon-editor-alignleft:before {
  content: "\f206";
}
.dv-icon-editor-aligncenter:before {
  content: "\f207";
}
.dv-icon-editor-alignright:before {
  content: "\f208";
}
.dv-icon-editor-removeformatting:before {
  content: "\f218";
}
.dv-icon-editor-customchar:before {
  content: "\f220";
}
.dv-icon-editor-outdent:before {
  content: "\f221";
}
.dv-icon-editor-indent:before {
  content: "\f222";
}
.dv-icon-editor-help:before {
  content: "\f223";
}
.dv-icon-editor-strikethrough:before {
  content: "\f224";
}
.dv-icon-editor-unlink:before {
  content: "\f225";
}
.dv-icon-dashboard:before {
  content: "\f226";
}
.dv-icon-location3:before {
  content: "\f230";
}
.dv-icon-images-alt2:before {
  content: "\f233";
}
.dv-icon-groups:before {
  content: "\f307";
}
.dv-icon-art:before {
  content: "\f309";
}
.dv-icon-awards:before {
  content: "\f313";
}
.dv-icon-backup:before {
  content: "\f321";
}
.dv-icon-shield:before {
  content: "\f332";
}
.dv-icon-lightbulb:before {
  content: "\f339";
}
.dv-icon-arrow-left-alt:before {
  content: "\f340";
}
.dv-icon-arrow-left-alt2:before {
  content: "\f341";
}
.dv-icon-arrow-up-alt:before {
  content: "\f342";
}
.dv-icon-arrow-up-alt2:before {
  content: "\f343";
}
.dv-icon-arrow-right-alt:before {
  content: "\f344";
}
.dv-icon-arrow-right-alt2:before {
  content: "\f345";
}
.dv-icon-arrow-down-alt:before {
  content: "\f346";
}
.dv-icon-arrow-down-alt2:before {
  content: "\f347";
}
.dv-icon-email-alt:before {
  content: "\f466";
}
.dv-icon-clock3:before {
  content: "\f469";
}
.dv-icon-editor-code:before {
  content: "\f475";
}
.dv-icon-clipboard:before {
  content: "\f481";
}
.dv-icon-playlist-audio:before {
  content: "\f492";
}
.dv-icon-playlist-video:before {
  content: "\f493";
}
.dv-icon-store:before {
  content: "\f513";
}
.dv-icon-phone2:before {
  content: "\f525";
}
.dv-icon-palmtree:before {
  content: "\f527";
}
.dv-icon-unlock:before {
  content: "\f528";
}
.dv-icon-thumbs-up:before {
  content: "\f529";
}
.dv-icon-hidden:before {
  content: "\f530";
}
.dv-icon-image-rotate:before {
  content: "\f531";
}
.dv-icon-filter:before {
  content: "\f536";
}
.dv-icon-layout:before {
  content: "\f538";
}
.dv-icon-multisite:before {
  content: "\f541";
}
.dv-icon-thumbs-down:before {
  content: "\f542";
}
.dv-icon-move:before {
  content: "\f545";
}
.dv-icon-snap-logo:before {
  content: "\e907";
}
.dv-icon-aparat:before {
  content: "\e90a";
}
.dv-icon-certificate2:before {
  content: "\e901";
}
.dv-icon-chevron-down:before {
  content: "\f0a8";
}
.dv-icon-chevron-left:before {
  content: "\f0a9";
}
.dv-icon-chevron-right:before {
  content: "\f078";
}
.dv-icon-chevron-up:before {
  content: "\f0a2";
}
.dv-icon-mail5:before {
  content: "\f03b";
}
.dv-icon-milestone:before {
  content: "\f075";
}
.dv-icon-search2:before {
  content: "\f02e";
}
.dv-icon-tools:before {
  content: "\f031";
}
.dv-icon-home:before {
  content: "\e900";
}
.dv-icon-home3:before {
  content: "\e902";
}
.dv-icon-office:before {
  content: "\e903";
}
.dv-icon-newspaper:before {
  content: "\e904";
}
.dv-icon-pencil:before {
  content: "\e905";
}
.dv-icon-image:before {
  content: "\e90d";
}
.dv-icon-images:before {
  content: "\e90e";
}
.dv-icon-camera:before {
  content: "\e90f";
}
.dv-icon-headphones:before {
  content: "\e910";
}
.dv-icon-music:before {
  content: "\e911";
}
.dv-icon-play:before {
  content: "\e912";
}
.dv-icon-film:before {
  content: "\e913";
}
.dv-icon-video-camera:before {
  content: "\e914";
}
.dv-icon-bullhorn:before {
  content: "\e91a";
}
.dv-icon-connection:before {
  content: "\e91b";
}
.dv-icon-book:before {
  content: "\e91f";
}
.dv-icon-books:before {
  content: "\e920";
}
.dv-icon-file-text:before {
  content: "\e922";
}
.dv-icon-profile:before {
  content: "\e923";
}
.dv-icon-file-empty:before {
  content: "\e924";
}
.dv-icon-files-empty:before {
  content: "\e925";
}
.dv-icon-file-text2:before {
  content: "\e926";
}
.dv-icon-file-picture:before {
  content: "\e927";
}
.dv-icon-file-music:before {
  content: "\e928";
}
.dv-icon-file-zip:before {
  content: "\e92b";
}
.dv-icon-copy:before {
  content: "\e92c";
}
.dv-icon-folder:before {
  content: "\e92f";
}
.dv-icon-folder-open:before {
  content: "\e930";
}
.dv-icon-price-tag:before {
  content: "\e935";
}
.dv-icon-price-tags:before {
  content: "\e936";
}
.dv-icon-cart:before {
  content: "\e93a";
}
.dv-icon-credit-card:before {
  content: "\e93f";
}
.dv-icon-lifebuoy:before {
  content: "\e941";
}
.dv-icon-phone:before {
  content: "\e942";
}
.dv-icon-phone-hang-up:before {
  content: "\e943";
}
.dv-icon-address-book:before {
  content: "\e944";
}
.dv-icon-envelop:before {
  content: "\e945";
}
.dv-icon-pushpin:before {
  content: "\e946";
}
.dv-icon-location:before {
  content: "\e947";
}
.dv-icon-location2:before {
  content: "\e948";
}
.dv-icon-compass:before {
  content: "\e949";
}
.dv-icon-map:before {
  content: "\e94b";
}
.dv-icon-map2:before {
  content: "\e94c";
}
.dv-icon-clock:before {
  content: "\e94e";
}
.dv-icon-clock2:before {
  content: "\e94f";
}
.dv-icon-alarm:before {
  content: "\e950";
}
.dv-icon-calendar:before {
  content: "\e953";
}
.dv-icon-printer:before {
  content: "\e954";
}
.dv-icon-keyboard:before {
  content: "\e955";
}
.dv-icon-mobile2:before {
  content: "\e959";
}
.dv-icon-download:before {
  content: "\e960";
}
.dv-icon-upload:before {
  content: "\e961";
}
.dv-icon-database:before {
  content: "\e964";
}
.dv-icon-bubble:before {
  content: "\e96b";
}
.dv-icon-bubbles:before {
  content: "\e96c";
}
.dv-icon-user:before {
  content: "\e971";
}
.dv-icon-users:before {
  content: "\e972";
}
.dv-icon-user-plus:before {
  content: "\e973";
}
.dv-icon-user-minus:before {
  content: "\e974";
}
.dv-icon-user-check:before {
  content: "\e975";
}
.dv-icon-user-tie:before {
  content: "\e976";
}
.dv-icon-spinner:before {
  content: "\e97a";
}
.dv-icon-spinner2:before {
  content: "\e97b";
}
.dv-icon-spinner3:before {
  content: "\e97c";
}
.dv-icon-search:before {
  content: "\e986";
}
.dv-icon-zoom-in:before {
  content: "\e987";
}
.dv-icon-zoom-out:before {
  content: "\e988";
}
.dv-icon-key:before {
  content: "\e98d";
}
.dv-icon-wrench:before {
  content: "\e991";
}
.dv-icon-gear:before {
  content: "\e994";
}
.dv-icon-cogs:before {
  content: "\e995";
}
.dv-icon-hammer:before {
  content: "\e996";
}
.dv-icon-aid-kit:before {
  content: "\e998";
}
.dv-icon-pie-chart:before {
  content: "\e99a";
}
.dv-icon-stats-dots:before {
  content: "\e99b";
}
.dv-icon-trophy:before {
  content: "\e99e";
}
.dv-icon-gift:before {
  content: "\e99f";
}
.dv-icon-meter:before {
  content: "\e9a6";
}
.dv-icon-lab:before {
  content: "\e9aa";
}
.dv-icon-bin:before {
  content: "\e9ac";
}
.dv-icon-briefcase:before {
  content: "\e9ae";
}
.dv-icon-airplane:before {
  content: "\e9af";
}
.dv-icon-truck:before {
  content: "\e9b0";
}
.dv-icon-road:before {
  content: "\e9b1";
}
.dv-icon-target:before {
  content: "\e9b3";
}
.dv-icon-switch:before {
  content: "\e9b6";
}
.dv-icon-list2:before {
  content: "\e9bb";
}
.dv-icon-tree:before {
  content: "\e9bc";
}
.dv-icon-menu:before {
  content: "\e9bd";
}
.dv-icon-download3:before {
  content: "\e9c7";
}
.dv-icon-upload3:before {
  content: "\e9c8";
}
.dv-icon-sphere:before {
  content: "\e9c9";
}
.dv-icon-earth:before {
  content: "\e9ca";
}
.dv-icon-flag:before {
  content: "\e9cc";
}
.dv-icon-attachment:before {
  content: "\e9cd";
}
.dv-icon-eye:before {
  content: "\e9ce";
}
.dv-icon-bookmark:before {
  content: "\e9d2";
}
.dv-icon-bookmarks:before {
  content: "\e9d3";
}
.dv-icon-heart:before {
  content: "\e9da";
}
.dv-icon-man:before {
  content: "\e9dc";
}
.dv-icon-woman:before {
  content: "\e9dd";
}
.dv-icon-notification:before {
  content: "\ea08";
}
.dv-icon-question:before {
  content: "\ea09";
}
.dv-icon-plus:before {
  content: "\ea0a";
}
.dv-icon-minus:before {
  content: "\ea0b";
}
.dv-icon-cancel-circle:before {
  content: "\ea0d";
}
.dv-icon-checkmark:before {
  content: "\ea10";
}
.dv-icon-checkmark2:before {
  content: "\ea11";
}
.dv-icon-enter:before {
  content: "\ea13";
}
.dv-icon-exit:before {
  content: "\ea14";
}
.dv-icon-play2:before {
  content: "\ea15";
}
.dv-icon-pause:before {
  content: "\ea16";
}
.dv-icon-volume-high:before {
  content: "\ea26";
}
.dv-icon-volume-mute:before {
  content: "\ea29";
}
.dv-icon-loop2:before {
  content: "\ea2e";
}
.dv-icon-arrow-up:before {
  content: "\ea32";
}
.dv-icon-arrow-right:before {
  content: "\ea34";
}
.dv-icon-arrow-down:before {
  content: "\ea36";
}
.dv-icon-arrow-left:before {
  content: "\ea38";
}
.dv-icon-circle-up:before {
  content: "\ea41";
}
.dv-icon-circle-right:before {
  content: "\ea42";
}
.dv-icon-circle-down:before {
  content: "\ea43";
}
.dv-icon-circle-left:before {
  content: "\ea44";
}
.dv-icon-crop:before {
  content: "\ea57";
}
.dv-icon-scissors:before {
  content: "\ea5a";
}
.dv-icon-table2:before {
  content: "\ea71";
}
.dv-icon-insert-template:before {
  content: "\ea72";
}
.dv-icon-new-tab:before {
  content: "\ea7e";
}
.dv-icon-share2:before {
  content: "\ea82";
}
.dv-icon-google:before {
  content: "\ea88";
}
.dv-icon-google-plus:before {
  content: "\ea8b";
}
.dv-icon-facebook:before {
  content: "\ea90";
}
.dv-icon-instagram:before {
  content: "\ea92";
}
.dv-icon-whatsapp:before {
  content: "\ea93";
}
.dv-icon-twitter:before {
  content: "\ea96";
}
.dv-icon-rss:before {
  content: "\ea9b";
}
.dv-icon-rss2:before {
  content: "\ea9c";
}
.dv-icon-youtube:before {
  content: "\ea9d";
}
.dv-icon-youtube2:before {
  content: "\ea9e";
}
.dv-icon-steam:before {
  content: "\eaac";
}
.dv-icon-dropbox:before {
  content: "\eaae";
}
.dv-icon-onedrive:before {
  content: "\eaaf";
}
.dv-icon-wordpress:before {
  content: "\eab4";
}
.dv-icon-appleinc:before {
  content: "\eabe";
}
.dv-icon-android:before {
  content: "\eac0";
}
.dv-icon-windows8:before {
  content: "\eac2";
}
.dv-icon-skype:before {
  content: "\eac5";
}
.dv-icon-linkedin2:before {
  content: "\eaca";
}
.dv-icon-edge:before {
  content: "\eadc";
}
.dv-icon-file-pdf:before {
  content: "\eadf";
}
.dv-icon-file-word:before {
  content: "\eae1";
}
.dv-icon-asterisk:before {
  content: "\f069";
}
.dv-icon-envelope-o:before {
  content: "\f003";
}
.dv-icon-power-off:before {
  content: "\f011";
}
.dv-icon-refresh:before {
  content: "\f021";
}
.dv-icon-book2:before {
  content: "\f02d";
}
.dv-icon-font:before {
  content: "\f032";
}
.dv-icon-external-link:before {
  content: "\f08e";
}
.dv-icon-certificate:before {
  content: "\f0a3";
}
.dv-icon-hand-o-right:before {
  content: "\f0a4";
}
.dv-icon-hand-o-left:before {
  content: "\f0a5";
}
.dv-icon-hand-o-up:before {
  content: "\f0a6";
}
.dv-icon-hand-o-down:before {
  content: "\f0a7";
}
.dv-icon-envelope:before {
  content: "\f0e0";
}
.dv-icon-bolt-flash:before {
  content: "\f0e7";
}
.dv-icon-sitemap:before {
  content: "\f0e8";
}
.dv-icon-lightbulb-o:before {
  content: "\f0eb";
}
.dv-icon-stethoscope:before {
  content: "\f0f1";
}
.dv-icon-quote-left:before {
  content: "\f10d";
}
.dv-icon-quote-right:before {
  content: "\f10e";
}
.dv-icon-info:before {
  content: "\f12a";
}
.dv-icon-microphone:before {
  content: "\f130";
}
.dv-icon-css3:before {
  content: "\f13c";
}
.dv-icon-external-link-square:before {
  content: "\f14c";
}
.dv-icon-caret-square-o-down:before {
  content: "\f150";
}
.dv-icon-caret-square-o-up:before {
  content: "\f151";
}
.dv-icon-caret-square-o-right:before {
  content: "\f152";
}
.dv-icon-sort-amount-asc:before {
  content: "\f161";
}
.dv-icon-sort-amount-desc:before {
  content: "\f162";
}
.dv-icon-caret-square-o-left:before {
  content: "\f191";
}
.dv-icon-wheelchair:before {
  content: "\f193";
}
.dv-icon-graduation-cap:before {
  content: "\f19d";
}
.dv-icon-fax:before {
  content: "\f1ac";
}
.dv-icon-building:before {
  content: "\f1ad";
}
.dv-icon-cubes:before {
  content: "\f1b3";
}
.dv-icon-car:before {
  content: "\f1b9";
}
.dv-icon-tree2:before {
  content: "\f1bb";
}
.dv-icon-paper-plane:before {
  content: "\f1d8";
}
.dv-icon-telegram-plane-o:before {
  content: "\f1d9";
}
.dv-icon-football:before {
  content: "\f1e3";
}
.dv-icon-binoculars:before {
  content: "\f1e5";
}
.dv-icon-copyright:before {
  content: "\f1f9";
}
.dv-icon-paint-brush:before {
  content: "\f1fc";
}
.dv-icon-toggle-off:before {
  content: "\f205";
}
.dv-icon-toggle-on:before {
  content: "\f209";
}
.dv-icon-bicycle:before {
  content: "\f20a";
}
.dv-icon-motorcycle:before {
  content: "\f21c";
}
.dv-icon-heartbeat:before {
  content: "\f21e";
}
.dv-icon-i-cursor:before {
  content: "\f246";
}
.dv-icon-industry:before {
  content: "\f275";
}
.dv-icon-map-signs:before {
  content: "\f277";
}
.dv-icon-shopping-basket:before {
  content: "\f291";
}
.dv-icon-address-card:before {
  content: "\f2bb";
}
.dv-icon-address-card-o:before {
  content: "\f2bc";
}
.dv-icon-telegram:before {
  content: "\f2c6";
}
