 .fruit-table {
	overflow:hidden;
	border:1px solid #d3d3d3;
	background:#fefefe;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	width: 100%;
	border-spacing: 0px;
    border-collapse: separate;
}

 .fruit-table th,
 .fruit-table td {
	padding:15px 28px;
}

 .fruit-table th {
	padding-top: 15px;
	text-shadow: 1px 1px 1px #fff;
	background: #e8eaeb;
}

 .fruit-table td {
	border-top: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
}

 .fruit-table td:last-child {
	border-right: none;
}

 .fruit-table tr.odd-row td {
	background: #f6f6f6;
}

 .fruit-table td.first,
 .fruit-table th.first {
	text-align: left;
}

 .fruit-table td.last {
	border-right: none;
}

 .fruit-table tr.odd-row td {
	background: -moz-linear-gradient(100% 25% 90deg, #f6f6f6, #f1f1f1);
	background: -webkit-gradient(linear, 0% 0%, 0% 25%, from(#f1f1f1), to(#f6f6f6));
}

 .fruit-table th {
	background: -moz-linear-gradient(100% 20% 90deg, #e8eaeb, #ededed);
	background: -webkit-gradient(linear, 0% 0%, 0% 20%, from(#ededed), to(#e8eaeb));
}

 .fruit-table tr:first-child th.first {
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
}

 .fruit-table tr:first-child th.last {
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
}

 .fruit-table tr:last-child td.first {
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
}

 .fruit-table tr:last-child td.last {
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
}

 .fruit-table .fruit-table-header {
	text-align: center;
	font-weight: bold;
}

.fruit-table .fruit-name {
	width:15%;
 }
 .fruit-table .fruit-description ,
  .fruit-table .fruit-content{
	width: 23%;
}

 textarea {
	width: 100%;
	height: 200px;
}
.fruit_slider{
	display: inline-block;
    height: auto;
    position: relative; 
    top:10px;   	
}
.fruit_slider img.fruit_slider_image{
	position:relative; 
	width:100%;
}

h2.fruit-title {
	padding:10px 0;
}
.fruit_slider_title {
    left: 0;
    margin: 0;
    padding: 10px;
    position: absolute;
    top: 0;  
    color: #ffffff;
    font-size: 48px;
    text-shadow: -3px 3px 8px rgba(0, 0, 0, 0.75);
}
p.fruit_slider_content {
    margin: 0;
    padding: 10px;
    position: absolute;
	top: 30px;
	font-size:24px;
	color:#fff;
	text-shadow: -3px 3px 8px rgba(0, 0, 0, 0.75);
}
a.fruit_slider_link {
    left: 10px;
    position: absolute;
    top: 100px;
    padding: 6px 12px;    
    font-size:14px;
    color:#fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    text-align:center;
    text-decoration:none;
    border-radius:4px;
  
}
table.fruit-element-settings-list ,.fruit_gallery, .select_gallery{
	margin:20px 0 ;
}
table.image-element {
    display: block;
    margin: 35px 0;
    width: 100%;
}
table.slider_settings .wp-picker-container {
    vertical-align: middle;
    margin-left:5px;
}
.fruit_gallery_h2 {
	padding:8px 15px !important;
	margin:10px 0 !important;
	display:inline-block;
}

#fruit_imagelayer {
    display: none;
}
.update_new_image #fruit_image_slider {
	vertical-align: middle;
	margin-left: 10px;
}

input[type="number"] {
    width: 76px;
}

.select_gallery > label{
	display:block;
	margin:5px 0px;
}

.fruit-table-header > td {
    text-align: left;
}

.update_new_gallery {
    display: inline-block;
    width: 100%;
}
