.dftable input {
	width:400px;
	padding:4px;
	background:transparent;
	border:1px solid transparent;
}
.dftable input:focus {
	border:1px solid #ccc;
	padding:4px;
	background:#fff;
}
.dftable tr {
	height:34px;
}
.dftable td {
	vertical-align: middle;
}