.section-title-container h4.section-title-label {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    color: #228B22;
}
.section-title-container h2.section-title {
    margin: 10px 0 0 0;
    font-weight: 900;
    font-size: 40px;
    line-height: normal;
}

.section-description-wrapper {
    color: #767676;
}
.rswpbs-books-filtering-menu-area {
    flex-flow: wrap;
}
.rswpbs-books-filtering-menu-area a.catItem {
    background: transparent;
    border: 1px solid #a1a1a1;
    color: #a1a1a1;
    border-radius: 3px;
}
.rswpbs-books-filtering-menu-area a.catItem:hover {
    background: #228B22;
    color: #ffffff;
    border-color: #228B22;
}
.section-title-container{
    margin-bottom: 50px;
}
.awt-book-gallery-all-books-area .rswpthemes-book-loop-content-wrapper .book-buy-btn a.rswpthemes-book-buy-now-button {
    background: transparent;
    color: #343434;
    border: 1px solid #a1a1a1;
    border-radius: 3px;
}
.awt-book-gallery-all-books-area .rswpthemes-book-loop-content-wrapper .book-buy-btn a:hover {
    background: #228B22;
    color: #fff;
    border-color: #228B22;
}
.awt-book-gallery-all-books-area .rswpthemes-book-loop-image {
    position: relative;
}
.awt-book-gallery-all-books-area .rswpthemes-book-container {
    border: 0;
}
.awt-book-gallery-all-books-area .rswpthemes-book-loop-content-wrapper {
    background: transparent;
    padding: 0;
    margin-top: 20px;
}
.awt-book-gallery-all-books-area .rswpthemes-book-loop-image:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 45%;
    background: #DBC5B6;
    left: 0;
    bottom: 0;
    z-index: 0;
    border-radius: 10px;
}
.awt-book-gallery-all-books-area .rswpthemes-book-loop-image img {
    position: relative;
    z-index: 1;
}
.awt-book-gallery-all-books-area .rswpthemes-book-loop-image {
    padding-bottom: 10px;
}
.awt-book-gallery-all-books-area .align-self-stretch .rswpthemes-book-container{
    background: transparent;
}