@font-face{
     font-family: Poppins;
  src: url('../fonts/Poppins-Regular.ttf') format('truetype'),
   url('../fonts/Poppins-Regular.otf');
  font-weight:400;
}
@font-face{
     font-family: Poppins-bold;
  src: url('../fonts/Poppins-Bold.ttf') format('truetype'),
  url('../fonts/Poppins-Bold.otf');
  font-weight:700;
}
@font-face{
     font-family: Poppins-semibold;
  src: url('../fonts/Poppins-SemiBold.ttf') format('truetype'),
   url('../fonts/Poppins-SemiBold.otf');
  font-weight:600;
}
/* FAQ Group Title
------------------------------------------------------------ */
h3.evdpl-faq-term-title { margin: 20px 0 10px }
/* FAQ Group Description
------------------------------------------------------------ */
p.evdpl-faq-term-description { font-style: italic; }
/* FAQ Wrapper
------------------------------------------------------------ */
.evdpl-faq-wrap {
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    background:	none repeat scroll 0 0 #fbfbfb;
    clear: both;
    border: 1px solid #ddd;
    margin: 10px 0;
    padding: 5px 10px;
}
/* FAQ Title
------------------------------------------------------------ */
.evdpl-faq-title {
    background: url(../images/toggle-open.png) no-repeat left transparent;
    cursor: pointer;
    font-size: 16px;
    padding: 0 0 0 30px;
    position: relative;
}
.evdpl-faq-title.faq-open { background: url(../images/toggle-close.png) no-repeat left transparent; }
/* FAQ Content
------------------------------------------------------------ */
.evdpl-faq-content {
    margin-left: 10px;
    padding: 5px 20px;
}
.evdpl-faq-content p {
    padding: 0 !important;
}
.evdpl-faq-content p:last-child {
    margin: 0 !important;
}
/* Return to Top link
------------------------------------------------------------ */
.evdpl-faq-to-top {}
/* Accordion Title
------------------------------------------------------------ */
.evdpl-faq-accordion-title.ui-state-default {
    background: #60b884;
    color: #fff;
    border-color: #60b884;
}
/* Accordion Content
------------------------------------------------------------ */
.evdpl-faq-accordion-content {
    padding: 5px 15px 5px 10px;
}
.evdpl-faq-accordion-content p {
    padding: 0 !important;
}
.evdpl-faq-accordion-content p:last-child {
    margin: 0 !important;
}
/*EVDPL CSS START HERE*/
.evdpl-faq-accordion-wrap .ui-icon-triangle-1-e {
background-image: url(../images/arrow-point.png) !important;
background-position: 0 0;
background-size: 100% 100%;
width: 16px;
height: 10px;
transition: all 0.5s ease-in-out 0s;
}
.evdpl-faq-accordion-wrap .ui-accordion-header-active {
    background: #5fb983 !important;
}
.evdpl-faq-accordion-wrap .ui-icon-triangle-1-s{
background-image: url(../images/arrow-point.png) !important;
background-position: 0 0;
background-size: 100% 100%;
width: 16px;
height: 10px;
-webkit-transform: rotate(180deg);
-ms-transform: rotate(180deg);
transform: rotate(180deg);
transition: all 0.5s ease-in-out 0s;
}
.evdpl-faq-accordion-title.ui-state-default:focus {
outline: none;
}
.evdpl-faq-accordion-title.ui-state-default{
transition: all 0.5s ease 0s;   
text-transform: uppercase;
font-weight: 600;
font-family: "Poppins-semibold";
}
.evdpl-faq-accordion-wrap.ui-accordion .ui-accordion-content{padding: 15px;border-color: #60b884; margin-bottom: 6px;width: 100%;overflow: hidden;}
.evdpl-faq-accordion-wrap.ui-accordion .ui-accordion-content p,li {
font-size: 16px;
line-height: 24px;
    color: #555;
}
.evdpl-faq-accordion-wrap.ui-accordion .ui-accordion-header-active {
background: transparent;
color: #fff;
border-bottom: 0;
}
h3.evdpl-faq-term-title:before {
content: '';
position: absolute;
height: 2px;
width: 100px;
background: #60b884;
float: left;
display: inline-block;
bottom: -3px;
}
h3.evdpl-faq-term-title {
position: relative;
line-height: 26px;
font-family: 'Poppins-semibold',Arial,sans-serif;
margin: 40px 0 20px;
font-size: 20px;
padding-bottom: 5px;    
font-weight: 600
}
.evdpl-faq-accordion-wrap.ui-accordion .ui-accordion-header .ui-accordion-header-icon{
left: auto;
right: 20px;
}
.evdpl-faq-accordion-wrap.ui-accordion .ui-accordion-icons {
padding-left: 15px;
font-size: 16px;
    padding-right: 40px;margin-bottom: 10px;
}
.ui-accordion-icons.ui-accordion-header-active {
    margin-bottom: 0px !important;
}
.ui-accordion-header.ui-state-default {
    margin-bottom: 6px;
        margin-top: 6px;
}
.content-area .hentry .entry-content .wp-block-separator{margin-top: 20px}
.discul{margin-bottom: 0;    margin-left: 20px;}
.evdpl-faq-accordion-wrap.ui-accordion .ui-accordion-header .ui-accordion-header-icon{top: 60%}
h6 {font-size: 18px;font-family: 'Poppins'}
@media screen and (max-width: 767px) {
    .evdpl-faq-accordion-wrap.ui-accordion .ui-accordion-header .ui-accordion-header-icon{right: 10px;}
    .evdpl-faq-accordion-wrap.ui-accordion .ui-accordion-icons {font-size: 13px;}
}
.ui-widget-content {color: #3c3f46;}
.ui-accordion .ui-accordion-header .ui-accordion-header-icon{top: 59%;}
.evdpl-faq-accordion-wrap.ui-accordion {font-family: "Poppins";}
/*EVDPL CSS END HERE*/