/* Max width 767px */
@media only screen and (max-width: 767px) {
  .envynotifs-bar .envynotifs-wrap .envynotifs-single {
    width: 100%;
    margin-bottom: 15px;
  }
  /* EnvyNotifs Popup */
  .envynotifs-popup {
    width: 360px;
  }
  .envynotifs-popup .envynotifs-popup-wrap .envynotifs-popup-single .envynotifs-popup-sign-up form .form-control {
    width: 96%;
    margin-bottom: 10px;
  }
  .envynotifs-popup .envynotifs-popup-wrap .envynotifs-popup-single .envynotifs-popup-sign-up form .envynotifs-popup-sign-up-btn {
    margin-left: 0;
  }
  .envynotifs-popup .envynotifs-popup-wrap .envynotifs-popup-single .envynotifs-popup-time .envynotifs-popup-time-list li {
    margin: 0 8px;
  }
  .envynotifs-popup .envynotifs-popup-wrap .envynotifs-popup-single .envynotifs-popup-time .envynotifs-popup-time-list li span {
    font-size: 15px;
  }
  .envynotifs-popup .envynotifs-popup-wrap .envynotifs-popup-single .envynotifs-popup-time .envynotifs-popup-time-list li span::after {
    top: 6px;
    right: -12px;
    width: 3px;
    height: 3px;
  }
  .envynotifs-popup .envynotifs-popup-wrap .envynotifs-popup-single .envynotifs-popup-time .envynotifs-popup-time-list li span::before {
    top: 15px;
    right: -12px;
    width: 3px;
    height: 3px;
  }
  /* envypopup */
  .envypopup {
    position: unset;
    -webkit-transform: unset;
            transform: unset;
  }
  .envypopup .envypopup-wrap .envypopup-single .envypopup-title {
    padding: 20px;
    margin-bottom: 20px;
  }
  .envypopup .envypopup-wrap .envypopup-single .envypopup-title h2 {
    font-size: 20px;
  }
  .envypopup .envypopup-wrap .envypopup-single .envypopup-content {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
  }
  .envypopup .envypopup-wrap .envypopup-single .envypopup-time {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 0;
  }
  .envypopup .envypopup-wrap .envypopup-single .envypopup-time .envypopup-time-list li {
    margin-bottom: 20px;
    font-size: 18px;
  }
  .envypopup .envypopup-wrap .envypopup-single .envypopup-time .envypopup-time-list li span {
    width: 125px;
    height: 125px;
    line-height: 125px;
    font-size: 25px;
  }
  .envypopup .envypopup-wrap .envypopup-single .envypopup-search form .envypopup-search-btn {
    position: unset;
    margin-top: 20px;
  }
  .envypopup .envypopup-wrap .envypopup-single .envypopup-search form .form-control {
    width: 92%;
  }
  .envypopup .envypopup-close-button {
    top: 0;
    right: 0;
    border-radius: 0;
  }
}

/* Min width 320px to Max width 416px */
@media only screen and (min-width: 320px) and (max-width: 416px) {
  .envynotifs-bar .envynotifs-wrap .envynotifs-single .envynotifs-sign-up form .envynotifs-sign-up-btn {
    position: absolute;
    top: 0;
    right: 0;
  }
}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .envynotifs-bar .envynotifs-wrap .envynotifs-single {
    width: 46%;
    margin-bottom: 15px;
  }
  .envynotifs-bar .envynotifs-wrap .envynotifs-single.envynotifs-read-more {
    width: 100%;
  }
  /* EnvyNotifs Popup */
  .envynotifs-popup {
    width: 600px;
  }
  /* envypopup */
  .envypopup {
    position: unset;
    -webkit-transform: unset;
            transform: unset;
  }
  .envypopup .envypopup-wrap .envypopup-single .envypopup-title {
    padding: 20px;
    margin-bottom: 20px;
  }
  .envypopup .envypopup-wrap .envypopup-single .envypopup-title h2 {
    font-size: 20px;
  }
  .envypopup .envypopup-wrap .envypopup-single .envypopup-content {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
  }
  .envypopup .envypopup-wrap .envypopup-single .envypopup-time {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 0;
  }
  .envypopup .envypopup-wrap .envypopup-single .envypopup-time .envypopup-time-list li {
    margin-bottom: 20px;
    font-size: 18px;
  }
  .envypopup .envypopup-wrap .envypopup-single .envypopup-time .envypopup-time-list li span {
    width: 125px;
    height: 125px;
    line-height: 125px;
    font-size: 25px;
  }
  .envypopup .envypopup-wrap .envypopup-single .envypopup-search form .envypopup-search-btn {
    position: unset;
    margin-top: 20px;
  }
  .envypopup .envypopup-wrap .envypopup-single .envypopup-search form .form-control {
    width: 92%;
  }
  .envypopup .envypopup-close-button {
    top: 0;
    right: 0;
    border-radius: 0;
  }
}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .envynotifs-bar .envynotifs-wrap .envynotifs-single {
    width: 47%;
    margin-bottom: 15px;
  }
  .envynotifs-bar .envynotifs-wrap .envynotifs-single.envynotifs-read-more {
    width: 100%;
  }
  /* envypopup */
  .envypopup {
    position: unset;
    -webkit-transform: unset;
            transform: unset;
  }
}
