caption, th, td {text-align: left; font-weight: normal; vertical-align:top;}
blockquote:before, blockquote:after, q:before, q:after {content: "";}
blockquote, q { quotes: "" "";}
.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0;}
.clear{ clear: both; height: 0;}

#top_header
{
	width: 793px;
	height: 16px;
	border-collapse: separate;
	box-shadow: 0px 0px 7px #BBBBBB;
	-webkit-box-shadow: 0px 0px 7px #BBBBBB;
	box-shadow: 0px 0px 7px #BBBBBB;
	margin: 15px auto 0px;
}

#fueto_header
{
	width: 834px;
	height: 81px;
	margin: 0 auto;
	position: relative;
	z-index: 10;
    background: url('../images/header_background.png');
}
	#fueto_header .fueto_logo
    {
		width: 115px;
		height: 37px;
		position: relative;
		top: 11px;
		left: 43px;
        background: url('../images/fueto_logo.png');
	}

#fueto_content
{
	width: 793px;
	min-height: 300px;
	background-color: #FBFBFB;
	margin: 0 auto;
	border-collapse: separate;
	box-shadow: 0px 3px 5px 0px #BBBBBB;
	-webkit-box-shadow: 0px 3px 5px 0px #BBBBBB;
	box-shadow: 0px 3px 5px 0px #BBBBBB;
	z-index: 1;
	position: relative;
	top: -10px;
	left: -1px;
	display: block;
	padding-top: 20px;
}

#postit, #warning_width
{
	width: 728px;
	height: 92px;
	box-shadow: 0px 0px 7px #BBBBBB;
	-webkit-box-shadow: 0px 0px 7px #BBBBBB;
	box-shadow: 0px 0px 7px #BBBBBB;
	margin: 10px 20px 26px 20px;
	display: inline-block;
	text-align: center;
    background: url('../images/postit_background.png') repeat-x #FCFAAA;
}
	#postit .principal_text
    {
		color: #4A4A4A;
		font-family: Arial;
		font-size: 14px;
	}
	#postit .second_text
    {
		color: #4A4A4A;
		font-family: Arial;
		font-size: 12px;
	}
	#postit .index_box
    {
		width: 344px;
		height: 70px;
		margin: 16px 0 0 24px;
		float: left;
		text-align: left;
	}
		#postit .index_box .progress_bar
        {
			border: 1px solid #1B739F;
			background-color: #FFFFFF;
			box-shadow: 0px 0px 4px #BBBBBB;
			-webkit-box-shadow: 0px 0px 4px #BBBBBB;
			box-shadow: 0px 0px 4px #BBBBBB;
			width: 278px;
			height: 16px;
			float: left;
			margin: 8px 0 8px 0;
		}
			#postit .index_box .progress_bar .progress_bar_fill
            {
				overflow: hidden;
				height: 16px;
                background: url('../images/progress_bar_fill.jpg') repeat-x;
			}
		#postit .index_box .btn_index
        {
			float: left;
			margin: 7px 0 0 5px;
            cursor:pointer;
		}

	#postit .separator
    {
		width: 29px;
		height: 62px;
		margin: 16px 0 0 0;
		float: left;
        background: url('../images/postit_separator.gif');
	}
    
	#postit .form_box
    {
		width: 300px;
		height: 70px;
		margin: 16px 0 0 10px;
		float: left;
		text-align: left;
	}
    
		#postit .form_box input
        {
			width: 205px;
			height: 24px;
			background-color: #FFFFFF;
			border: 1px solid #F3F099;
			margin: 4px 0 0 0;
			float: left;
			font-family: Arial;
			font-size: 12px;
			color: #8F8F8F;
			padding: 0 0 0 5px;
			border-radius: 2px;
		    -webkit-border-radius: 2px;
		}
        
		#postit .form_box .btn_form
        {
			float: left;
			margin: 3px 0 0 5px;
            cursor: pointer;
		}

	#postit .btn_close, #warning_width .btn_close
    {
		float: right;
		margin: 5px 5px 0 0;
        cursor: pointer;
	}

#warning_width
{
    height: auto;
}

.panel
{
	width: 344px;
	min-height: 261px;
	box-shadow: 0px 0px 7px #BBBBBB;
	-webkit-box-shadow: 0px 0px 7px #BBBBBB;
	box-shadow: 0px 0px 7px #BBBBBB;
	background-color: #FFFFFF;
	margin: 10px 20px 31px 20px;
	display: inline-block;
}
	.panel .col_left
    {
		margin: 0 0 0 4px;
		width: 45%;
		text-align: right;
		float: left;
		color: #4A4A4A;
		font-family: Arial;
		font-size: 12px;
		line-height: 26px;
	}
	.panel .col_right
    {
		margin: 0 4px 0 0;
		width: 45%;
		text-align: left;
		float: right;
		color: #4A4A4A;
		font-family: Arial;
		font-size: 12px;
		line-height: 26px;
	}
	.panel .col_left_2
    {
		margin: 0 0 0 4px;
		width: 55%;
		text-align: right;
		float: left;
		color: #4A4A4A;
		font-family: Arial;
		font-size: 12px;
		line-height: 26px;
	}
	.panel .col_right_2
    {
		margin: 0 4px 0 0;
		width: 35%;
		text-align: left;
		float: right;
		color: #4A4A4A;
		font-family: Arial;
		font-size: 12px;
		line-height: 26px;
	}
	.panel .one_col
    {
		margin: 0 4px 0 4px;
		text-align: center;
		float: right;
		color: #4A4A4A;
		font-family: Arial;
		font-size: 11px;
		line-height: 22px;
	}
	.panel .row_separator
    {
		background-color: #EDEDED;
		height: 1px;
		width: 320px;
		margin: 6px auto 2px auto;
		clear: both;
	}
.panel_large
{
	width: 728px;
	min-height: 130px;
	box-shadow: 0px 0px 7px #BBBBBB;
	-webkit-box-shadow: 0px 0px 7px #BBBBBB;
	box-shadow: 0px 0px 7px #BBBBBB;
	background-color: #F5F5F5;
	margin: 10px 20px 26px 20px;
	display: inline-block;
}
.panel_inner_content
{
	position: relative;
	top: -26px;
}
.panel_title_1
{
	width: 352px;
	height: 48px;
	position: relative;
	left: -12px;
	top: -16px;
    background: url('../images/panel_title_background_1.png');
}
.panel_title_2
{
	width: 352px;
	height: 48px;
	position: relative;
	left: -12px;
	top: -16px;
    background: url('../images/panel_title_background_2.png');
}
.panel_title_large
{
	width: 730px;
	height: 48px;
	position: relative;
	left: -12px;
	top: -16px;
    background: url('../images/panel_title_background_large.png');
}
.panel_input
{
	border: 1px solid #9E9E9E;
	width: 130px;
}
.panel_select
{
	border: 1px solid #9E9E9E;
}
.panel_input_color
{
	border: 1px solid #9E9E9E;
	width: 60px;
	float: left;
	text-align: center;
    cursor:pointer;
}
.btn_color
{
	float: left;
	margin: 0px 0 0 6px;
}
.terms
{
	text-align: left;
	margin: 0 0 26px 29px;
	font-family: Arial;
	font-size: 12px;
	color: #4F4F4F;
}
.terms a
{
	text-decoration: underline;
	color: #1d7ea9;
}
.buttons
{
	text-align: left;
	margin: 0 0 0 29px;
}
.buttons a
{
	display: inline-block;
	margin: 0 0 13px 0;
    cursor: pointer;
}
#terms_box
{
	width: 730px;
	min-height: 500px;
	background-color: #FFFFFF;
	z-index: 2;
	/*position: absolute;*/
	left: 50%;
	top: 10px;
	/*margin: 0 0 0 -365px;*/
	padding: 0;
	-moz-border-radius: 10px;
	border-radius: 10px;
  -webkit-border-radius: 10px;
}
	#terms_box .fueto_header
    {
		height: 72px;
		width: 100%;
		text-align: left;
		border-bottom: 7px #00C5FE solid;
		margin: 0;
	}
		#terms_box .fueto_header .title
        {
			float: left;
			font-family: Arial;
			font-weight: bold;
			font-size: 28px;
			color: #208cb6;
			padding: 24px 0 0 14px;
		}
		#terms_box .fueto_header .close_button
        {
			float: right;
			margin: 11px 8px 0 0;
		}
	#terms_box .fueto_content
    {
		width: 700px;
		margin: 20px auto 30px auto;
		text-align: left;
	}
		#terms_box .fueto_content .title
        {
			font-family: Arial;
			font-size: 14px;
			color: #00c5fe;
			margin: 0 0 16px 0;
		}
		#terms_box .fueto_content p
        {
			font-family: Arial;
			font-size: 12px;
			color: #666666;	
			margin: 0 0 16px 0;
			line-height: 15px;
		}
		#terms_box .fueto_content span
        {
			font-family: Arial;
			font-size: 12px;
			color: #00c5fe;	
		}    