.icount_settings_error {
	background-color: #f00;
}


.modal {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
	display: flex;
    align-content: center;
    flex-wrap: wrap;
	padding: 10px;
}

.modal-content {
    background-color: #fff;
    margin: 5% auto;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative;
    border-radius: 6px !important;
}

.close-modal {
    position: absolute;
    top: 0px;
	color:#6C7884;
    left: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
	z-index: 9999;
}

#paymentIframe body{
	padding:0 !important;
}

.icount-footer {
border-top: 1px solid #E4EAF0;
padding:20px;
	    display: flex;
    justify-content: space-between;
    align-items: center;
}


.icount-column {
	flex: 1;
    display: inline-flex;
    align-items: center;
}

.icount-column img {
    max-width: 100%;
    height: auto;
}

.icount-column p {
margin:0;
padding-right:6px;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 17px; 
color: #6C7884;
}

img.icount-logo {
max-height:17px;
}

img.icount-pci {
max-height: 32px;
}

.icount-loader {
   background-image: url("https://app.icount.co.il/images/thinking_v2.gif");   
   background-repeat: no-repeat;
   background-position: 50% 50%;
   position: absolute;
   width:100%;
   height:100%;       	       
}



