.grkw-widget {
	color: #666;
	font: normal 14px Arial, Helvetica, sans-serif;
	line-height: 1.5em;
	border-radius: 1em;
	background-color: #f7f7f7;
	border: 1px solid #ccc;
}

.grwk-header {
	text-align: center;
	padding: 10px 0;
}

.grkw-logo {
	height: auto;
	width: 200px;
}

.grkw-widget p {
	margin: 1em;
}

.grkw-form {
	display: block;
	text-align: center;
	padding: 1em;
}

.grkw-form label {
	width: 120px;
	text-align: right;
	display: inline-block;
	margin-top: 1em;
}

.grkw-form input[type="submit"] {
	margin-top: 1em;
}

.connect-button {
	text-align: center;
	display: block;
	padding: 1em;
}

.grkw-activities {
	border-radius: 0 0 1em 1em;
}

.nologo .grkw-activities .grkw-activity:first-of-type {	
	border-top: none;
}

.grkw-activities .grkw-activity {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	border-top: 1px solid #ccc;
	padding: 0.5em 1em;
}

.grkw-activities .grkw-type {
	flex: 0 0 33%;
	color: #2dc9d7;
	font-weight: bold;
}

.grkw-activities .grkw-date {
	flex: 0 0 67%;
	text-align: right;
	font-weight: bold;
}

.grkw-activities .grkw-workout-values {
	flex: 0 0 100%;
	display: flex;
}

.grkw-activities .grkw-workout-values .grkw-title {
	display: none;
}

.grkw-activities .grkw-workout-values > span {
	text-align: center;
}

.grkw-activities .grkw-workout-values > span:first-of-type {
	text-align: left;
}

.grkw-activities .grkw-workout-values > span:last-of-type {
	text-align: right;
}

.grkw-activities .grkw-distance {
	flex: 1 1 20%;
}

.grkw-activities .grkw-duration {
	flex: 1 1 30%;
}

.grkw-activities .grkw-speed {
	flex: 1 1 20%;
}

.grkw-activities .grkw-calories {
	flex: 1 1 20%;
}

/***** most recent activity is displayed more prominently *****/
.grkw-activities .grkw-activity:first-of-type {
	padding-bottom: 1em;
}

.grkw-activities .grkw-activity:first-of-type .type {
	font-size: 18px;
	margin-bottom: 0.5em;
}

.grkw-activities .grkw-activity:first-of-type .grkw-workout-values {
	background: #01727c;
	background: -moz-linear-gradient(top,  #01727c 0%, #0196a4 50%, #017782 51%, #018a96 100%);
	background: -webkit-linear-gradient(top,  #01727c 0%,#0196a4 50%,#017782 51%,#018a96 100%);
	background: linear-gradient(to bottom,  #01727c 0%,#0196a4 50%,#017782 51%,#018a96 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01727c', endColorstr='#018a96',GradientType=0 );

	box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
	color: #f7f7f7;
	font-weight: bold;
	border-radius: 0.5em;
	font-size: 18px;
}

.grkw-activities .grkw-activity:first-of-type .grkw-unit {
	font-size: 12px;
	font-weight: normal;
	display: block;
}

.grkw-activities .grkw-activity:first-of-type .grkw-workout-values > span {
	text-align: center;
	border-right: 1px solid #f7f7f7;
	padding: 0.5em 0;
}

.grkw-activities .grkw-activity:first-of-type .grkw-workout-values > span:last-of-type {
	border-right: none;
}

.grkw-activities .grkw-activity:first-of-type .grkw-workout-values .grkw-title {
	font-size: 12px;
	font-weight: normal;
	display: block;
}