.adno-notes-block {
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
}

.adno-notes-block .adno-notes-content {
}

.adno-notes-block textarea {
    width: 100%;
    height: 150px;
    resize: none;
    border: none;
    background: transparent;
    font-family: inherit;
}
