table.wp-list-table mark.discontinued {
  color: #61cdda;
  font-weight: 700;
  background: transparent none;
  line-height: 1;
}

.dpssw_discon label {
  margin-left: 5px;
}

div#discontinued_tab_container.woocommerce_options_panel label, div#discontinued_tab_container.woocommerce_options_panel legend {
  width: 240px !important;
}

div#inventory_product_data.woocommerce_options_panel label, div#inventory_product_data.woocommerce_options_panel legend {
  width: 240px !important;
}

div#discontinued_tab_container.woocommerce_options_panel label {
  width: 175px;
}

.dpssw-pro-alert{
  margin: 5px;
  color: white;
  background: red;
  border-radius: 12px;
  font-size: 12px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.sft-upgrade-now{
  border: 2px solid #5d3dfd !important;
  border-radius: 4px;
  color: #5d3dfd;
  display: inline-block;
  font-size: 15px;
  font-weight: 400;
  height: auto;
  line-height: 1.4;
  padding: 9px 18px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all .3s ease-in-out;
  z-index: 2;
}

.sft-upgrade-now:hover{
  background-color: #4e35cc;
  color: #fff;
  text-decoration: none;
}

.purchase-pro-link:link, .purchase-pro-link:visited, .purchase-pro-link:active {
  color: inherit;
  text-decoration: none;
  box-shadow: none;
}

span.dpssw-pro-alert.pointer b {
  cursor: pointer;
}

/* Free to Pro Banner */
.dpssw-upgrade-col1 h2 {
	font-size: 22px;
	font-weight: 600;
	color: #F8C844;
}
.dpssw-footer-upgrade{
	width: 98%;
	margin: 10px;
	display: flex;
	background: #0A2540;
	border-radius: 16px;
	flex-wrap: wrap;
	justify-content: space-between;
}

.dpssw-footer-upgrade .sft-logo{ width: 25%; background: #FFF; display: flex; align-items: center; justify-content: center; border-radius: 14px 0 0 14px;}
.dpssw-footer-upgrade .dpssw-upgrade-col1{ width: 32%; padding-bottom: 20px;}
.dpssw-footer-upgrade .dpssw-upgrade-col{ width: 38%;  padding: 10px; box-sizing: border-box;}
.dpssw-footer-upgrade .sft-logo a{ display: inline-block; margin: 0; padding: 0; width: 80%;}
.dpssw-footer-upgrade .sft-logo img{ max-width: 100%; height: auto;}
  
  
.dpssw-footer-upgrade .dpssw-upgrade-col1 h3{ 
	font-size: 22px;
	line-height: 26px;
	font-weight: 600;
	color: #F8C844;
}
.dpssw-footer-upgrade .dpssw-upgrade-col1 .dpssw-moneyback-badge{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.dpssw-footer-upgrade .dpssw-upgrade-col1 .dpssw-moneyback-badge > div:first-child{ width: 40%;}
.dpssw-footer-upgrade .dpssw-upgrade-col1 .dpssw-moneyback-badge > div:last-child{ width: 56%;}
.dpssw-footer-upgrade .dpssw-upgrade-col1 .dpssw-moneyback-badge > div h3{ color: #FFF;}
.dpssw-footer-upgrade .dpssw-upgrade-col1 .dpssw-moneyback-badge > div p{
	font-size: 14px;
	color: #FFF;
	line-height: 18px;
}
.dpssw-footer-upgrade .dpssw-upgrade-col1 .dpssw-moneyback-badge > div .btn{
  display: inline-block;
  padding: 0 17px;
  line-height: 38px;
  border: none;
  border-radius: 5px;
  background: #00978D;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.dpssw-footer-upgrade .dpssw-upgrade-col1 .dpssw-moneyback-badge > div .btn:hover{ background: #000;}
.dpssw-footer-upgrade .dpssw-upgrade-col1 .dpssw-moneyback-badge > div img{ max-width: 90%; height: auto;}
  
.dpssw-footer-upgrade .dpssw-upgrade-col > ul{
	padding: 15px;
	border: 2px dotted white;
	border-radius: 7px;
	color: white;
}
.dpssw-footer-upgrade .dpssw-upgrade-col > ul li{
	list-style-type: none; display: block; font-size: 14px; color: #FFF; line-height: 18px;
}
.dpssw-footer-upgrade .dpssw-upgrade-col > ul li strong{ font-weight: 900;}
  
@media only screen and (min-width:300px) and (max-width:600px){
	.dpssw-footer-upgrade{ margin: 0;}
	.dpssw-footer-upgrade .sft-logo{ width: 100%;  border-radius: 14px 14px 0 0; padding: 25px 0;}
	.dpssw-footer-upgrade .dpssw-upgrade-col1{ width: 100%; padding: 15px; box-sizing: border-box;}
	.dpssw-footer-upgrade .dpssw-upgrade-col{ width: 100%;  padding: 10px; box-sizing: border-box;}
}
@media only screen and (min-width:600px) and (max-width:1200px){
	.dpssw-footer-upgrade .sft-logo a{ max-width: 200px;}
	.dpssw-footer-upgrade{ margin: 0;}
	.dpssw-footer-upgrade .sft-logo{ width: 100%;  border-radius: 14px 14px 0 0; padding: 25px 0;}
	.dpssw-footer-upgrade .dpssw-upgrade-col1{ width: 50%; padding: 15px; box-sizing: border-box;}
	.dpssw-footer-upgrade .dpssw-upgrade-col{ width: 50%;  padding: 10px; box-sizing: border-box;}
}

/* Free to Pro Pop-up */
.dpssw-upgrade-now{
  padding: 20px;
  background-color: #0A2540;
  color: #ffffff;
  border-radius: 5px;
}
.dpssw-upgrade-now a {
  color: #ffffff;
}




 /* Style of Import and Export button. */

 div.export-container {
  display: flex;
  align-items: center;
}

div.discontinued-export-button, div.discontinued-import-button ,div.discontinued-restore-button{
    width: 65px;
    height: 30px;
    border-radius: 4px;
    border: 1px solid #2271b1;
    color: #2271b1;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;

}

div.discontinued-export-button:hover, div.discontinued-import-button:hover, div.discontinued-restore-button:hover {
  cursor: pointer;
  border-color: #0a4b78;
  color: #0a4b78;
} 

div.import-container, div.restore-container {
  display: flex;
  align-items: center;
}

div.import-container #fileToUpload {
  margin-left: 5px;
  position: relative;
  width: 350px;
}

.tooltip {
  display: inline-block;
  width: 12px;
  position: absolute;
  top: 50%;
  right: 0;
  margin: -7px -24px 0 0;
}
.tooltip::after {
  content: attr(data-text);
  position: absolute;
  top: 120%;
  transform: translateX(-60%);
  left: 100%;
  margin-left: 15px;
  width: 150px;
  padding: 7px 10px;
  border-radius: 3px;
  background: #333333;
  color: #fff;
  text-align: center;
  display: none;
  font-size: 11px;
  font-weight: 350;
  line-height: 18px;
  z-index: 1;
}
.tooltip::before {
  content: "";
  position:absolute;
  left:10%;
  margin-left:-5px;
  top:55%;
  transform:translateY(-15%);
  border:10px solid #333333;
  border-color: transparent transparent #333333 transparent;
  display:none;
}
.tooltip:hover:before, .tooltip:hover:after {
  display:block;
}
.tooltip:hover {
  cursor: help;
}
.tooltip img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

#fileToUpload::file-selector-button {
  width: 120px;
  color: transparent;
  border-radius: 4px;
  padding: 0 16px;
  height: 31.5px;
  cursor: pointer;
  background-color: white;
  border: 1px solid #2271b1;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  margin-right: 16px;
  transition: background-color 200ms;
  
}

#fileToUpload::before {
  position: absolute;
  pointer-events: none;
  top: 10px;
  left: 14px;
  height: 17px;
  width: 17px;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%230964B0'%3E%3Cpath d='M18 15v3H6v-3H4v3c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-3h-2zM7 9l1.41 1.41L11 7.83V16h2V7.83l2.59 2.58L17 9l-5-5-5 5z'/%3E%3C/svg%3E");
}

#fileToUpload::after{
  position: absolute;
  pointer-events: none;
  top: 12px;
  left: 35px;
  color: #0964b0;
  font-size: 13px;
  content: "Upload File";
}

#fileToUpload::file-selector-button:hover {
  background-color: #f3f4f6;
}

#fileToUpload::file-selector-button:active {
    background-color: #e5e7eb;
}

/* ====== 09-11-24 ======= */
/* -------------------------------------------- Black Friday Notice css ----------------------------------- */


/* SaffireTech - Quick Links Section CSS */


/* Main Container */
.sft-quick-links-section {
  position: fixed;
  z-index: 999999;
  bottom: 50px;
  right: 50px;
 }
 
 
 /* Main Icon */
 .sft-quick-links-section button.sft-quick-links-menu-icon {
  border: none;
  background: none;
  cursor: pointer;
  border-radius: 50%;
 }
 
 
 .sft-quick-links-section .sft-quick-links-menu-icon img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0px 0px 5px #9d9d9d;
  background-color: #FFF;
 }
 
 
 /* Quick Links Menu */
 .sft-quick-links-menu-items {
  display: none;
  position: absolute;
  bottom: 80px;
  width: 100%;
 }
 
 
 .sft-quick-links-menu-items .sft-quick-links-flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
 }
 
 
 .sft-quick-links-menu-items .sft-quick-links-flex-container button {
  padding: 5px !important;
  display: flex;
  border-radius: 50%;
  border: none;
  background-color: #FFF;
  box-shadow: 0px 0px 10px #bdbdbd;
  cursor: pointer;
 }
 
 
 .sft-quick-links-flex-container .sft-quick-links-tooltip-wrapper {
  position: relative;
  display: inline-block;
 }
 
 
 .sft-quick-links-flex-container .sft-quick-links-tooltip-text {
  visibility: hidden;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 10px;
  position: absolute;
  right: 120%;
  top: 50%;
  transform: translateY(-50%);
  white-space: nowrap;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
 }
 
 
 .sft-quick-links-flex-container .sft-quick-links-tooltip-wrapper:hover .sft-quick-links-tooltip-text {
  visibility: visible;
  opacity: 1;
 }
 
 
 /* ------------------------------------------------ Notice CSS --------------------------------------------- */
 
 
 /* Black Friday Notice Testing */
 .sft-plugin-sale-notice-black-friday {
  font-size: 14px;
  line-height: 1.5;
  color: #fff;
  background: #1c2227;
  display: flex;
  align-items: center;
  gap: 15px;
 }
 
 
 .sft-plugin-sale-notice-black-friday.notice-warning {
  border-left-color: #D63638;
 }
 
 
 .sft-plugin-sale-notice-black-friday h3 {
  color: #fff !important;
  margin-bottom: 0px;
 }
 
 
 .sft-plugin-sale-notice-black-friday p {
  font-size: 14px;
  margin-bottom: 15px;
 }
 
 
 .sft-plugin-sale-notice-black-friday p b {
  font-size: 16px;
  color: #21cd6d;
 }
 
 
 .sft-plugin-sale-notice-black-friday h4 {
  margin-bottom: 0px !important;
 }
 
 
 .sft-plugin-sale-notice-black-friday a {
  display: inline-block;
 }
 
 
 .sft-plugin-sale-notice-black-friday .sft-plugin-sale-notice-button {
  padding: 12px 20px;
  min-width: 250px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: 600;
  color: white;
  background-color: #df1f1f;
  position: relative;
  overflow: hidden;
  transition: transform 0.2s;
 }
 
 
 .sft-plugin-sale-notice-black-friday .sft-plugin-sale-notice-button:hover {
  transform: scale(1.05);
 }
 
 
 .sft-plugin-sale-notice-black-friday .sft-plugin-sale-notice-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: -75px;
  width: 50px;
  height: 100%;
  background: rgba(255, 255, 255, 0.377);
  box-shadow: 0px 0px 20px 5px #ffffffa1;
  /* transform: skewX(-45deg); */
  opacity: 0;
  animation: shine_sale_btn 3s infinite;
 }
 
 
 /* Keyframes for the shine animation */
 @keyframes shine_sale_btn {
  0% {
    left: -75px;
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    left: 160%;
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    left: 200%;
    opacity: 0;
  }
 }
 
 
 
 
 /* ------------------------------------- Sale Popup Plugin CSS ----------------------------------------*/
 
 
 .sft-quick-links-popup {
  display: none;
  position: absolute;
  /* padding: 20px; */
  /* background: red; */
  background: #000;
  bottom: 80px;
  right: 5px;
  /* height: 340px;
  width: 280px; */
  z-index: 9999999;
 }
 
 
 .sft-quick-links-popup .sft-sale-notice-popup-inner {
  /* display: none; */
  padding: 20px;
  height: 340px;
  width: 280px;
 }
 
 
 .sft-quick-links-popup .sft-ql-popup-content img {
  display: block;
  margin: 0 auto;
 }
 
 
 .sft-quick-links-popup .sft-ql-popup-close-container {
  display: flex;
  justify-content: flex-end;
 }
 
 
 .sft-ql-popup-btn-container {
  text-align: center;
 }
 
 
 .sft-sale-popup-heading {
  text-align: center;
  color: #FFF;
  font-size: 20px;
 }
 
 
 .sft-ql-popup-btn-container .sft-ql-popup-deal-btn {
  padding: 12px 25px;
  margin: 20px auto;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  color: white;
  background-color: #df1f1f;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: transform 0.2s;
 }
 
 
 .sft-ql-popup-btn-container .sft-ql-popup-deal-btn:hover {
  transform: scale(1.05);
 }
 
 
 .sft-ql-popup-btn-container .sft-ql-popup-deal-btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: -75px;
  width: 50px;
  height: 100%;
  background: rgba(255, 255, 255, 0.377);
  box-shadow: 0px 0px 20px 5px #ffffffa1;
  /* transform: skewX(-45deg); */
  opacity: 0;
  animation: shine_sale_btn 3s infinite;
 }
 
 
 /* Countdown Timer CSS */
 #sft-popup-sale-countdown-timer-container {
  display: flex;
  align-items: center;
  gap: 7px;
  width: 250px;
  /* margin: 0 auto; */
 }
 
 
 .sft-ql-popup-content #sft-popup-sale-countdown-timer-container {
  margin: 0 auto;
 }
 
 
 #sft-popup-sale-countdown-timer-container .sft-sale-popup-countdown-colon {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
 }
 
 
 #sft-popup-sale-countdown-timer-container .sft-sale-popup-number-container {
  flex: 1;
  padding: 5px 10px;
  border-radius: 5px;
  color: #000;
  background: #FFF;
  text-align: center;
 }
 
 
 .notice #sft-popup-sale-countdown-timer-container .sft-sale-popup-number-container {
  color: #000;
  background-color: #FFF;
 }
 
 
 #sft-popup-sale-countdown-timer-container .sft-sale-popup-number-container .time {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 4px;
 }
 
 
 #sft-popup-sale-countdown-timer-container .sft-sale-popup-number-container .sft-sale-popup-countdown-text {
  font-size: 10px;
 }
 
 