#rankology_stats_editor_meta_box,
#rankology-stats-browsers-widget,
#rankology-stats-countries-widget,
#rankology-stats-hitsmap-widget,
#rankology-stats-hits-widget,
#rankology-stats-pages-widget,
#rankology-stats-recent-widget,
#rankology-stats-referring-widget,
#rankology-stats-search-widget,
#rankology-stats-summary-widget,
#rankology-stats-words-widget,
#rankology-stats-top-visitors-widget,
#rkns_hits_postbox,
#rkns_top_visitors_postbox,
#rkns_search_postbox,
#rkns_words_postbox,
#rkns_recent_postbox,
#rkns_map_postbox,
#rkns_pages_postbox,
#rkns_summary_postbox,
#rkns_browsers_postbox,
#rkns_referring_postbox,
#rankology-stats-comparison-widget,
#rkns_countries_postbox,
#rkns_pages_postbox,
#rankology-stats-models-widget,
#rankology-stats-platforms-widget,
#rankology-stats-quickstats-widget,
#rankology-stats-devices-widget,
#rankology-stats-useronline-widget,
.rkns-wrap {

  a {
    color: $primary-color;
    text-decoration: none;

    &:hover {
      color: $dark-color;
    }

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
}
