#rankology_stats_editor_meta_box,
#rankology-stats-browsers-widget,
#rankology-stats-countries-widget,
#rankology-stats-hitsmap-widget,
#rankology-stats-hits-widget,
#rankology-stats-pages-widget,
#rankology-stats-recent-widget,
#rankology-stats-referring-widget,
#rankology-stats-search-widget,
#rankology-stats-summary-widget,
#rankology-stats-words-widget,
#rankology-stats-top-visitors-widget,
#rkns_hits_postbox,
#rkns_top_visitors_postbox,
#rkns_search_postbox,
#rkns_words_postbox,
#rkns_recent_postbox,
#rkns_map_postbox,
#rkns_pages_postbox,
#rkns_summary_postbox,
#rkns_browsers_postbox,
#rkns_referring_postbox,
#rkns_countries_postbox,
#rkns_pages_postbox,
#rankology-stats-models-widget,
#rankology-stats-platforms-widget,
#rankology-stats-quickstats-widget,
#rankology-stats-devices-widget,
#rankology-stats-useronline-widget,
.rkns-wrap {
  table {
    border-collapse: collapse;

    thead {

      tr th {
        padding: 8px 0 8px 40px;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        border-bottom: 1px solid $light-secondary-color;
        color: $low-color;
        text-align: left;

        &:first-child {
          padding-left: 16px;

          @media screen and (min-width: 1300px) {
            padding-left: 32px;
          }
        }


        &:last-child {
          padding-right: 16px;

          @media screen and (min-width: 768px) {
            padding-right: 32px;
          }
        }
      }
    }

    tbody {
      tr th {
        padding: 14px 0 14px 40px;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: $low-color;
        text-align: left;

        &:first-child {
          padding-left: 16px;

          @media screen and (min-width: 1300px) {
            padding-left: 32px;
          }
        }


        &:last-child {
          padding-right: 16px;

          @media screen and (min-width: 768px) {
            padding-right: 32px;
          }
        }
      }

      tr td {
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;
        color: $dark-color;
        border: none;

        &:first-child {
          padding-left: 16px;

          @media screen and (min-width: 1300px) {
            padding-left: 32px;
          }
        }


        &:last-child {
          padding-right: 16px;

          @media screen and (min-width: 768px) {
            padding-right: 32px;
          }
        }

        a, a span {
          font-weight: 400;
          font-size: 13px;
          line-height: 15px;
          color: $dark-color;
          display: inline-block !important;

          &:hover {
            color: $primary-color;
          }
        }
      }

      tr:nth-child(even) {
        th, td {
          background-color: $light-tertiary-color;
        }
      }
    }
  }
}

.rtl {
  #rankology_stats_editor_meta_box,
  #rankology-stats-browsers-widget,
  #rankology-stats-countries-widget,
  #rankology-stats-hitsmap-widget,
  #rankology-stats-hits-widget,
  #rankology-stats-pages-widget,
  #rankology-stats-recent-widget,
  #rankology-stats-referring-widget,
  #rankology-stats-search-widget,
  #rankology-stats-summary-widget,
  #rankology-stats-words-widget,
  #rankology-stats-top-visitors-widget,
  #rkns_hits_postbox,
  #rkns_top_visitors_postbox,
  #rkns_search_postbox,
  #rkns_words_postbox,
  #rkns_recent_postbox,
  #rkns_map_postbox,
  #rkns_pages_postbox,
  #rkns_summary_postbox,
  #rkns_browsers_postbox,
  #rkns_referring_postbox,
  #rkns_countries_postbox,
  #rkns_pages_postbox,
  #rankology-stats-models-widget,
  #rankology-stats-platforms-widget,
  #rankology-stats-quickstats-widget,
  #rankology-stats-devices-widget,
  #rankology-stats-useronline-widget,
  .rkns-wrap {
    table {
      border-collapse: collapse;

      tr th, tr td {
        padding: 14px 40px 14px 0 !important;
        text-align: right;

        &:last-child {
          padding: 14px 40px 14px 40px !important;
        }
      }
    }
  }
}