#woocommerce-product-data ul.product_data_tabs.wc-tabs li.documents_tab a:before {
  font-family: dashicons;
  content: "\f318";
}

/* Because there is no suitable general class for tables */
.documents-tab-woocommerce-documents {
  width: 100%;
  border-collapse: collapse;
}
.documents-tab-woocommerce-documents tbody td {
  border-bottom: 1px solid #e5e5e5;
  padding: .3em .6em;
  vertical-align: middle;
}
.documents-tab-woocommerce-documents tbody tr:nth-child(odd) {
  background: #fcfcfc;
}
.documents-tab-woocommerce-documents tbody td:first-child {
  width: 64px;
}
.documents-tab-woocommerce-documents tbody td:last-child {
  width: 120px;
}
.documents-tab-woocommerce-documents tbody td img {
  max-width: 48px;
  height: 48px;
  width: auto;
  text-align: center;
  cursor: move;
}
.documents-tab-woocommerce-documents tbody td input {
  width: 100% !important;
}
.documents-tab-woocommerce-documents tbody td .remove {
  color: #f00;
  width: 16px;
  height: 16px;
  overflow: hidden;
}
.documents-tab-woocommerce-documents tbody td .remove:before {
  content: 'x';
  width: 16px;
  line-height: 16px;
  text-align: center;
  display: inline-block;
  height: 16px;
  font-size: 16px;
}
.documents-tab-woocommerce-documents tbody td:last-child a {
  display: none;
}
.documents-tab-woocommerce-documents tbody tr:hover td:last-child a {
  display: inline-block;
  vertical-align: middle;
  padding-right: .6em;
}
.documents-tab-woocommerce-documents tbody tr.ui-sortable-helper {
  box-shadow: 0 0 32px rgba(0,0,0, .5);
  background: #fff;
  outline: 1px solid #ccc;
}
