.tektonic-file-upload .full {
  float:left;
  width: 100%;
}

.tektonic-file-upload .tleft {
  text-align: left;
}

.tektonic-file-upload #upload-file-area {
  width:auto;
  margin:0 auto;
}

.tektonic-file-upload #upload-file-area #tektonic_file_upload_selectfile {
  display: none;
}

.tektonic-file-upload .ts-border {
  border: 1px solid #ccc!important;
  width: 200px;
}

.tektonic-file-upload .ts-green, .tektonic-file-upload .ts-hover-green:hover {
  color: #fff!important;
  background-color: #4CAF50!important;
}

.tektonic-file-upload .red {
  color: #ff0000;
}

.tektonic-file-upload .green {
  color: #00ff00;
}

.tektonic-file-upload .black {
  color: #000000;
}

.tektonic-file-upload .delete-icon {
  margin: 0;
  position: absolute;
  top: 47%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.tektonic-file-upload .delete-file {
  margin: 19px 10px 0px 0px;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
}

.tektonic-file-upload #ts-progress-label {
  min-width: 50px;
}

.tektonic-file-upload #tektonic_file_upload_status_notification {
  position: static;
}

.tektonic-file-upload #tsBar {
  height: 30px;
}

.tektonic-file-upload .ts-center {
	text-align: center;
    font-size: 17px;
}

.tektonic-file-upload .rel-position {
  position: relative;
}

.tektonic-file-upload .ts-clear-both {
  clear: both;
}

.tektonic-file-upload .ml-5 {
  margin-left: 5px;
}

.tektonic-file-upload .mr-5 {
  margin-right: 5px;
}

.tektonic-file-upload .ml-20 {
  margin-left: 20px;
}

.tektonic-file-upload .mt-10 {
  margin-top: 10px;
}

.tektonic-file-upload .pleft {
  float: left;
}

.tektonic-file-upload .pright {
  float: right;
}
