/*
admin.css for product category widget
*/
/* Back End */
.pcw-admin-content{
    background-color: #ffffff;
    padding: 20px;
    box-sizing: border-box;
    margin: 20px 20px 0 0;
}
.pcw-admin-content .note h3{
    color: red;
    font-style: italic;
}
.pcw-admin-content .note ul.plugins{
    margin-left: 25px; 
}
.pcw-admin-content .note ul.plugins li{
    font-size: 16px;
    text-decoration: underline;
    font-style: italic;
    list-style: decimal;
}
.pcw-admin-content > h2{
    font-size: 20px;
}

.pcw-admin-content .right-content img{
    max-width: 100%;
    border: 3px solid #d6d6d6;
    display: block;
    margin-bottom: 40px;
}

.pcw-admin-content .two-ways .tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 15%;
    height: 500px;
    box-sizing: border-box;
}
.pcw-admin-content .two-ways .tab button {
    display: flex;
    background-color: inherit;
    color: black;
    padding: 20px 15px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 16px;
    font-weight: 600;
    align-items: center;
    column-gap: 10px;
}
.pcw-admin-content .two-ways .tab button:hover {
    background-color: #ddd;
}

.pcw-admin-content .two-ways .tab button.active {
    background-color: #ccc;
}
.pcw-admin-content #Second{
    display: none;
}
.pcw-admin-content .two-ways .tabcontent {
    float: left;
    padding: 25px 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    width: 85%;
    border-left: none;
    height: 500px;
    overflow-y: auto;
}
.pcw-admin-content .two-ways .tabcontent h3{
    font-size: 16px;
    margin: 0;
}
.pcw-admin-content .two-ways {
    display: inline-block;
    vertical-align: top;
    width: 100%;
}
.pcw-admin-content .two-ways .right-content li{
    margin-bottom: 15px;
}
.pcw-admin-content .two-ways .right-content span {
    font-size: 16px;
    line-height: normal;
    font-weight: 600;
    margin-bottom: 15px;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    position: relative;
    padding: 7px 20px 10px;
    background-color: #30a3da;
    color: #fff;
}
.pcw-admin-content .two-ways .right-content span::after {
    right: 0;
    border: solid 8px transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-right-color: #ffffff;
    top: 50%;
    margin-top: -8px;
}
.pcw-admin-content .two-ways .right-content .pre {
    display: block;
    padding: 15px 35px;
    font-size: 14px;
    line-height: 30px;
    color: #333;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: left;
    word-wrap: normal;
    white-space: normal;
    margin-bottom: 15px;
    letter-spacing: 0.5px;
    position: relative;
}
.pcw-admin-content .atts li{
    font-size: 16px;
}

/* About me css */
.pcw-admin-content-about{
    padding: 10px 20px;
}
.pcw-admin-content-about h1{
    font-size: 3em;
    line-height: 1;
    padding-bottom: 10px;
    color: #32373c;
    font-weight: 400;
}
.pcw-admin-content-about .admin-about-text p{
    color: #555d66;
    font-weight: 400;
    line-height: 1.6;
    font-size: 18px;
}
.pcw-admin-content-about .admin-about-text{
    float: left;
    width: 60%;
}
.pcw-admin-content-about .admin-about-logo{
    overflow: hidden;
    margin: 26px 0 0;
    padding-left: 3%;
    box-sizing: border-box;
}
.pcw-admin-content-about .admin-about-wrap {
    display: inline-block;
    vertical-align: top;
    width: 100%;
}
.pcw-admin-content-about .admin-about-wrap h2 {
    margin: 30px 0 .3em;
    font-size: 2.7em;
    line-height: 1.3;
    font-weight: 300;
    text-align: left;
}
.pcw-admin-content-about .admin-about-wrap span {
    font-size: 16px;
    line-height: normal;
    font-weight: 600;
    margin-bottom: 15px;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    position: relative;
    padding: 7px 20px 10px;
    background-color: #30a3da;
    color: #fff;
}
.pcw-admin-content-about .admin-about-wrap span::after {
    right: 0;
    border: solid 8px transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-right-color: #f1f1f1;
    top: 50%;
    margin-top: -8px;
}
.pcw-admin-content-about .compatible-editor {
    display: flex;
    align-items: center;
    gap: 70px;
}
.pcw-admin-content-about .compatible-editor .editor-block{
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;
    text-align: center;
    position: relative;
}
.pcw-admin-content-about .compatible-editor .editor-block p {
    font-size: 16px;
    font-weight: 600;
    border-bottom: 3px solid #777777;
    padding: 0 0 20px;
    border-radius: 20px;
}
.pcw-admin-content-about .compatible-editor .editor-block::before, .pcw-admin-content-about .compatible-editor .editor-block::after {
    content: '';
    background: #000000;
    position: absolute;
    width: 40px;
    height: 8px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    left: 230px;
}
.pcw-admin-content-about .compatible-editor .editor-block::before {
    top: 10px;
}
.pcw-admin-content-about .compatible-editor .editor-block::after {
    top: -20px;
}
.pcw-admin-content-about .admin-about-wrap iframe {
    margin-top: 20px;
    background-color: #ffffff;
    /*padding: 30px;*/
    border-radius: 5px;
    /*box-shadow: 3px 3px 10px 1px #777 inset;*/
}
.pcw-admin-content-about .pcw-videos-container {
    display: grid;
    grid-template-columns: 500px 500px;
    column-gap: 30px;
}
.pcw-admin-content .right-content .icon {
    height: 30px;
    width: 30px;
    margin: 0;
    border: 0;
    position: absolute;
    top: 0;
    left: 0;
    background: #dbdbdb;
    padding: 5px;
    cursor: pointer;
    box-sizing: border-box;
}
.pcw-admin-content .img7{
    width: 50%;
    margin-right: 20px;
    float: left;
}
.pcw-admin-content .img8{
    width: 45%
}
.pcw-admin-content .copied {
    background: #000000;
    color: #fff;
    padding: 8px 15px 10px;
    border-radius: 5px;
}

@media screen and (max-width: 1180px) {
    .pcw-admin-content-about .pcw-videos-container {
        display: block;
    }
}
