div.goosharethis_container
{
	display:block;
	border-style: none;
	clear: both;
	padding: 15px 0 50px 0;
	margin:50px 50px 0 0; 
}

div.goosh_chainH_container
{
	padding: 0 0 0 0;
	margin: 0 5px 0 0;
	width:35px;
	height:35px;
	float: right;
	display: inline;
	overflow: hidden;
	white-space: nowrap;
}


span.goosharethis_span
{
	padding: 0 0 0 0;
	margin: 0 5px 0 0;
	cursor: pointer;
	background: #ffffff no-repeat right top;
	width:35px;
	height:35px;
	float: right;
	display: inline;
}

span.goosharethis_cache_img
{
	display:none;
	width:0;
	height:0;
}

span.chainH
{
	cursor: pointer;
	background: #ffffff no-repeat right top;
	width:35px;
	height:35px;
	display: inline-block;
}

span.goosh_SquareShadow
{
	padding: 0 0 0 0;
	margin: 0 5px 0 0;
	cursor: pointer;
	background: #ffffff no-repeat right top;
	width:35px;
	height:35px;
	float: right;
	display: inline;
	
	box-shadow:0 0 0 rgba(0, 0, 0, 0.7);
	-ms-transition: all .10s linear;
    -moz-transition: all .10s linear;
    -webkit-transition: all .10s linear;
    -o-transition: all .10s linear;
	transition: box-shadow .10s linear;
}

span.goosh_SquareShadow:hover
{
	box-shadow:0 0 7px rgba(0, 0, 0, 0.7); 
}

div.goosh_SquareTransparent
{
	padding: 0 0 0 0;
	margin: 0 5px 0 0;
	cursor: pointer;
	background: #ffffff no-repeat right top;
	width:35px;
	height:35px;
	float: right;
	display: block;
}

span.goosh_transparent
{
	display: inline-block;
	height: 100%;
	width: 100%;
	background: #fff;
	
	opacity: 0.4;
    filter: alpha(opacity=40); 
	
	-ms-filter: all .25s linear;
    -moz-transition: all .25s linear;
    -webkit-transition: all .25s linear;
    -o-transition: all .25s linear;
	transition: opacity .25s linear;
}

span.goosh_transparent:hover
{
	opacity: 0.0;
    filter: alpha(opacity=0); 
}
