
.adqs-directory-type-agent{
	margin-bottom:40px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.adqs-agent-all {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px !important;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: inherit !important;
    justify-content: inherit !important;
}
.adqs-agent-wrapper {
	-ms-flex-preferred-size: 23.5%;
	flex-basis: 23.5%;
	border-radius: 8px;
  	overflow: hidden;
	background: #FFFFFF;
	-webkit-box-shadow: 0px 30px 60px rgba(0, 33, 80, 0.03);
	        box-shadow: 0px 30px 60px rgba(0, 33, 80, 0.03);

}
.adqs-agent-wrapper .wrapper-img {
	height: 258px;
	width: 100%;
	position: relative;
	overflow: hidden;
	margin: 0 auto;
}
.adqs-agents-area .adqs-agent-wrapper .wrapper-img{min-width: inherit !important ;}
.adqs-agent-wrapper .wrapper-img img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}
.adqs-agent-wrapper .wrapper-img .img-overlay {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(132, 74, 255, 0.3);
	opacity: 0;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.adqs-agent-wrapper .wrapper-img .social-icons {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 30px;
	background: #ffffff;
	padding: 20px 30px;
	border-radius: 8px;
	position: absolute;
	left: 50%;
	-webkit-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.adqs-agent-wrapper .wrapper-img .social-icons .adqs-icon span {
	width: 24px;
	display: inline-block;
}
.adqs-agent-wrapper .wrapper-img .social-icons .adqs-icon svg {
	color: #031a26;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.adqs-agent-wrapper .wrapper-img .social-icons .adqs-icon:hover svg {
	color: #ff6725;
}
.adqs-agent-wrapper .wrapper-img:hover .img-overlay {
	opacity: 1;
}
.adqs-agent-wrapper .wrapper-img:hover .social-icons {
	-webkit-transform: translate(-50%, -97px);
	-ms-transform: translate(-50%, -97px);
	transform: translate(-50%, -97px);
}
.adqs-agent-wrapper .wrapper-content {
	padding-top: 12px;
	padding-left: 25px;
	padding-bottom: 25px;
}
.adqs-agent-wrapper .wrapper-content .wrapper-title a {
	color: #031a26;
}
.adqs-agent-wrapper .wrapper-content .wrapper-title a:hover {
	color: #0062ff;
}
.adqs-agent-wrapper .wrapper-content .wrapper-title {
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 25px;
	margin-bottom: 5px;
	text-transform: capitalize;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.adqs-agent-wrapper .wrapper-content .adqs-author_verify{height: 21px;margin-left: 6px;}
.adqs-agent-wrapper .wrapper-content .wrapper-detail {
	font-size: 16px;
	font-weight: 400;
	color: #646262;
}
.adqs-agent-wrapper .wrapper-content .wrapper-title:hover {
	color: #ff6725;
}
.adqs-profile-reviews-item {
	margin-bottom: 0;
	margin-top: 10px;
}
.adqs-profile-reviews-item li {
	display: inline-block;
	font-size: 16px;
	font-weight: 400;
	color: #606C7D;
	line-height: 18px;
}
.adqs-profile-reviews-item li span.adqs-primary-color {
	color: #2B69FA;
	font-weight: 600;
}

.adqs-profile-reviews-item li span i {
	color: #f2c94c;
}
.adqs-profile-reviews-item li + li {
	border-left: 1px solid #D8E3FF;
	padding-left: 8px;
	margin-left: 5px;
}
.adqs-profile-reviews-location {
	font-size: 14px;
	line-height: 21px;
	color: #606C7D;
	margin-top: 5px;
}
.adqs-profile-reviews-location > span{
	height: 18px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
}

@media screen and (max-width: 1024px) {
	.adqs-agent-wrapper {
		-ms-flex-preferred-size: 23%;
		flex-basis: 23%;
	}

}
@media screen and (max-width: 768px) {
	.adqs-agent-wrapper {
		-ms-flex-preferred-size: 31%;
		flex-basis:31%;
	}
	.adqs-directory-type-agent{display: block;}
	.adqs-directory-type-agent .qsd-prodcut-grid-right-top-ber-right {
		margin-top: 30px;
	}
	.adqs-directory-type-agent .qsd-catagory-list-btn > li:not(.has-next-all) a{display: block;}

}
@media screen and (max-width: 575px) {
	.adqs-agent-wrapper {
		-ms-flex-preferred-size: 48%;
		flex-basis:48%;
	}

}
@media screen and (max-width: 425px) {
	.adqs-agent-wrapper {
		-ms-flex-preferred-size:100%;
		flex-basis:100%;
	}

}

