.feedify-one-step-main input, .feedify-one-step-main button {
  height: 35px;
  margin: 0;
  padding: 6px 12px;
  border-radius: 2px;
  font-family: inherit;
  font-size: 100%;
  color: inherit; }
  input[disabled], button[disabled] {
    background-color: #eee; }

.feedify-one-step-main input, .feedify-one-step-main select {
  border: 1px solid #CCC;
  width: 250px; }

::-webkit-input-placeholder {
  color: #BBB; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #BBB;
  opacity: 1; }

:-ms-input-placeholder {
  color: #BBB; }

.feedify-one-step-main button {
  color: #FFF;
  background-color: #428BCA;
  border: 1px solid #357EBD; }
.feedify-one-step-main button:hover {
    background-color: #3276B1;
    border-color: #285E8E;
    cursor: pointer; }

#result {
  margin-bottom: 100px; }

.feedify-one-step-main span.input-group-addon {
    background: #435b60;
    display: inline-block;
    padding: 5px 8px;
    vertical-align: bottom;
    height: 35px;
    box-sizing: border-box;
    line-height: 36px;
    border-radius: 3px 0 0 3px;
}

.feedify-one-step-main .intl-tel-input.allow-dropdown.separate-dial-code {
    width: 286px;
    margin: 0 auto;
}

.feedify-one-step-main input.btn.btn-signup {
    width: 286px;
}

.feedify-one-step-main .form-group {
    margin-bottom: 5%;
}

.feedify-one-step-main #signup-form .help-block {
    text-align: left;
    color: #b94848;
}
.feedify-one-step-main #signup-form .help-block {
    text-align: left;
    color: red;
    font-size: 13px;
}
.feedify-one-step-main input.btn.btn-signup {
    width: 286px;
    background: #cd6969;
    border: #cd6969;
    color: #fff;
}
.feedify-one-step-main .disabled {    
    background: #b7b4b4 !important;
    border: #cd6969 !important;
    color: #1e1717 !important;
}