.copy_button{
	width: auto;
	height: auto;
	font-size: 12px;
}

.iawgf-tooltip {
	position: relative;
	display: inline-block;
}

.iawgf-tooltip .iawgf-tooltiptext {
	visibility: hidden;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px;
	position: absolute;
	z-index: 1;
	bottom: 150%;
	left: 50%;
	margin-left: -75px;
	opacity: 0;
	transition: opacity 0.3s;
}

.iawgf-tooltip .iawgf-tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

.iawgf-tooltip:hover .iawgf-tooltiptext {
	visibility: visible;
	opacity: 1;
}

.nav_bar {
	font-size: 1.25em;
}

.nav_bar .active-link {
	color: #4fbd51;
}

.warning-paragraph {
	font-size:1.5rem;
}