.ir{display:block;text-indent:-999em;overflow:hidden;background-repeat:no-repeat;text-align:left;direction:ltr;font-size:0;line-height:0}
.clearfix:before,.clearfix:after{content:"\0020";display:block;height:0;visibility:hidden} 
.clearfix:after{clear:both}
.clearfix{zoom:1}
.bl{padding:0;margin:0;list-style:none;display:block;position:relative}
.bl > li{display:block;margin:0;padding:0;float:none}
.cvmh_postbox{display:block}
.cvmh_postbox .inside{margin:0;padding:0}
.cvmh_postbox.no_box{border:0 none;background:transparent;box-shadow:none}
.cvmh_postbox.no_box > h3,
.cvmh_postbox.no_box > .handlediv{display:none}
.cvmh_postbox.no_box.closed .inside{display:block}
.cvmh_postbox .field{position:relative;color:#333333;}
.cvmh_postbox > .inside > .field{padding:15px 10px;border-top:#e8e8e8 solid 1px}
.cvmh_postbox > .inside > .field:first-child{border-top:none}
.cvmh_postbox.no_box > .inside > .field{border-top:0 none;padding-left:0;padding-right:0}
.cvmh_postbox .field.error{border:#CC0000 solid 1px !important;background:#FFEBE8 !important}
.cvmh_postbox .field .cvmh-error-message{display:none;position:relative;background:#CC0000;color:#fff;text-shadow:none;border-radius:3px;padding:5px 10px;font-size:12px;line-height:14px;margin:5px 0 0}
.cvmh_postbox .field .cvmh-error-message .bit{width:0;height:0;border:transparent 5px solid;border-bottom-color:#CC0000;display:block;position:absolute;top:-10px;left:10px}
.cvmh_postbox .field.error .cvmh-error-message{display:inline-block}
.cvmh_postbox .field.error label.field_label{color:#CC0000}
.cvmh_postbox.no_box > .inside > .field.error{padding-left:10px;padding-right:10px}
.cvmh_postbox > .inside > .field.error + .field.error{border-top:0 none !important}
.cvmh_postbox p.label{font-size:12px;line-height:1.5em;margin:0 0 1em;padding:0;color:#666666;text-shadow:0 1px 0 #FFFFFF}
.cvmh_postbox p.label label{color:#333333;font-size:13px;line-height:1.5em;font-weight:bold;padding:0;margin:0 0 3px;display:block;vertical-align:text-bottom}
.cvmh_postbox .field.required label span.required{color:#CC0000}
.cvmh_postbox label.field_label:first-child{padding-top:0}
.cvmh_postbox .field_type-message p.label{display:none !important}
.cvmh_postbox .field input[type="text"]{width:100%;padding:5px;resize:none;margin:0}
.cvmh-image-uploader{position:relative}
.cvmh-image-uploader .has-image{display:none;float:left;position:relative;max-width:100%}
.cvmh-image-uploader .no-image{display:block;float:left;position:relative;max-width:100%}
.cvmh-image-uploader.active .has-image{display:block}
.cvmh-image-uploader.active .no-image{display:none}
.cvmh-image-uploader img{box-shadow:0 0 2px rgba(0,0,0,0.2);width:100%;height:auto;display:block;min-width:30px;min-height:30px;background:#f1f1f1;margin:0 0 0 2px}
.cvmh-image-uploader .no-image p{display:block;margin:0 !important}
.cvmh-image-uploader input.button{width:auto}
.cvmh-image-uploader .hover{position:absolute;top:-11px;right:-11px;-webkit-transition:opacity 0.25s 0s ease-in-out,visibility 0s linear 0.25s;-moz-transition:opacity 0.25s 0s ease-in-out,visibility 0s linear 0.25s;-o-transition:opacity 0.25s 0s ease-in-out,visibility 0s linear 0.25s;transition:opacity 0.25s 0s ease-in-out,visibility 0s linear 0.25s;visibility:hidden;opacity:0}
.cvmh-image-uploader .has-image:hover .hover{-webkit-transition-delay:0s;-moz-transition-delay:0s;-o-transition-delay:0s;transition-delay:0s;visibility:visible;opacity:1}
.cvmh-image-uploader .hover ul{display:block;margin:0;padding:0}
.cvmh-image-uploader .hover ul li{margin:0 0 5px 0}
.cvmh-button-delete,
.cvmh-field-delete{width:22px;height:22px;border-radius:11px;background:url(../img/sprite.png) 0 0 no-repeat #fff;display:block;box-shadow:0 0 3px rgba(0,0,0,0.3);-webkit-transition:none;-moz-transition:none;-o-transition:none;transition:none}
.cvmh-button-delete:hover,
.cvmh-field-delete:hover{background-position:0 -22px}
.cvmh-field-delete{display:inline-block;vertical-align:middle}
.to-clone{display:none}
.ui-sortable tr:hover{cursor:move}
.ui-sortable tr.alternate{background-color:#F9F9F9}
.ui-sortable tr.ui-sortable-helper{background-color:#F9F9F9;border-top:1px solid #DFDFDF}
.cvmh-slideshow-welcome-panel{padding:20px}
@media screen and (-webkit-min-device-pixel-ratio:0){
    .cvmh-image-uploader img{width:auto;max-width:100%}
}
