/* ~~~~~~~~~~~~ */
/* Facebook css */
/* ~~~~~~~~~~~~ */
body {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #000000;
    direction: ltr;
    font-family: georgia,times new roman,serif;
    font-size: 14px;
    margin: 0;
    overflow-y: scroll;
    padding: 0;
    text-align: left;
    unicode-bidi: embed;
}
h1, h2, h3, h4, h5, h6 {
		font-family: Tahoma,Geneva,sans-serif;
    color: #000000;
    font-size: 19px;
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 21px;
    color: #ff0000;
    text-align: center;
    margin: 10px 0px;
}
h2 {
    font-size: 21px;
    color: #0000;
    text-align: center;
    margin: 10px 0px;
}
h4, h5 {
    font-size: 17px;
}
h6 {
    font-size: 15px;
}
p {
    font-family: georgia,times new roman,serif;
    font-size: 14px;
    margin: 1em 0;
    text-align: left;
}
a {
    color: #3B5998;
    cursor: pointer;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
img {
    border: 0 none;
}
select {
    border: 1px solid #BDC7D8;
    font-family: georgia,times new roman,serif;
    font-size: 12px;
    padding: 2px;
}
td, td.label {
    font-size: 12px;
    text-align: left;
}
dd {
    color: #000000;
}
dt {
    color: #777777;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
abbr {
    border-bottom: medium none;
}
form {
    margin: 0;
    padding: 0;
}
label {
    color: #666666;
    cursor: pointer;
    font-weight: bold;
    vertical-align: middle;
}
label input {
    font-weight: normal;
}
textarea {
    border: 1px solid #BDC7D8;
    font-family: georgia,times new roman,serif;
    font-size: 12px;
    padding: 3px;
}
hr {
    background: none repeat scroll 0 0 #D9D9D9;
    border-width: 0;
    color: #D9D9D9;
    height: 1px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Fanpage Connect layout css */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.full-width {
	clear: both;
	width: 100%;
}

#fpc-header h1,
#fpc-header h2,
#fpc-header h3,
#fpc-header h4,
#fpc-header h5,
#fpc-header h6 {
	padding: 8px 10px 0px 10px;
	margin: 0px;
	color: #ffffff;
}

#fpc-content ul {
	list-style-type: none;
	margin: 0px;
	padding: 10px 8px;
}

#fpc-content ul li {
	background: url('red-check.png') no-repeat left top;
	padding-left: 36px;
	padding-top: 6px;
	padding-bottom: 8px;
	line-height: 22px;
}

#fpc-content p {}

#fpc-wrapper {
	width: 810px;
	padding: 0px;
	margin: 0 auto;
}
#fpc-header-area {
	background: url('header.png') repeat-x center top;
	height:110px;
}
#fpc-header-area .fpc-page {}
#fpc-header {
	color: #ffffff;
	text-align: center;
	padding-top: 10px;
}
#fpc-header h1, #fpc-header h2 {
		font-family: Tahoma,Geneva,sans-serif;
		line-height: 24px;
		color: #ffffff;
}
#fpc-content-area {
	background: url('content.png') repeat-x center top;
}
#fpc-content-area .fpc-page {}
#fpc-content {
	padding: 8px;
}
#fpc-footer-area {
	background: url('footer.png') repeat-x center top;
	margin-top: -12px;
	height: 91px;
}
#fpc-footer-area .fpc-page {}
#fpc-footer {
	color: #ffffff;
	padding: 32px 8px 8px 8px;
	font-size: 11px;
	margin: 0 auto;
	text-align: center;
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif !important;
}
#fpc-footer a,
#fpc-footer a:hover,
#fpc-footer a:link,
#fpc-footer a:visited,
#fpc-footer a:active {
	color: #ffffff;
}
#fpc-footer-area .fpc-page #fpc-linkluv {
	margin: 8px auto !important;
	text-align: center !important;
	font-size: 10px !important;
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif !important;
}