.active-tab {
    background-color: #f0f0f0;
    font-weight: bold;
    border-bottom: 2px solid #007cba;
}
.cfcblist{
    margin-top:10px;
}
.mb-10{
    margin-bottom:10px;
}
label.components-base-control__label {
    font-weight: bold;
}
.bold{
    font-weight: bold;
}
.components-text-control__input{
    font-size: 14px !important;
}