.asfgf_wrap .switch {
    display: inline-block;
    width: 36px;
    height: 20px;
    background-color: #ccc;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
    margin-left: 5px;
}

.asfgf_wrap  .switch.active {
    background-color: #2271b1; 
}

.asfgf_wrap .switch .toggle {
    position: absolute;
    width: 17px;
    height: 17px;
    background-color: white;
    border-radius: 50%;
    top: 1px;
    left: 1px;
    transition: transform 0.3s;
}

.asfgf_wrap .switch.disabled {
    opacity: 0.5; 
    pointer-events: none; 
}

.asfgf_wrap .switch.active .toggle {
    transform: translateX(17px);
}
.asfgf_wrap  .toggleSwitch_container{
    display: flex;
    align-items: center;
}

.asfgf_wrap  .asfgf_form_id_box {
    position: relative;
}

.asfgf_wrap .bubble-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
    margin-bottom: 5px;
}

.asfgf_wrap .bubble {
    background-color: #e0e0e0; 
    border: 1px solid #b0b0b0; 
    border-radius: 20px;
    padding: 5px 12px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s; 
}

.asfgf_wrap .bubble:hover {
    background-color: #d0d0d0; 
}

.asfgf_wrap .bubble span {
    margin-right: 8px;
    color: #333;
    font-weight: 500; 
}

.asfgf_wrap .remove-bubble-button {
    background: none;
    border: none;
    color: #ff0000;
    font-size: 16px; 
    cursor: pointer;
    padding: 0;
    transition: color 0.2s; 
}

.asfgf_wrap .remove-bubble-button:hover {
    color: #cc0000; 
}

.asfgf_wrap .notice{
    margin: 5px 15px 2px 0px;
}



.asfgf_wrap .asfgf_sction_heading span{
    font-weight: 500
}

.asfgf_wrap .asfgf_form_id_box{
    margin-block: 20px;
}
.asfgf_wrap #form-id-input{
margin-top: 8px;
}

.asfgf_wrap .container{
    display: flex;
    flex-wrap: wrap;
    gap:15px;
}

.asfgf_wrap .container-child{
border: 1px solid #d2d2d2;
 background-color: #fff;
  color: #000; padding: 10px;
  width: 47%;
}


.asfgf_wrap .container .button-style {
    height: 30px;
    background-color: #2271b1;
    color: white;  /* White text */
    border: none;  /* Remove border */
    border-radius: 5px;  /* Optional: rounded corners */
    padding: 0 15px;  /* Horizontal padding */
    cursor: pointer;  /* Show pointer cursor on hover */
    font-size: 14px;  /* Optional: text size */
    display: inline-flex;  /* Align text and button properly */
    align-items: center;  /* Center text vertically */
    justify-content: center;  /* Center text horizontally */
  }
  
  .asfgf_wrap .container .button-style:hover {
    background-color: #1a5e8b;  /* Slightly darker blue when hovered */
  }

  .asfgf-notice{
    margin: 5px 0px 2px;
  }