:root {
  --primary-color: #303141 !important;
  --secondary-color: #d1d1d1 !important;
  --tertiary-color: #c7c5ce !important;
  --input-color: #3e3e45 !important;
  --input-text: white !important;
  --night-color: #1f1e23;
  --border-color: #33333c;
}