/*help page*/
h2.nav-tab-wrapper { margin: 22px 0 0 0; }
#ganxy-help-sections { padding: 22px; background: #fff; border: 1px solid #ccc; border-top: 0px; }
#ganxy-help-sections section { display: none; overflow:hidden;clear:both;}
#ganxy-help-sections section:first-child { display: block; }
.no-js h2.nav-tab-wrapper { display: none; }
.no-js #ganxy-help-sections { border-top: 1px solid #ccc; margin-top: 22px; }
.no-js #ganxy-help-sections section { border-top: 1px dashed #aaa; margin-top: 22px; padding-top: 22px; }
.no-js #ganxy-help-sections section:first-child { margin: 0px; padding: 0px; border: 0px; }
#ganxy-help-sections ul, #ganxy-help-sections ol { margin-left: 4em; }
#ganxy-help-sections ul li { list-style-type: disc; }
.ganxy-screenshots .screen-caption img { max-width: 100%; border: 1px solid #ccc; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.ganxy-screenshots { width: 30%; float: right; margin-left: 2%; border: 1px solid #E1E0E0; padding: 1%; background-color: #F9F9F9; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.ganxy-screenshots .screen-caption { text-align: center; font-style: italic; font-size: .95em; color: #555; margin-bottom: 20px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.screen-caption a { display: block; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
