.flb-recently-added-wrapper ul {
    width: 100%;
}

li.no-image > div.listing-image {
    background-image: url(../img/no-picture.png);

}

.flb-recently-added-wrapper ul li {
    border: none !important;
}

.flb-recently-added-wrapper ul li {
    display: inline-block;
}

ul.listing-fields {
    margin: 0;
    padding-top: 10px !important;
    padding-bottom: 0 !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.listing-fields li {
    width: 100%;
    padding: 0 !important;
}

.listing-fields li:first-child {
    color: #0FBE7C;
}

li.listing-element {
    padding-top: 0 !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    padding-bottom: 15px !important;
    vertical-align: top;
}

li.flb_price {
    font-size: 1.286em;
    font-weight: bold;
}

.listing-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: #f3f3f3;
}

.flb-recently-added-wrapper .flb_title {
    margin-bottom: 10px;
}
.flb-recently-added-wrapper > ul {
    margin: 0 -15px -15px;
}
