.easyling-language-list {
	display: flex;
	gap: 10px;
	align-items: center;
	margin:0;
	padding:0;
	list-style: none;
}
.easyling-language-list-item:focus,
.easyling-language-list-item:active,
.easyling-language-list-item:hover,
.easyling-language-list-item {
	display: flex;
	gap: 5px;
	align-items: center;
	margin:0;
  padding: 6px;
	list-style: none;
  text-decoration: none;
  color: #2C3338;
  background-color: #ddd;
  border: 1px solid #8C8F94;
  border-radius: 4px;
}
.easyling-language-list-item * {
	pointer-events: none;
}
.easyling-language-list-item.easyling-status-error {
  color: #c00;
  border-color: #c00;
  background-color: #fff;
}
.easyling-language-list-item.easyling-status-warning {
  color: #b28203;
  border-color: #b28203;
  background-color: #fff;
}
.easyling-error {
  color: #c00;
}
.easyling-warning {
  color: #b28203;
}
#EasylingCustomLocationWrapper:not(.active) {
	display: none;
}
#EasylingDebugInfo {
	display: none;
}
#EasylingDebugToggleBtn.active .easyling-show,
#EasylingDebugToggleBtn:not(.active) .easyling-hide {
	display: none;
}
