.print-barcode-order .section-one {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  box-sizing: border-box;
}

.print-barcode-order .section-one .column-row {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  align-items: center;
  justify-content: center;
}

.print-barcode-order .section-one .top-bold-title {
  font-family: IranSans, sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #000000;
  margin: 0;
}

.print-barcode-order .section-two .section-two-left {
  position: relative;
}

.print-barcode-order .section-two .section-two-left .rt-barcode {
  transform: rotate(90deg) !important;
  position: absolute;
  left: -56px;
  bottom: 60px;
}

.print-barcode-order .section-two .column-row {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 10px;
}

/*.print-barcode-order .section-two .column-row .section-two-right {*/
/*  height: 50%;*/
/*}*/

/*.print-barcode-order .section-two .column-row .section-two-left {*/
/*  height: 50%;*/
/*}*/

.print-barcode-order .section-two .section-five-left {
  width: 100%;
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.print-barcode-order .section-two .section-five-left .rt-barcode {
  transform: rotate(90deg) !important;
  position: absolute;
  left: -56px;
  bottom: 130px;
}

.print-barcode-order .section-two .section-five-left .section-five-left-one {
  width: calc(100% - 32px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 5px;
}

.print-barcode-order .detail-order {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #000000;
  border-radius: 5px;
  grid-gap: 10px;
}

.print-barcode-order .detail-order .section-two-right {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3px;
}

.print-barcode-order .show-total {
  width: 100%;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  align-items: flex-end;
  justify-content: center;
}

.print-barcode-order .product-table-two {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 0;
}

.print-barcode-order .product-table-two li {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-family: IranSans, sans-serif;
  font-weight: 400;
  font-size: 8px;
}

.print-barcode-order .product-table-two strong {
  text-align: center;
  padding: 5px 3px;
  background-color: #d2d2d2;
  border-bottom: 1px solid #d2d2d2;
}

.print-barcode-order .product-table-two h6 {
  text-align: center;
  border-bottom: 1px solid #6c6c6c;
  padding: 3px;
}