#satollo-header {
  text-align: left;
  background-color: #f4f4f4;
  padding: 5px;
  padding-left: 15px;
  border-radius: 3px;
  text-transform: uppercase;
}

#satollo-header a {
    margin-right: 15px;
}

.form-table {
    background-color: #fff;
}
.form-table th {
    text-align: right;
    font-weight: bold;
}
p.submit {
    margin-top: 5px;
    padding: 5px;
}
.hints {
    border: 1px solid #aaf;
    background-color: #fafaff;
    padding: 5px;
    margin-top: 10px;
    border-bottom-left-radius: 4px 4px;
    border-bottom-right-radius: 4px 4px;
    border-top-left-radius: 4px 4px;
    border-top-right-radius: 4px 4px;
}
.widefat th {
    text-align: left;
}
