@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=League+Spartan:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.fontstyle {
    font-family: "Poppins", sans-serif;
}
.fontstyle h1 {
    font-size: 30px!important;
    text-transform: uppercase;
    padding: 20px 0px 40px 0px!important;
}
.fontstyle input {
    border-radius: 30px!important;
    padding: 10px 20px 10px 20px!important;
}
.fontstyle select {
    border-radius: 30px!important;
    padding: 10px 30px 10px 20px!important;
}
.fontstyle label {
  box-sizing: border-box;
  background: rgba(217, 217, 217, 0.58);
  border: 1px solid white;
  box-shadow: -1px 3px 11px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  cursor: pointer;
  transition: all 0.5s;
  align-items: center;
  justify-content: center;
  user-select: none;
  padding: 20px;
}
.fontstyle #submit {
    background: #363636 !important;
    border: none;
    color: #FFC500 !important;
    transition: background 0.3s ease, color 0.3s ease; /* Transição suave para o background e a cor do texto */
}
.fontstyle #submit:hover {
    background: #FFC500 !important;
    border: none;
    color: #363636 !important;
}
.imgmenor {
    margin-top: 35px !important;
    padding-bottom: 10px;
}
.rolagem {
    max-width: 300px; /* Ajuste conforme necessário */
    overflow-x: auto; /* Habilita rolagem horizontal */
    white-space: nowrap; /* Garante que o conteúdo fique em linha */
    padding: 10px; /* Margem interna para um layout mais agradável */
}
.rolagem div {
    display: flex;
    gap: 20px;
}
.fontstyle .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}

.fontstyle .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.fontstyle .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 25px;
}

.fontstyle .slider:before {
    position: absolute;
    content: "";
    height: 19px;
    width: 19px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}
input[type=radio] {
    padding: 0px!important;
}

.fontstyle input:checked + .slider {
    background-color: #4caf50;
}

.fontstyle input:checked + .slider:before {
    transform: translateX(25px);
}
.switch {
    border: none!important;
    padding: 0px!important;
}