#axial-order-screenshots {
	display: flex;
	flex-direction: row;
	gap: 8px;
	padding: 12px 0px;
	flex-wrap: wrap;
}
.axial-order-screenshot-image {
	max-width: 200px;
	max-height: 200px;
	border-radius: 8px;
}
.axial-logo-image-title {
	font-weight: bolder;
	font-size: 1.1rem;
	margin-bottom: 8px;
}
