body {
  background: #f6f8fb !important;
}

#wpcontent,
#wpbody-content {
  padding: 0 !important;
}

.wp-person a:focus .gravatar, a:focus, a:focus .media-icon img {
   color: initial;
   box-shadow: none;
   outline: none;
}


.dydo_confirm_dialog {
  position: fixed;
  background: #FFF;
  z-index: 2;
  padding: 15px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 350px;
  margin: auto;
  height: 210px;
}

.dydo_confirm-backdrop {
  font-family: 'Mukta', sans-serif;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0px;
  left: 0px;
  z-index: 2000;
  width: 100vw;
  height: 100vh;
  padding: 10px;
  padding-top: 15vh;
  box-sizing: border-box;
  animation: confirmo-come-up 0.5s forwards ease-in-out;
}

.dydo_confirm-modal {
  width: 550px;
  box-sizing: border-box;
  max-width: 100%;
  background-color: white;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0px 2px 4px #2a2b2d;
  border-radius: 15px;
  animation: confirmo-fade-in 0.5s forwards ease-in-out;
  position: relative;
  padding-top: 30px;
  padding-bottom: 40px;
}

.dydo_confirm-modal button {
  margin: 0 10px;
}

.dydo_confirm-modal .dydo_confirm-label-title {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 12px;
  display: block;
}

.dydo_confirm-modal .dydo_confirm-message  {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #737373;
  margin-bottom: 18px;
}

.dydo_btn-enable-solid {
  background: #1975ff;
  padding: 8px 30px;
  border-radius: 8px;
  color: #FFFFFF;
  border: none;
  font-size: 14px;
  cursor: pointer;
}

.dydo_btn-enable-empty {
  background: #FFFFFF;
  border: 1px solid #1975ff;
  border-radius: 10px;
  padding: 8px 30px;
  font-size: 14px;
  color: #1975ff;
  cursor: pointer;
}

