body.formdesigner { overflow: hidden !important; }
.formdesigner #wpcontent {
    padding: 1px;
}

.fd-label {
    display: block;
    margin-bottom: 7px;
    font-weight: 600;
}
.fd-select {
    padding: 2px;
    line-height: 28px;
    height: 28px;
    vertical-align: middle;
    width: 100%;
}
.fd-button {
    padding: 5px 15px;
    margin-top: 7px;
    width: 100%;
}

.fd-error {
    background: #fdece5;
    color: #ed4a00;
    font-size: 0.95em;
    padding: 10px 15px;
    font-weight: 700;
}
