.oper-welcome-panel {
	position: relative;
	overflow: hidden;
	margin: 16px 0;
	border: 1px solid #ccd0d4;
	box-shadow: 0 1px 1px rgba(0,0,0,.04);
	background: #fff;
	font-size: 13px;
	line-height: 1.7;
	padding:0;
}

.oper-welcome-panel .oper-welcome-panel-content {
	margin-left: 13px;
	max-width: 1500px;
	padding: 23px 10px 0;
}
.oper-welcome-panel .oper-welcome-panel-content .oper-welcome-panel-column-container,
.oper-welcome-panel .oper-welcome-panel-content .oper-welcome-panel-column-container p{
	clear: both;
	position: relative;
	font-size:15px;
	line-height: 1.8em;
}
.oper-welcome-panel .oper-welcome-panel-content .oper-welcome-panel-column-container ol {
	list-style-type: disc;
}
.oper-welcome-panel .oper-welcome-panel-content .oper-text-before-button{
	margin-right:1em;
	line-height: 2.1em;
}

.oper-welcome-panel .oper-top_hint_lines{
	margin:0;
	border-bottom:1px solid #ccd0d4;
	padding: 8px 15px;
}

.oper-welcome-panel h2 {
	margin: 0;
    font-size: 21px;
    font-weight: 400;
    line-height: 1.2;
}

.oper-welcome-panel h3 {
	margin: 0;
	font-weight: 400;
}
a.oper_wizard_nav_bar_link:hover,
a.oper_wizard_nav_bar_link:active,
a.oper_wizard_nav_bar_link{
	text-decoration: none;
	padding: 0 2px;
	font-size: 16px;
	color: #23282d;
}
a.oper_wizard_nav_bar_link span {
	border-bottom: 1px dashed;
}
.nav_bar_link_active {
	font-weight: 600;
}

.oper-top_sub_hint_lines_content {
	padding: 0.35em 0;
}
.oper-top_sub_hint_lines_content a.oper_wizard_nav_bar_link{
	font-size: 13px;
	padding: 0 1.25em;
}