#media-buttons a#FFW_chooseFontButton {
	width: 95px;
	height: 13px;
	padding-bottom: 0;
}

#media-buttons a#FFW_chooseFontButton:hover {
	background-position: 0 -13px !important;
}

#wpfontsforwebbrowser {
	position: fixed;
	top: 46px;
	right: 0;
	padding: 5px 5px 5px 10px;
	border: 1px solid #C6C6C6;
	color: #464646;
	width: 288px;
	height: 80%;
	background: -moz-linear-gradient(center bottom , #D7D7D7, #E4E4E4) repeat scroll 0 0 #E0E0E0;
}

#wpfontsforwebbrowser {
	background-color: #E0E0E0;
}

#wpfontsforwebbrowser a.close_link {
	float: right;
	color: #21759B;
	padding: 9px 6px 3px 3px;
	font-size: 11px;
}

#wpfontsforwebbrowser .loading {
	background: url("../loadinfo.net.gif") repeat scroll 0 0 transparent;
	margin: 50% auto auto;
	height: 50px;
	width: 50px;
}

#wpfontsforwebbrowser .jcarousel-container {
	position: relative;
	padding-left: 21px;
	left: -4px;
	padding-right: 17px;
	height: 84%;
}

#wpfontsforwebbrowser .jcarousel-clip {
	position: relative;
	left: 0;
	height: 100%;
}

#wpfontsforwebbrowser .jcarousel-next {
	position: absolute;
	right: 0;
	color: red;
	height: 100%;
	top: 0;
	z-index: 5;
	width: 17px;
	background: url("../images/forward.png") repeat scroll -29px 0 transparent;
}

#wpfontsforwebbrowser .jcarousel-next-disabled {
	background-position: -2px 0;
	cursor: default;
}

#wpfontsforwebbrowser .jcarousel-prev {
	position: absolute;
	color: red;
	left: 4px;
	width: 17px;
	height: 100%;
	top: 0;
	cursor: pointer;
	z-index: 15;
	background: url("../images/back.png") repeat scroll -35px 0 transparent;
}

#wpfontsforwebbrowser .jcarousel-prev-disabled {
	background-position: -8px 0;
	cursor: default;
}

#FFW_browser_carousel {
	height: 100%;
}

#FFW_browser_carousel li.jcarousel-item {
	height: 100%;
	width: 250px;
}

#FFW_browser_carousel li .logo_slide {
	background: url("../images/logo_slide.png") repeat scroll 0 0 transparent;
	width: 240px;
	height: 452px;
}

#wpfontsforwebbrowser li.categoriesList ul li {
	margin: 0;
}

#wpfontsforwebbrowser li.categoriesList a {
	background: none repeat scroll 0 0 #FFFFFF;
	display: block;
	margin: 0;
	border-bottom: 1px solid #DDDDDD;
	text-decoration: none;
	font-size: 19px;
	width: 100%;
}

#wpfontsforwebbrowser li.categoriesList a img {
	width: 100%;
}

#wpfontsforwebbrowser li.jcarousel-item ul {
	overflow: auto;
	height: 100%;
}

#wpfontsforwebbrowser li#fontList ul li {
	border-bottom: 1px solid #EEEEEE;
	margin: 0;
	background: none repeat scroll 0 0 #CCCCCC;
}

#wpfontsforwebbrowser li#fontList ul li:hover {
	position: relative;
}

#wpfontsforwebbrowser li#fontList ul li a {
	display: block;
}

#wpfontsforwebbrowser li#fontList ul li a img {
	border: medium none;
	width: 100%;
}

#wpfontsforwebbrowser li#fontList ul li a.font_pick span.font_pick_hint {
	display: none;
}

#wpfontsforwebbrowser li#fontList ul li a.font_pick:hover span.font_pick_hint {
	height: 16px;
	padding: 2px;
	background: none repeat scroll 0 0 #666666;
	color: #FFFFFF;
	font-size: 10px;
	position: absolute;
	right: 0;
	display: none;
}

#wpfontsforwebbrowser li#fontList ul li:hover a.font_pick {
	position: relative;
	top: -16px;
	margin-bottom: -1px;
	border-top: 1px solid #DDDDDD;
	text-decoration: none;
}

#wpfontsforwebbrowser li#fontList ul li.firstElementOLD:hover a.font_pick {
	top: 0;
	margin-bottom: 15px;
}

#wpfontsforwebbrowser li#fontList ul li a.font_url {
	display: none;
}

#wpfontsforwebbrowser li#fontList ul li:hover a.font_url {
	display: block;
	position: absolute;
	bottom: 0;
	right: 2px;
	color: #EEEEEE;
	text-decoration: none;
	font-size: 10px;
}

#wpfontsforwebbrowser li#fontList ul li a.font_url:hover {
	color: #21759B;
}

#wpfontsforwebbrowser h1 {
	border-bottom: 1px dotted #FFFFFF;
	font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;
	font-size: 14px;
	padding-bottom: 5px;
	margin-bottom: 3%;
}

