

.fsdt-external.fsdt-tab-type {
    position: relative;
}



.fsdt-frontend-display-wrap.fsdt-fixed {
    position: fixed;
    z-index: 111;
}

a.fsdt-tab-link:active,
a.fsdt-tab-link:hover,
a.fsdt-tab-link:focus {
    outline: none;
}

.fsdt-tab-data {
    z-index: 11111111111;
}

.fsdt-tab.fsdt-menu-wrap.active span.fsdt-tool-tip {
    display: none;
}

.fsdt-frontend-display-wrap.fsdt-left.fsdt-template-2 .fsdt-tab-data,
.fsdt-frontend-display-wrap.fsdt-left.fsdt-template-1 .fsdt-tab-data,
.fsdt-frontend-display-wrap.fsdt-left.fsdt-template-5 .fsdt-tab-data {
    left: 99%;
    top: 113%;
}

.fsdt-frontend-display-wrap.fsdt-left {
    left: 0px;
}

.fsdt-frontend-display-wrap.fsdt-template-1 .fsdt-tab-type,
.fsdt-frontend-display-wrap.fsdt-template-2 .fsdt-tab-type,
.fsdt-frontend-display-wrap.fsdt-template-5 .fsdt-tab-type {
    display: flex;
}

.fsdt-template-1.fsdt-right .fsdt-tab.fsdt-menu-wrap,
.fsdt-template-2.fsdt-right .fsdt-tab.fsdt-menu-wrap,
.fsdt-template-5.fsdt-right .fsdt-tab.fsdt-menu-wrap {
    margin-left: 5px;
}

.fsdt-frontend-display-wrap.fsdt-right,
.fsdt-frontend-display-wrap.fsdt-right-btm,
.fsdt-frontend-display-wrap.fsdt-right-top {
    right: 0px;
}

.fsdt-frontend-display-wrap.fsdt-left.fsdt-template-1,
.fsdt-frontend-display-wrap.fsdt-left.fsdt-template-2,
.fsdt-frontend-display-wrap.fsdt-left.fsdt-template-5,
.fsdt-frontend-display-wrap.fsdt-right {
    top: 50%;
}

.fsdt-frontend-display-wrap.fsdt-left,
.fsdt-frontend-display-wrap.fsdt-right {
    top: 50%;
    transform: translateY(-50%);
}





.fsdt-frontend-display-wrap.fsdt-right.fsdt-template-4 .fsdt-tab-data {
    right: 103%;
}

.fsdt-frontend-display-wrap.fsdt-left-top.fsdt-template-4 .fsdt-tab-data,
.fsdt-frontend-display-wrap.fsdt-left.fsdt-template-4 .fsdt-tab-data {
    left: 103%;
}

.fsdt-frontend-display-wrap.fsdt-right.fsdt-template-1 .fsdt-tab-type,
.fsdt-frontend-display-wrap.fsdt-right.fsdt-template-2 .fsdt-tab-type,
.fsdt-frontend-display-wrap.fsdt-right.fsdt-template-5 .fsdt-tab-type {
    flex-direction: row-reverse;
}








.fsdt-tab.fsdt-menu-wrap {
    position: relative;
}

.fsdt-menu-wrap {
    display: flex;
    align-items: center;
}

.fsdt-frontend-display-wrap,
.fsdt-frontend-display-wrap *,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.fsdt-frontend-display-wrap.fsdt-template-1,
.fsdt-frontend-display-wrap.fsdt-template-2,
.fsdt-frontend-display-wrap.fsdt-template-5 {
    -moz-transform: rotate(-90deg) translateX(-50%);
    -webkit-transform-origin: 0 0;
    -webkit-transform: rotate(-90deg) translateX(-50%);
    transform: rotate(-90deg) translateX(-50%);
    display: flex;
    flex-direction: row-reverse;
}

.fsdt-left .fsdt-tab.fsdt-menu-wrap,
.fsdt-right .fsdt-tab.fsdt-menu-wrap {
    position: unset;
}






.fsdt-template-1.fsdt-right .fsdt-tab.fsdt-menu-wrap {
    border-radius: 6px 6px 0px 0px;
}


.fsdt-right.fsdt-template-1 .fsdt-tab-data,
.fsdt-right.fsdt-template-2 .fsdt-tab-data,
.fsdt-right.fsdt-template-5 .fsdt-tab-data {
    animation-name: slide-top-right;
}

@keyframes slide-left {
    from {
        left: 0;
    }

    to {
        left: 103%;
    }
}

@keyframes slide-top-left {
    from {
        left: 100%;
    }

    to {
        left: 0%;
    }
}

@keyframes slide-right {
    from {
        right: 0;
    }

    to {
        right: 100%;
    }
}

@keyframes slide-top-right {
    from {
        right: 100%;
    }

    to {
        right: 0%;
    }
}

@keyframes slide-btm-sm {
    from {
        bottom: 0;
    }

    to {
        bottom: 106%;
    }
}

@keyframes slide-btm {
    from {
        bottom: 0;
    }

    to {
        bottom: 106%;
    }
}



/* end */




.fsdt-left .fsdt-tab-data {
    animation-name: slide-left;
    animation-duration: 0.5s;
    -webkit-transition: width 0.5s ease-in-out;
    -moz-transition: width 0.5s ease-in-out;
    -o-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;/
}

.fsdt-right .fsdt-tab-data {
    animation-name: slide-right;
    animation-duration: 0.5s;
    -webkit-transition: width 0.5s ease-in-out;
    -moz-transition: width 0.5s ease-in-out;
    -o-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    40% {
        opacity: 0.3;
    }

    60% {
        opacity: 0.5;
    }

    80% {
        opacity: 0.9;
    }

    100% {
        opacity: 1;
    }
}

.fsdt-template-4 .fsdt-tab-data {
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 1s;
    animation-name: fadeIn;
    animation-duration: 1s;
}

span.fsdt-tool-tip {
    display: none;
    color: #FFF;
    position: relative;
    height: auto !important;
}



.fsdt-right a.fsdt-tab-link:hover span.fsdt-tool-tip,
.fsdt-right .fsdt-tab:hover>a span.fsdt-tool-tip {
    right: 110%;
    left: unset;
}

.fsdt-right a.fsdt-tab-link:hover span.fsdt-tool-tip,
.fsdt-left a.fsdt-tab-link:hover span.fsdt-tool-tip {
    transform: translateY(-50%);
    top: 50%;
}

.fsdt-right a span.fsdt-tool-tip::after {
    top: 22%;
    right: -9px;
    left: unset;
    border-color: transparent transparent transparent #000000;
}

a span.fsdt-tool-tip::after {
    content: "";
    position: absolute;
    top: 22%;
    left: -9px;
    /* margin-left: -20px; */
    border-color: transparent #000000 transparent transparent;
    border-width: 5px;
    border-style: solid;
}



.fsdt-frontend-display-wrap.fsdt-right.fsdt-template-1,
.fsdt-frontend-display-wrap.fsdt-right.fsdt-template-2,
.fsdt-frontend-display-wrap.fsdt-right.fsdt-template-5 {
    -webkit-transform-origin: 100% 100%;
}

.fsdt-frontend-display-wrap.fsdt-right.fsdt-template-1 .fsdt-tab-type .fsdt-tab-data,
.fsdt-frontend-display-wrap.fsdt-right.fsdt-template-2 .fsdt-tab-type .fsdt-tab-data,
.fsdt-frontend-display-wrap.fsdt-right.fsdt-template-5 .fsdt-tab-type .fsdt-tab-data {
    -webkit-transform-origin: 100% 0;
}

.fsdt-frontend-display-wrap.fsdt-template-1 .fsdt-tab-type,
.fsdt-frontend-display-wrap.fsdt-template-2 .fsdt-tab-type,
.fsdt-frontend-display-wrap.fsdt-template-5 .fsdt-tab-type {
    display: flex;
}








.fsdt-frontend-display-wrap.fsdt-right.fsdt-template-1,
.fsdt-frontend-display-wrap.fsdt-right.fsdt-template-2,
.fsdt-frontend-display-wrap.fsdt-right.fsdt-template-5 {
    -moz-transform: rotate(-90deg) translateX(50%);
    -webkit-transform: rotate(-90deg) translateX(50%);
    transform: rotate(-90deg) translateX(50%);
}

.fsdt-frontend-display-wrap.fsdt-left.fsdt-template-1 .fsdt-tab-type .fsdt-tab-data,
.fsdt-frontend-display-wrap.fsdt-left.fsdt-template-2 .fsdt-tab-type .fsdt-tab-data,
.fsdt-frontend-display-wrap.fsdt-left.fsdt-template-5 .fsdt-tab-type .fsdt-tab-data {
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: 0 0;
}

.fsdt-frontend-display-wrap.fsdt-template-1 .fsdt-tab-type .fsdt-tab-data,
.fsdt-frontend-display-wrap.fsdt-template-2 .fsdt-tab-type .fsdt-tab-data,
.fsdt-frontend-display-wrap.fsdt-template-5 .fsdt-tab-type .fsdt-tab-data {
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: 0 0;
}



.fsdt-frontend-display-wrap.fsdt-left .fsdt-tab-data {
    left: 100%;
}

.fsdt-frontend-display-wrap.fsdt-right.fsdt-template-1 .fsdt-tab-data,
.fsdt-frontend-display-wrap.fsdt-right.fsdt-template-2 .fsdt-tab-data,
.fsdt-frontend-display-wrap.fsdt-right.fsdt-template-5 .fsdt-tab-data {
    right: 0px;
    top: -13%;
}

.fsdt-frontend-display-wrap.fsdt-right .fsdt-tab-data {
    right: 103%;
}

.fsdt-frontend-display-wrap.fsdt-left .fsdt-tab-data {
    left: 103%;
}


.fsdt-frontend-display-wrap.fsdt-left.fsdt-template-1 .fsdt-tab-type,
.fsdt-frontend-display-wrap.fsdt-left.fsdt-template-2 .fsdt-tab-type,
.fsdt-frontend-display-wrap.fsdt-left.fsdt-template-5 .fsdt-tab-type {
    flex-direction: row-reverse;
}

.fsdt-tab-data {
    max-width: 600px;
    background: #fff;
    display: none;
    top: 0;
    box-shadow: 1px 1px 9px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    position: absolute;
    min-width: 600px;
    padding: 10px 12px;
    max-height: 450px;
    overflow-y: auto;
    z-index: 111111111111;
}

.fsdt-frontend-display-wrap.fsdt-left-btm .fsdt-tab-data,
.fsdt-frontend-display-wrap.fsdt-right-btm .fsdt-tab-data {
    box-shadow: 1px 1px 19px 0px rgba(0, 0, 0, 0.25), 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
}


a.fsdt-tab-link img {
    width: 16px;
    height: 16px;
}

.fsdt-template-3 .fsdt-tab.fsdt-menu-wrap.active,
.fsdt-template-4 .fsdt-tab.fsdt-menu-wrap.active {
    background: #ffffff;
}

.fsdt-template-3 .fsdt-tab.fsdt-menu-wrap.active a,
.fsdt-template-4 .fsdt-tab.fsdt-menu-wrap.active a {
    color: #000;
}

.fsdt-template-1 .fsdt-tab.fsdt-menu-wrap .fsdt-menu-text:hover,
.fsdt-template-2 .fsdt-tab.fsdt-menu-wrap .fsdt-menu-text:hover,
.fsdt-template-3 .fsdt-tab.fsdt-menu-wrap .fsdt-menu-text:hover,
.fsdt-template-4 .fsdt-tab.fsdt-menu-wrap .fsdt-menu-text:hover,
.fsdt-template-5 .fsdt-tab.fsdt-menu-wrap .fsdt-menu-text:hover {
    background: #fff;
}


.fsdt-template-1 .fsdt-tab.fsdt-menu-wrap .fsdt-menu-text:hover a.fsdt-tab-link,
.fsdt-template-2 .fsdt-tab.fsdt-menu-wrap .fsdt-menu-text:hover a.fsdt-tab-link,
.fsdt-template-3 .fsdt-tab.fsdt-menu-wrap .fsdt-menu-text:hover a.fsdt-tab-link {
    color: #000;
}

.fsdt-template-4 .fsdt-tab.fsdt-menu-wrap .fsdt-menu-text:hover a.fsdt-tab-link {
    color: #595959;
}

.fsdt-template-5 .fsdt-tab.fsdt-menu-wrap .fsdt-menu-text:hover a.fsdt-tab-link {
    color: #FF8079;
}



.fsdt-left.fsdt-template-2 .fsdt-tab.fsdt-menu-wrap,
.fsdt-left.fsdt-template-1 .fsdt-tab.fsdt-menu-wrap,
.fsdt-left.fsdt-template-5 .fsdt-tab.fsdt-menu-wrap {
    margin-right: 5px;
}

.fsdt-menu-text {
    pointer-events: auto;
    width: 100%;
    height: 100%;
    position: relative;
}

.fsdt-tab.fsdt-menu-wrap {
    pointer-events: none;
}

.fsdt-tab-data {
    pointer-events: auto;
}

/* close button */
span.fsdt-close-tab {
    color: #343333;
    cursor: pointer;
}

span.fsdt-close-tab:hover {
    color: #454343;
}

span.fsdt-close-tab.fas.fa-times {
    font-size: 16px;
    font-weight: 900;
    margin-right: unset;
}

div.fsdt-tab-heading {
    width: calc(100% - 25px);
    float: left;
}

.fsdt-post-heading,
.fsdt-product-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f1f1f1;
}



/* template-1 */
.fsdt-template-1 a.fsdt-tab-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    padding: 8px 5px;
    line-height: 16px;
    color: #ffffff;
    letter-spacing: 0.5px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.fsdt-template-1 .fsdt-tab.fsdt-menu-wrap {
    background: #000;
    box-shadow: 1px 1px 6px rgb(0 0 0 / 25%);
    border-radius: 0px 0px 6px 6px;
}

.fsdt-template-1 a.fsdt-tab-link i {
    margin-right: 5px;
}

/* template-2 */
.fsdt-template-2 a.fsdt-tab-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #ffffff;
    padding: 8px 5px;
    letter-spacing: 0.5px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.fsdt-template-2 .fsdt-tab.fsdt-menu-wrap{
    background: #595959;
    box-shadow: 1px 1px 6px rgb(0 0 0 / 25%);
    border-radius: 5px;
}

.fsdt-template-2 a.fsdt-tab-link i {
    margin-right: 5px;
}



.fsdt-tab-type .fa-solid,
.fsdt-tab-type .fas {
    font-weight: 900;
    font-size: 20px;
}

.fsdt-menu-text {
    display: flex;
    align-items: center;
    padding: 8px 5px;
}

.fsdt-template-2 .fsdt-tab.fsdt-menu-wrap .fsdt-menu-text a.fsdt-tab-link:hover {
    color: #595959;
}


/* Template-3 */
.fsdt-template-3 .fsdt-tab.fsdt-menu-wrap {
    background: #000000;
    border-right: 2px solid #00D092;
    box-shadow: 1px 1px 6px rgb(0 0 0 / 25%);
    margin-bottom: 5px;
}

.fsdt-template-3 .fsdt-tab-type {
    display: flex;
    flex-direction: column;
}

.fsdt-template-3 .fsdt-menu-wrap i {
    flex-basis: 30%;
    margin-right: 5px;
}

.fsdt-template-3 a.fsdt-tab-link {
    color: #fff;
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    padding: 8px 5px;
    width: 100%;
}

.fsdt-template-3 .fsdt-menu-wrap i {
    flex-basis: 30%;
    margin-right: 5px;
    font-size: 16px;
}


.fsdt-template-3 .fsdt-tab.fsdt-menu-wrap {
    background: #000000;
    border-right: 2px solid #00D092;
    box-shadow: 1px 1px 6px rgb(0 0 0 / 25%);
    margin-bottom: 5px;
}

.fsdt-template-3.fsdt-right .fsdt-tab.fsdt-menu-wrap,
.fsdt-template-3.fsdt-right-top .fsdt-tab.fsdt-menu-wrap,
.fsdt-template-3.fsdt-right-btm .fsdt-tab.fsdt-menu-wrap {
    border-left: 2px solid #00D092;
    border-right: none;
}

.fsdt-frontend-display-wrap.fsdt-left.fsdt-template-3 .fsdt-tab-data,
.fsdt-frontend-display-wrap.fsdt-left-top.fsdt-template-3 .fsdt-tab-data {
    left: 103%;
}

.fsdt-frontend-display-wrap.fsdt-right.fsdt-template-3 .fsdt-tab-data,
.fsdt-frontend-display-wrap.fsdt-right-top.fsdt-template-3 .fsdt-tab-data {
    right: 103%;
}


/* Template-4 */

.fsdt-template-4 .fsdt-tab-type {
    display: flex;
    flex-direction: column;
}

.fsdt-template-4 .fsdt-menu-wrap i {
    flex-basis: 30%;
    margin-right: 5px;
    font-size: 16px;
}

.fsdt-template-4 a.fsdt-tab-link {
    color: #fff;
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    padding: 8px 5px;
    line-height: 16px;
    width: 100%;
}


.fsdt-template-4 .fsdt-tab.fsdt-menu-wrap {
    border-left: 2px solid #FFCB11;
    box-shadow: 1px 1px 6px rgb(0 0 0 / 25%);
    margin-bottom: 5px;
}

.fsdt-template-4 .fsdt-tab.fsdt-menu-wrap {
    background: #595959;
}

/* Template-5 */

.fsdt-template-5 a.fsdt-tab-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    padding: 8px 5px;
    color: #ffffff;
    letter-spacing: 0.5px;
    text-decoration: none;
    display: flex;

    align-items: center;
}

.fsdt-template-5 .fsdt-tab.fsdt-menu-wrap{
    background: #FF8079;
    box-shadow: 1px 1px 6px rgb(0 0 0 / 25%);
}

.fsdt-template-5 a.fsdt-tab-link i {
    margin-right: 5px;
}



.fsdt-template-5 a.fsdt-tab-link {
    text-decoration: none;
    line-height: 18px;
    align-items: center;
}

.fsdt-template-5 a.fsdt-tab-link i {
    margin-right: 5px;
}

.fsdt-left.fsdt-template-1 a.fsdt-tab-link:hover span.fsdt-tool-tip,
.fsdt-left.fsdt-template-1 .fsdt-tab:hover>a span.fsdt-tool-tip,
.fsdt-left.fsdt-template-2 a.fsdt-tab-link:hover span.fsdt-tool-tip,
.fsdt-left.fsdt-template-2 .fsdt-tab:hover>a span.fsdt-tool-tip,
.fsdt-left.fsdt-template-5 a.fsdt-tab-link:hover span.fsdt-tool-tip,
.fsdt-left.fsdt-template-5 .fsdt-tab:hover>a span.fsdt-tool-tip {
    left: -50%;
    top: 244%;
    -webkit-transform: rotate(90deg);
}

/*template-6*/

.fsdt-template-8 .fsdt-no-hover .fsdt-tab.fsdt-menu-wrap .fsdt-menu-text:hover,
.fsdt-template-6 .fsdt-no-hover .fsdt-tab.fsdt-menu-wrap .fsdt-menu-text:hover,
.fsdt-template-7 .fsdt-no-hover .fsdt-tab.fsdt-menu-wrap .fsdt-menu-text:hover {
    width: max-content;
    max-width: 100%;
    transition: 0.3s;
    width: 56px;
}

.fsdt-template-8 .fsdt-no-hover a.fsdt-tab-link:hover span.fsdt-tab-name,
.fsdt-template-7 .fsdt-no-hover a.fsdt-tab-link:hover span.fsdt-tab-name,
.fsdt-template-6 .fsdt-no-hover a.fsdt-tab-link:hover span.fsdt-tab-name {
    display: none;
}

.fsdt-template-6 .fsdt-tab.fsdt-menu-wrap .fsdt-menu-text {
    width: 56px;
}
span.fsdt-tab-name {
    font-family: 'Roboto';
}
.fsdt-tab.fsdt-menu-wrap.active span.fsdt-tool-tip {
    display: none;
}

.fsdt-template-6 a.fsdt-tab-link span {
    display: none;
    white-space: nowrap;
}


.fsdt-template-6 a.fsdt-tab-link {
    color: #444;
    border-radius: 0px;
    position: relative;
}

.fsdt-template-6 .fsdt-tab.fsdt-menu-wrap .fsdt-menu-text {
    height: 56px;
    transition: 0.3s;
}




.fsdt-template-6 a.fsdt-tab-link {
    display: flex;
    align-items: center;
    padding: 18px 18px;
    transition: 0.3s;
    font-size: 15px;
    border-radius: 0px;
    text-decoration: none;
    width: 100%;
}

.fsdt-template-6 .fsdt-tab.fsdt-menu-wrap .fsdt-menu-text {
    width: 56px;
}

.fsdt-frontend-display-wrap.fsdt-left.fsdt-template-6,
.fsdt-frontend-display-wrap.fsdt-right.fsdt-template-6 {
    margin-top: 0;
}

.fsdt-template-6 a.fsdt-tab-link i {
    font-size: 20px;
    margin-right: 5px;
}

.fsdt-template-6 .fsdt-tab-type {
    display: flex;
    flex-direction: column;
}

.fsdt-template-6 .fsdt-tab.fsdt-menu-wrap .fsdt-menu-text:hover {
    width: 100%;
    background: #444;
    max-width: fit-content;
    box-shadow: 1px 1px 3px rgb(0 0 0 / 25%);
}


.fsdt-template-6 a.fsdt-tab-link:hover {
    width: 100%;
    color: #fff;
}

.fsdt-template-6 a.fsdt-tab-link:hover span {
    display: block;
}


.fsdt-template-6 .fsdt-tab.fsdt-menu-wrap.active .fsdt-menu-text {
    background: #444;
}

.fsdt-template-6 .fsdt-tab.fsdt-menu-wrap.active .fsdt-menu-text a.fsdt-tab-link {
    color: #fff;
}

.fsdt-template-6 .fsdt-tab.fsdt-menu-wrap .fsdt-menu-text {
    background: #d9d9d9;
    position: unset;
}
.fsdt-template-6 .fsdt-tab.fsdt-menu-wrap .fsdt-menu-text,
.fsdt-template-7 .fsdt-tab.fsdt-menu-wrap .fsdt-menu-text,
.fsdt-template-8 .fsdt-tab.fsdt-menu-wrap .fsdt-menu-text {
    margin-bottom: 8px;
}


/*template-7*/

.fsdt-template-7 .fsdt-tab.fsdt-menu-wrap .fsdt-menu-text {
    width: 56px;
    border-radius: 70px;
}

.fsdt-template-7 a.fsdt-tab-link span {
    display: none;
}

.fsdt-template-7 a.fsdt-tab-link {
    color: #fff;
}

.fsdt-template-7 .fsdt-tab.fsdt-menu-wrap .fsdt-menu-text {
    height: 56px;
    transition: 0.3s;
}

.fsdt-template-7 .fsdt-tab.fsdt-menu-wrap.active {
    width: 100%;
}




.fsdt-template-7 a.fsdt-tab-link i {
    font-size: 20px;
    margin-left: 5px;
}


.fsdt-template-7 .fsdt-menu-text {
    padding: 0px;
}

.fsdt-template-7 a.fsdt-tab-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 18px 14px;
    transition: 0.3s;
    font-size: 15px;
    border-radius: 0px;
    text-decoration: none;
    width: 100%;
    white-space: nowrap;
}


.fsdt-template-7 a.fsdt-tab-link i {
    font-size: 20px;
    margin-right: 5px;
}

.fsdt-template-7 .fsdt-tab-type {
    display: flex;
    flex-direction: column;
}

.fsdt-template-7 .fsdt-tab.fsdt-menu-wrap .fsdt-menu-text:hover {
    width: max-content;
    background: #ec75d2;
    max-width: 100%;
    box-shadow: 1px 1px 3px rgb(0 0 0 / 25%);
}


.fsdt-template-7 a.fsdt-tab-link:hover {
    width: 100%;
    color: #fff;
}

.fsdt-template-7 .fsdt-menu-text:hover i,
.fsdt-template-12 .fsdt-menu-text:hover i {
    transition: all 0.3s;
    transform: rotateY(360deg);
}

.fsdt-template-7 a.fsdt-tab-link:hover span {
    display: block;
}





.fsdt-template-7 .fsdt-tab.fsdt-menu-wrap .fsdt-menu-text {
    background: #DE68C4;
}



/*template-8*/


.fsdt-template-8 .fsdt-tab.fsdt-menu-wrap .fsdt-menu-text {
    width: 56px;

}

.fsdt-template-8 a.fsdt-tab-link span {
    display: none;
}


.fsdt-template-8 a.fsdt-tab-link {
    color: #fff;
    border-radius: 0px;
}

.fsdt-template-8 .fsdt-tab.fsdt-menu-wrap .fsdt-menu-text {
    height: 56px;
    transition: 0.3s;
}

.fsdt-template-8 .fsdt-tab.fsdt-menu-wrap.active {
    width: 100%;
}




.fsdt-template-8 a.fsdt-tab-link i {
    font-size: 20px;
    margin-left: 5px;
}


.fsdt-template-8 .fsdt-menu-text {
    padding: 0px;
}

.fsdt-template-8 a.fsdt-tab-link {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 18px 14px;
    transition: 0.3s;
    font-size: 15px;
    border-radius: 0px;
    text-decoration: none;
    width: 100%;
    white-space: nowrap;
}


.fsdt-template-8 a.fsdt-tab-link i {
    font-size: 20px;
    margin-right: 5px;
}

.fsdt-template-8 .fsdt-tab-type {
    display: flex;
    flex-direction: column;
}

.fsdt-template-8 .fsdt-tab.fsdt-menu-wrap .fsdt-menu-text:hover {
    width: max-content;
    background: #449D98;
    max-width: 100%;
    transition: 0.3s;
    box-shadow: 1px 1px 3px rgb(0 0 0 / 25%);
}


.fsdt-template-8 a.fsdt-tab-link:hover,
.fsdt-template-8 .fsdt-tab:hover>a {
    width: 100%;
    color: #fff;
}

.fsdt-template-8 a.fsdt-tab-link:hover span,
.fsdt-template-8 .fsdt-tab:hover>a span {
    display: block;
}


.fsdt-template-8 .fsdt-tab.fsdt-menu-wrap.active .fsdt-menu-text {
    background: #444;
}

.fsdt-template-8 .fsdt-tab.fsdt-menu-wrap.active .fsdt-menu-text a.fsdt-tab-link {
    width: 100%;
    color: #fff;
}

.fsdt-template-8 .fsdt-tab.fsdt-menu-wrap .fsdt-menu-text {
    background: #449D98;
}
.fsdt-frontend-display-wrap.fsdt-right.fsdt-template-8 .fsdt-tab-type,  
.fsdt-frontend-display-wrap.fsdt-right.fsdt-template-6 .fsdt-tab-type,  
.fsdt-frontend-display-wrap.fsdt-right.fsdt-template-7 .fsdt-tab-type{
    align-items: flex-end;
}
.fsdt-right.fsdt-template-6 a.fsdt-tab-link{
    width: unset;
    flex-direction: row-reverse;
} 
.fsdt-right.fsdt-template-6 a.fsdt-tab-link i{
    margin-left: 5px;
    margin-right: 0;
}
 .fsdt-template-6 .fsdt-menu-text, 
 .fsdt-template-7 .fsdt-menu-text {
    padding: 0px;
}

/* custom html */
.fsdt-html-wrap.fsdt-html-template-2 {
    box-shadow: -2px -1px 8px rgba(0, 0, 0, 0.25);
    position: absolute;
    background: #fff;
    display: none;
    padding: unset;
    /* min-height: 450px; */
}

.fsdt-html-wrap.fsdt-html-template-2 .fsdt-post-heading {
    padding: 10px 15px;
}

.fsdt-html-wrap.fsdt-html-template-2 .fsdt-inner-scroll {
    padding: 10px 15px;
}

.fsdt-template-2 .fsdt-menu-wrap i {
    font-size: 20px;
}


@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.4.0');
    src: url('../fonts/fontawesome-webfont.eot #iefix&v=4.4.0') format('embedded-opentype'),
        url('../fonts/fontawesome webfont.woff2?v=4.4.0') format('woff2'),
        url('../fonts/fontawesome webfont.woff?v=4.4.0') format('woff'),
        url('../fonts/fontawesome webfont.ttf?v=4.4.0') format('truetype'),
        url('../fonts/fontawesome webfont.svg?v=4.4.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}





.fsdt-html-wrap.fsdt-html-template-2.fsdt-tab-data {
    overflow-y: unset;
    min-width: 500px;
    max-width: 500px;
    max-height: unset;
}

.fsdt-html-content .alignnone,
.fsdt-html-content .aligncenter {
    margin-bottom: 10px;
    margin-top: 10px;
}

.fsdt-html-wrap .fsdt-inner-scroll {
    max-height: 430px;
}


.fsdt-heading-text h2 {
    color: #333;
    font-family: 'Roboto';
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -0.3px;
    margin-top: 0;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    text-align: center;
}


.fsdt-html-wrap .fsdt-inner-scroll::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
}

.fsdt-html-wrap .fsdt-inner-scroll::-webkit-scrollbar-thumb {
    background-color: #494848;
    border: 2px solid #555555;
}

a.fsdt-tab-link {
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
    outline: 0;
}

.fsdt-tab.fsdt-menu-wrap:hover i:nth-of-type(1) {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}


.fsdt-inner-scroll {
    max-height: 390px;
    overflow-y: auto;
    overflow-x: hidden;
}







@keyframes slide-left-specific {
    from {
        left: 0;
    }

    to {
        left: 121%;
    }
}

@keyframes slide-right-specific {
    from {
        right: 0;
    }

    to {
        right: 121%;
    }
}


.fsdt-tab.fsdt-menu-wrap.fsdt-open-menu {
    pointer-events: auto;
}


.fsdt-template-1 .fsdt-menu-text,
.fsdt-template-2 .fsdt-menu-text,
.fsdt-template-3 .fsdt-menu-text,
.fsdt-template-4 .fsdt-menu-text,
.fsdt-template-5 .fsdt-menu-text {
    padding: 0px;
}



/* Tooltip design */
a.fsdt-tab-link:hover span.fsdt-tool-tip,
.fsdt-tab:hover>a span.fsdt-tool-tip {
    display: inline-block;
    background: #000000;
    left: 110%;
    align-items: center;
    justify-content: space-around;
    width: max-content;
    z-index: 9999999999;
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s;
    position: absolute;
    padding: 8px;
    font-size: 11.5px;
    border-radius: 3px;
    transition: all .3s linear;
}

.fsdt-frontend-display-wrap.fsdt-left-btm a.fsdt-tab-link:hover span.fsdt-tool-tip {
    left: 60%;
    transform: translateX(-50%);
}



/* for template 1 2 and 5 */

.fsdt-frontend-display-wrap.fsdt-left.fsdt-template-1 a.fsdt-tab-link:hover span.fsdt-tool-tip,
.fsdt-frontend-display-wrap.fsdt-left.fsdt-template-2 a.fsdt-tab-link:hover span.fsdt-tool-tip,
.fsdt-frontend-display-wrap.fsdt-left.fsdt-template-5 a.fsdt-tab-link:hover span.fsdt-tool-tip {
    left: 60%;
    top: 128%;
    bottom: unset;
    right: unset;
    -moz-transform: rotate(90deg);
    -webkit-transform-origin: 0 0;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.fsdt-right.fsdt-template-1 a.fsdt-tab-link:hover span.fsdt-tool-tip,
.fsdt-right.fsdt-template-2 a.fsdt-tab-link:hover span.fsdt-tool-tip,
.fsdt-right.fsdt-template-5 a.fsdt-tab-link:hover span.fsdt-tool-tip {
    right: 60%;
    left: unset;
    transform: rotate(90deg);
    top: unset;
    bottom: 128%;
    -webkit-transform-origin: 100% 100%;
}

/* template 2 */
.fsdt-template-2 a.fsdt-tab-link:hover span.fsdt-tool-tip {
    background: #595959;
}

.fsdt-left.fsdt-template-2 a span.fsdt-tool-tip::after {
    border-color: transparent #595959 transparent transparent;
}

.fsdt-right.fsdt-template-2 a span.fsdt-tool-tip::after {
    border-color: transparent transparent transparent #595959;
}


/* template 5 */
.fsdt-template-5 a.fsdt-tab-link:hover span.fsdt-tool-tip {
    background: #FF8079;
}

.fsdt-left.fsdt-template-5 a span.fsdt-tool-tip::after {
    border-color: transparent #FF8079 transparent transparent;
}

.fsdt-right.fsdt-template-5 a span.fsdt-tool-tip::after {
    border-color: transparent transparent transparent #FF8079;
}






.fsdt-template-3 a.fsdt-tab-link:hover span.fsdt-tool-tip {
    background: #000;
    border-radius: 0px;
}

.fsdt-left.fsdt-template-3 a.fsdt-tab-link:hover span.fsdt-tool-tip {
    transform: translateX(100%);
    top: 0;
    left: unset;
    right: -10px;
}

.fsdt-left.fsdt-template-4 a.fsdt-tab-link:hover span.fsdt-tool-tip {
    transform: translateX(100%);
    top: 0;
    left: unset;
    right: -8px;
}



.fsdt-right.fsdt-template-4 .fsdt-tab.fsdt-menu-wrap {
    border-right: 2px solid #FFCB11;
    border-left: none;
}

.fsdt-right.fsdt-template-3 a.fsdt-tab-link:hover span.fsdt-tool-tip {
    top: 0%;
    right: unset;
    left: -10px;
    transform: translateX(-100%);
}

.fsdt-right.fsdt-template-4 a.fsdt-tab-link:hover span.fsdt-tool-tip {
    top: 0%;
    right: unset;
    left: -8px;
    transform: translateX(-100%);
}

.fsdt-template-4 a.fsdt-tab-link:hover span.fsdt-tool-tip {
    background: #595959;
    border-radius: 0px;
}

.fsdt-left.fsdt-template-4 a span.fsdt-tool-tip::after,
.fsdt-left-top.fsdt-template-4 a span.fsdt-tool-tip::after {
    border-color: transparent #595959 transparent transparent;
}

.fsdt-left-btm.fsdt-template-4 a span.fsdt-tool-tip::after,
.fsdt-right-btm.fsdt-template-4 a span.fsdt-tool-tip::after {
    border-color: #595959 transparent transparent transparent;
}

.fsdt-right.fsdt-template-4 a span.fsdt-tool-tip::after,
.fsdt-right-top.fsdt-template-4 a span.fsdt-tool-tip::after {
    border-color: transparent transparent transparent #595959;
}




@media only screen and (max-width: 769px) {
    .fsdt-frontend-display-wrap.fsdt-left.fsdt-mob-hide {
        display: none;
    }
    .fsdt-frontend-display-wrap.fsdt-right.fsdt-mob-hide {
        display: none;
    }

    .fsdt-left .fsdt-tab-data,
    .fsdt-left-top .fsdt-tab-data {
        animation-name: none;
    }

    .fsdt-frontend-display-wrap.fsdt-right.fsdt-template-1 .fsdt-tab-data,
    .fsdt-frontend-display-wrap.fsdt-right.fsdt-template-2 .fsdt-tab-data,
    .fsdt-frontend-display-wrap.fsdt-right.fsdt-template-5 .fsdt-tab-data {
        right: 0%;
        top: -13%;

    }

    .fsdt-template-3 span.fsdt-tab-name,
    .fsdt-template-4 span.fsdt-tab-name {
        display: none;
    }

    .fsdt-template-3 .fsdt-menu-wrap i,
    .fsdt-template-4 .fsdt-menu-wrap i {
        margin-right: 0px;
    }


    .fsdt-tab-data {
        max-width: 500px;
        min-width: 300px;

    }


    .fsdt-inner-scroll {
        max-height: 300px;

    }



    .fsdt-html-wrap.fsdt-html-template-2.fsdt-tab-data {
        max-width: 500px;
        min-width: 300px;
    }

    .fsdt-template-3 a.fsdt-tab-link,
    .fsdt-template-4 a.fsdt-tab-link {
        font-size: 14px;
        padding: 5px 5px;
    }

    .fsdt-template-1 a.fsdt-tab-link,
    .fsdt-template-2 a.fsdt-tab-link,
    .fsdt-template-5 a.fsdt-tab-link {
        font-size: 10px;
        padding: 5px 5px;
        white-space: nowrap;
    }

    .fsdt-template-1 .fsdt-menu-text a.fsdt-tab-link i,
    .fsdt-template-2 .fsdt-menu-text a.fsdt-tab-link i,
    .fsdt-template-5 .fsdt-menu-text a.fsdt-tab-link i {
        font-weight: 900;
        font-size: 12px;
    }

    .fsdt-html-wrap .fsdt-inner-scroll {
        max-height: 350px;
    }
    .fsdt-html-wrap.fsdt-html-template-2.fsdt-tab-data {
        max-height: 400px;
        min-height: 400px;
    }

}

.fsdt-left-btm .fsdt-menu-wrap:first-child a.fsdt-tab-link:hover span.fsdt-tool-tip {
    left: 1%;
    transform: translateX(2%);
}

.fsdt-left-btm .fsdt-menu-wrap:first-child a span.fsdt-tool-tip::after {
    left: 15%;
}


/* Active class */
.fsdt-template-1 .fsdt-tab.fsdt-menu-wrap.active,
.fsdt-template-3 .fsdt-tab.fsdt-menu-wrap.active,
.fsdt-template-2 .fsdt-tab.fsdt-menu-wrap.active,
.fsdt-template-4 .fsdt-tab.fsdt-menu-wrap.active,
.fsdt-template-5 .fsdt-tab.fsdt-menu-wrap.active {
    background: #fff;
}

.fsdt-template-1 .fsdt-tab.fsdt-menu-wrap.active .fsdt-menu-text a.fsdt-tab-link,
.fsdt-template-3 .fsdt-tab.fsdt-menu-wrap.active .fsdt-menu-text a.fsdt-tab-link {
    color: #000;
}

.fsdt-template-2 .fsdt-tab.fsdt-menu-wrap.active .fsdt-menu-text a.fsdt-tab-link,
.fsdt-template-4 .fsdt-tab.fsdt-menu-wrap.active .fsdt-menu-text a.fsdt-tab-link {
    color: #595959;
}

.fsdt-template-5 .fsdt-tab.fsdt-menu-wrap.active .fsdt-menu-text a.fsdt-tab-link {
    color: #FF8079;
}


/* icon animation */



.fsdt-animate-slide .fsdt-menu-text:hover i {
    animation: fsdt-rightToLeft 0.3s forwards;
}

.fsdt-animate-none .fsdt-menu-text:hover i {
    animation: none;
}

.fsdt-html-wrap.fsdt-html-template-2 div.fsdt-tab-heading {
    color: #000;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.18px;
}

.fsdt-tab-data {
    overflow-y: unset;
}

/* Right To left */
@keyframes fsdt-rightToLeft {
    49% {
        transform: translate(100%);
    }

    50% {
        opacity: 0;
        transform: translate(-100%);
    }

    51% {
        opacity: 1;
    }
}

.fsdt-menu-wrap i {
    display: inline-block;
}
.fsdt-left.fsdt-template-8 .fsdt-no-hover .fsdt-menu-text:hover span.fsdt-tool-tip,
.fsdt-left.fsdt-template-6 .fsdt-no-hover .fsdt-menu-text:hover span.fsdt-tool-tip,
.fsdt-left.fsdt-template-7 .fsdt-no-hover .fsdt-menu-text:hover span.fsdt-tool-tip {
    left: 106%;
    transform: unset;
}
.fsdt-right.fsdt-template-8 a.fsdt-tab-link:hover span.fsdt-tool-tip,
.fsdt-right.fsdt-template-7 a.fsdt-tab-link:hover span.fsdt-tool-tip,
.fsdt-right.fsdt-template-6 a.fsdt-tab-link:hover span.fsdt-tool-tip {
    right: unset;
    left: -7px;
    transform: translateX(-100%) translateY(-50%);
}

.fsdt-right.fsdt-template-8 .fsdt-no-hover a.fsdt-tab-link:hover span.fsdt-tool-tip, .fsdt-right.fsdt-template-7 .fsdt-no-hover a.fsdt-tab-link:hover span.fsdt-tool-tip, .fsdt-right.fsdt-template-6 .fsdt-no-hover a.fsdt-tab-link:hover span.fsdt-tool-tip {
    left: auto;
    right: 110%;
    transform: translateY(-50%);
}

.fsdt-left.fsdt-template-8 .fsdt-menu-text:hover span.fsdt-tool-tip,
.fsdt-left.fsdt-template-6 .fsdt-menu-text:hover span.fsdt-tool-tip,
.fsdt-left.fsdt-template-7 .fsdt-menu-text:hover span.fsdt-tool-tip {
    left: unset;
    right: -7px;
    transform: translateX(100%);
    top: unset;
}
/* template 8 */
.fsdt-template-8 a.fsdt-tab-link:hover span.fsdt-tool-tip {
    background: #449d98;
}

.fsdt-left.fsdt-template-8 a span.fsdt-tool-tip::after {
    border-color: transparent #449d98 transparent transparent;
}

.fsdt-right.fsdt-template-8 a span.fsdt-tool-tip::after {
    border-color: transparent transparent transparent #449d98;
}
/* template 6 */
.fsdt-template-6 a.fsdt-tab-link:hover span.fsdt-tool-tip {
    background: #444444;
}

.fsdt-left.fsdt-template-6 a span.fsdt-tool-tip::after {
    border-color: transparent #444444 transparent transparent;
}

.fsdt-right.fsdt-template-6 a span.fsdt-tool-tip::after {
    border-color: transparent transparent transparent #444444;
}


/* template 7 */
.fsdt-template-7 a.fsdt-tab-link:hover span.fsdt-tool-tip {
    background: #DE68C4;
}

.fsdt-left.fsdt-template-7 a span.fsdt-tool-tip::after {
    border-color: transparent #DE68C4 transparent transparent;
}

.fsdt-right.fsdt-template-7 a span.fsdt-tool-tip::after {
    border-color: transparent transparent transparent #DE68C4;
}