div.fantasticmenu_restaurant_menu {
    padding: 30px 20px;
}


div.fantasticmenu_restaurant_menu .clearfix:before, .clearfix:after{
content:" "; /*add empty space charcater before and after */
display:block;
}

div.fantasticmenu_restaurant_menu .clearfix:after{
clear:both;
}

/*for IE 6, 7 has layout*/
div.fantasticmenu_restaurant_menu .clearfix{
*zoom:1;
}



