#rankology_stats_editor_meta_box,
#rankology-stats-browsers-widget,
#rankology-stats-comparison-widget,
#rankology-stats-countries-widget,
#rankology-stats-hitsmap-widget,
#rankology-stats-hits-widget,
#rankology-stats-pages-widget,
#rankology-stats-recent-widget,
#rankology-stats-referring-widget,
#rankology-stats-search-widget,
#rankology-stats-summary-widget,
#rankology-stats-words-widget,
#rankology-stats-top-visitors-widget,
#rkns_hits_postbox,
#rkns_top_visitors_postbox,
#rkns_search_postbox,
#rkns_words_postbox,
#rkns_recent_postbox,
#rkns_map_postbox,
#rkns_pages_postbox,
#rkns_summary_postbox,
#rkns_browsers_postbox,
#rkns_referring_postbox,
#rkns_countries_postbox,
#rkns_pages_postbox,
#rankology-stats-models-widget,
#rankology-stats-platforms-widget,
#rankology-stats-quickstats-widget,
#rankology-stats-devices-widget,
#rankology-stats-useronline-widget {

  table.o-table {

    tbody, thead {
      tr {
        td, th {
          padding: 14px 40px 14px 0 !important;
          text-align: right !important;

          a, span {
            text-align: right !important;
          }

          .rkns-flag {
            margin-right: 0 !important;
            margin-left: 4px !important;
          }

          .log-tools {
            float: unset !important;
          }
        }

        td:first-child, th:first-child {
          text-align: right !important;
          padding-right: 20px !important;
          padding-left: 10px !important;

          @media screen and (min-width: 1200px) {
            padding-right: 32px !important;
            padding-left: 10px !important;
          }
        }

        td:last-child, th:last-child {
          text-align: right !important;
          padding-right: 20px !important;
          padding-left: 24px !important;
        }
      }
    }
  }
}

#rankology-stats-pages-widget,
#rankology-stats-countries-widget,
#rankology-stats-referring-widget {
  .inside {
    table.o-table {
      tr {
        td:last-child, th:last-child {
          //text-align: left !important;


          svg {
            transform: rotate(180deg) !important;
            margin-left: 0 !important;
            margin-right: 2px !important;
          }
        }
      }
    }
  }
}

#rankology-stats-countries-widget, #rankology-stats-pages-widget {

  .inside table.o-table tr {
    td:last-child, th:last-child {

      a:hover {

        svg {

          transform: rotate(180deg) translateX(3px) !important;
        }
      }
    }
  }
}