
h1, h2, h3, h4, h5, h6{
  color: #fff;
}

label{
    font-size: 16px;
    letter-spacing: 0.5px;
    font-weight: normal;
    color: #fff;

}
#chose-btn-type, #paypal-currency{
	padding-top: 0px;
	padding-bottom: 0px;
}
.settings_page_easypaypalbuttonAdminPage .notice-success, div.updated{
	display: none;
}
::placeholder{
    color: #333;
}
.settings_page_easypaypalbuttonAdminPage{
        background: #141b2d;
}

/* BASIC SETTING */
/*========================= ADMIN DASHBOARD HEADER =================== */
.dashboard-header{
        position: relative;
    background: #1f2940;
    max-width: 1200px;
    display: block;
    margin: auto;
    padding: 20px;
}

.dash-logo{
float: left;
    display: block;
    width: 50%;
}
.dash-logo .plugin-logo{
    color: white;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.5px;
    margin: 0;
}
.dash-nav{
    float: right;
}
 .save-btn{
background:#fbb03b;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    border: 1px solid #fbb03b;
    padding: 6px 10px;
    min-width: 147px;
    border-radius: 1px;
    transition: all 0.5s;
    letter-spacing: 0.5px;
    line-height: normal;
    cursor: pointer;
    border-radius: 4px;
    min-height: 40px;
}
.save-btn:hover, .save-btn:active, .save-btn:focus{
    outline: none;
    background: #fbb03b;
    border-color: #fbb03b;
    color: #000;
    border: 1px solid #fbb03b;
}
.clr-fix{
    clear: both;
}
.short-code{
    margin-top: 20px;
}
.short-code input{
        width: 100%;
    border-radius: 1px;
    border: none;
    padding: 7px 10px;
    margin-top: 10px;
    font-size: 14px;
    color: #333;
    font-weight: normal;
    line-height: normal;
}
/* ============================= ADMIN DASHBOARD NAVBAR =========================== */
.easy-paypal-btn-nav{
        position: relative;
    display: block;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    min-height: 38px;
    background: #1f2940;
    padding: 20px;
}
.easy-paypal-btn-tabnav-tab-wrapper .nav-tab{
       border: 0px;
    background-color: #fbb03b;
    padding: 8px 30px;
    border-radius: 1px;
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    transition: all 0.5s;
    border-radius: 4px;
    opacity: 1;
    border-top: 4px solid transparent;
}

.easy-paypal-btn-tabnav-tab-wrapper a{
    box-shadow: none;
}
.easy-paypal-btn-tabnav-tab-wrapper .nav-tab i{
        font-size: 16px;
    margin-right: 10px;
}
.easy-paypal-btn-tabnav-tab-wrapper .nav-tab-active{
    background-color: #fff;
    color: #1f2940;
    opacity: 1;
    border-top: 4px solid #fbb03b;
}

/* ========================= CONTENT WRAPPER ========================== */

.easy-paypal-btnTabs{
        width: 100%;
    padding-right: 0px;
    display: block;
    max-width: 1200px;
    margin: auto;
    margin-top: 0;
    clear: both;
    padding: 20px;
    background: #141b2d;
    border-top: 1px solid #000;
}
.field-layout{
margin: 8px;
    border-bottom: 1px solid;
    margin-bottom: 30px;
}
.field-layout label{
    display:inline-block;
    width: 50%;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 8px;
    line-height: normal;
    padding: 6px;
}
.field-layout .field-wrap{

    width: 200px;
    border-radius: 2px;
    border: none;
    padding: 5px 10px;
    margin-top: 0px;
    font-size: 14px;
    color: #333;
    font-weight: normal;
    line-height: normal;
}
.alert-msg{
        color: white;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.5px;
    text-transform: 
}

/* ========================= SELECT BUTTON ================================== */
.btn-selection{
    margin: 8px;
    margin-bottom: 20px;
    border-bottom: 1px solid;
    padding-bottom: 40px;
}
.btn-wrapper{
     display: inline-block;
     width: 250px;
        margin-top: 0px;
        margin-right: 40px;
}
.btn-wrapper .btn-lab{
display: inline-block;
width: 80%;
}
.btn-lab img{
        max-width: 100%;
}
.btn-wrapper .button-field{
 padding: 10px 20px;
    font-size: 14px;
    border-radius: 0.35em;
    background-color: #ecc348;
    color: #143064;
    font-weight: bold;
    border: 1px solid #e5ab42;
    box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.2);
    display: inline-block;
    max-width: 100%;
    text-align: center;
        text-transform: capitalize;
}
.btn-wrapper .button-field:active,.btn-wrapper .button-field:focus{
    outline: none;
}
.btn-selection  label{
	display: block;
}
#paypal-currency #chose-btn-type{
	padding: 0px 10px;
}

.free-btn-wrapper{
    width: 100%;
}
/* ==================== SAVE SETTING ============================= */
.save-sett-wrap{
    padding: 8px;
}
.paint-services{
        box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.15);
    border-radius: 10px;
}

/* ============ HIDE =============== */
.donate-btn-wrapper{
    display: none;
}
.subscibe-btn-wrapper{
    display: none;
}
.buy-btn-wrapper{
    display: none;
}
.short-code{
	display: none;
}

/* ======================= UPDATE BUTTON ACTION ============================= */
.save-button.animation-reveal {
  animation: reveal 1s cubic-bezier(0.77, 0, 0.175, 1);
}
.save-button:hover {
  transform: scale(1.01);
}
.save-button:active {
  transform: scale(1);
}
.save-button .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}



/* ============================= PREMIUM TAB ================================= */

#premium-header{

}
#premium-header .premium-header-title{
      text-transform: uppercase;
    font-weight: 300;
    font-size: 36px;
    letter-spacing: 0.5px;
    line-height: normal;
}
#premium-header .premium-header-desc{
    font-size: 16px;
    letter-spacing: 0.5px;
    font-weight: 400;
    color: #fff;
    line-height: normal;

}
#premium-header .upgrade-wrap{
border-bottom: 1px solid;
padding-bottom: 30px;
}
#premium-header .upgrade-wrap a{
text-decoration: none;
}
.upgrade-wrap a button{

    background: #fbb03b;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    border: 1px solid #fbb03b;
    padding: 5px 16px;
    transition: all 0.5s;
    letter-spacing: 0.5px;
    line-height: normal;
    cursor: pointer;
    border-radius: 4px;
    min-height: 50px;
    max-width: 100%;
    margin-top: 40px;

}
.upgrade-wrap a button:hover, .upgrade-wrap a button:active, .upgrade-wrap a button:focus{
      outline: none;
    background: #fbb03b;
    border-color: #fbb03b;
    color: #000;
    border: 1px solid #fbb03b;
}


/* ==================== PREMIUM FEATURES ======================== */

.premium-features-title{
     text-transform: capitalize;
    font-weight: 400;
    font-size: 36px;
    letter-spacing: 0.5px;
    line-height: normal;
}
.premium-features-desc{
      font-size: 16px;
    letter-spacing: 0.5px;
    font-weight: 400;
    color: #fff;
    line-height: normal;
}
.join-now p{
	color: #fff;
}
.feature-list{
display: flex;
    position: relative;
    width: 100%;
        padding-top: 30px;

}
.feature-list-2{
        border-bottom: 1px solid;
    padding-bottom: 30px;
}
.feature-list .feature-detial{
    background: white;
    padding: 10px 18px;
    width: 300px;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        margin-right: 30px;
}
.feature-list .feature-detial:hover{
box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transform: translate(0px, 4px);
}
.feature-detial h3{
    color: #000;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: normal;
}
.feature-detial p{
    color: #000;
    text-align: left;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: normal;
}

.join-now h4{
        font-size: 24px;
    font-weight: normal;
    letter-spacing: 0.5px;
    line-height: normal;
    text-align: center;
}
.join-now p{
        font-size: 16px;
    letter-spacing: 0.5px;
    font-weight: normal;
    line-height: normal;
    text-align: center;

}
.join-now-btn{
    text-align: center;
}

/* =========================== TAB 3 ===================== */
#help-header{

}
#help-header .tab3-title{
    text-transform: uppercase;
    font-weight: 300;
    font-size: 36px;
    letter-spacing: 0.5px;
    line-height: normal;
}
#help-header p{
        font-size: 16px;
    letter-spacing: 0.5px;
    font-weight: 400;
     line-height: 28px;
    padding-bottom: 30px;
    color: #fff;
}

.help-features{
display: flex;

    padding-top: 50px;

}
.help-features .help-features-detial{
   background: white;
    padding: 10px 18px;
    width: 300px;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        margin-right: 30px;
        text-align: center;
        background-color: #fff;
    padding: 20px 20px;
    border: 1px solid #ddd;
}
.help-feature-1 i{
font-size: 30px;
    display: block;
    color: #52b3d9;
}
.help-feature-1 h3{
  color: #000;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: normal;
}
.help-feature-1 p{
 font-size: 16px;
    letter-spacing: 0.5px;
    font-weight: normal;
    line-height: normal;
    text-align: center;
      color: #000;
}
.help-feature-1 button{
    background: #0085ba;
    border-color: #0073aa #006799 #006799;
    box-shadow: 0 1px 0 #006799;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799;
    font-size: 13px;
    line-height: 26px;
    height: 28px;
    margin: 0;
    padding: 0 10px 1px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    white-space: nowrap;
    box-sizing: border-box;
    transition-property: border,background,color;
    transition-duration: .05s;
    transition-timing-function: ease-in-out;
}
.help-feature-1 button:hover,.help-feature-1 button:active,.help-feature-1 button:focus{
    background: #0073aa;
    border-color: #006799;
    box-shadow: inset 0 2px 0 #006799;
}
.help-feature-1 button:focus{
        box-shadow: 0 1px 0 #0073aa, 0 0 2px 1px #33b3db;
}
.get-pro{
    margin-top: 25px;
    font-size: 24px !important;
}
.paid-btns .btn-wrapper label{
width: 95%;
}
/* ================== SET MAX WIDTH ========================= */
.btn-width-wrapper{
padding-bottom: 30px;
    display: none;
}
.btn-width-wrapper #img-width{
    width: 250px;
    padding: 10px;
    border-radius: 4px;
}

.btn-width-wrapper label{
       display: block;
    margin-bottom: 20px;
    margin-left: 3px;
 
}